<div class="{% if block.settings.title != blank %}sf__accordion-content{% endif %} sf__footer-block-content">
  <div class="pb-5 md:pb-0 flex justify-center footer-html alignment-center">
    {% if block.settings.html != blank %}
      <div class="mt-0{% if block.settings.title != blank %} md:mt-4{% endif %} block-text">
        {{ block.settings.html }}
      </div>
    {% endif %}
    {% if block.settings.fly_image != blank %}
      <div style="width: 80px;">
        {% render 'responsive-image', image: block.settings.fly_image %}
      </div>
    
    {% endif %}
  </div>
</div>
