<div class="signup-title">
    <p>{{ section.settings.modal_title | upcase }}</p>
    {% if section.settings.bottom_image != blank %}
        <img 
            srcset="{%- if section.settings.bottom_image.width >= 375 -%}{{ section.settings.bottom_image | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.bottom_image.width >= 550 -%}{{ section.settings.bottom_image | img_url: '550x' }} 550w,{%- endif -%}
            {{ section.settings.bottom_image | img_url: 'master' }} {{ section.settings.bottom_image.width }}w"
            sizes="100vw"
            src="{{ section.settings.bottom_image | img_url: '1500x' }}"
            loading="lazy"
            alt="{{ section.settings.bottom_image.alt | escape }}"
            width="{{ section.settings.bottom_image.width }}"
            height="{{ section.settings.bottom_image.width | divided_by: section.settings.bottom_image.aspect_ratio }}"
        >
    {% endif %}
</div>
<div class="title-section-1">
    <div class="signup-text">
        {% if section.settings.signup_text_1 != blank %}
            {{section.settings.signup_text_1 | upcase }}
        {% endif %}
    </div>
    <img 
            srcset="{%- if section.settings.icon_image.width >= 375 -%}{{ section.settings.icon_image | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.icon_image.width >= 550 -%}{{ section.settings.icon_image | img_url: '550x' }} 550w,{%- endif -%}
            {{ section.settings.icon_image | img_url: 'master' }} {{ section.settings.icon_image.width }}w"
            sizes="100vw"
            src="{{ section.settings.icon_image | img_url: '1500x' }}"
            loading="lazy"
            alt="{{ section.settings.icon_image.alt | escape }}"
            width="{{ section.settings.icon_image.width }}"
            height="{{ section.settings.icon_image.width | divided_by: section.settings.icon_image.aspect_ratio }}"
        >
</div>
<div class="title-section-2">
    <div class="signup-text">
        {% if section.settings.signup_text_2 != blank %}
            {{section.settings.signup_text_2 | upcase }}
        {% endif %}
    </div>
</div>
<div class="title-section-3">
    <img 
        srcset="{%- if section.settings.icon_image.width >= 375 -%}{{ section.settings.icon_image | img_url: '375x' }} 375w,{%- endif -%}
        {%- if section.settings.icon_image.width >= 550 -%}{{ section.settings.icon_image | img_url: '550x' }} 550w,{%- endif -%}
        {{ section.settings.icon_image | img_url: 'master' }} {{ section.settings.icon_image.width }}w"
        sizes="100vw"
        src="{{ section.settings.icon_image | img_url: '1500x' }}"
        loading="lazy"
        alt="{{ section.settings.icon_image.alt | escape }}"
        width="{{ section.settings.icon_image.width }}"
        height="{{ section.settings.icon_image.width | divided_by: section.settings.icon_image.aspect_ratio }}"
    >
    <div class="signup-text-3">
        {% if section.settings.signup_text_3 != blank %}
            {{section.settings.signup_text_3 | upcase}}
        {% endif %}
    </div>
    
</div>
<div class="klaviyo-form-WJwhfU"></div>
<!-- <div class="klaviyo-form-WsUz3e"></div> -->