{% assign menu = linklists[block.settings.menu] %}
{% if menu.links != blank %}
    <ul class="sf__footer-block-content">
        <div class="footer-menu pb-5 md:pb-0">
            {% for link in menu.links %}
                <li class="link-lv2 leading-8 hover-underline">
                    {% if link.title contains 'Getting' %}
                    <a  href="#vendor_modal" rel="modal:open">
                        {{ section.settings.vendor_name | upcase }}
                    </a>
                    {% else %}
                    <a href="{{ link.url }}">
                        {{ link.title | upcase }}
                    </a>
                    {% endif %}
                </li>
            {% endfor %}
        </div>
    </ul>
{% endif %}
