{% assign show_language_switcher = section.settings.show_language_switcher %}
{% assign show_currency_switcher = section.settings.show_currency_switcher %}
{% assign show_account_icon = section.settings.show_account_icon %}
{% assign show_wishlist_icon = section.settings.show_wishlist_icon %}
{% assign show_compare_icon = section.settings.show_compare_icon %}
{% assign show_cart_icon = section.settings.show_cart_icon %}

{% assign design = section.settings.header_design %}

{% assign container = section.settings.container %}
{% if container == 'w-full' %}
  {% assign container = container | append: ' px-4' %}
{% endif %}
<header
    class="hidden lg:block bg-white sf-header__desktop {{ design }}"
    data-screen="sf-header__desktop"
    data-transparent="{{ transparent_on_top }}"
>
    <div class="sf-header__bg pointer-events-none"></div>
    <div class="sf-header__dropdown-bg absolute top-full left-0 right-0 pointer-events-none"></div>
    {% case design %}
        {% when 'logo-center-menu-left' %}
            <div class="{{ container }} relative z-[1]">
                <div class="sf-menu-logo-bar flex -mx-4 items-center">
                    {% render 'header-main-menu-container', section: section, box_size: 'w-5/12' %}
                    {% render 'header-logo', header_settings: section.settings, box_size: 'w-1/6' %}
                    <div class="w-5/12 flex flex-grow justify-end items-center">
                        {% if show_language_switcher %}
                            {% render 'language-switcher', box_size: 'hidden xl:block' %}
                        {% endif %}
                        {% if show_currency_switcher %}
                            {% render 'currency-switcher', box_size: 'hidden xl:block' %}
                        {% endif %}
                        {% render 'header-option-item__search', header_settings: section.settings %}
                        {% if show_account_icon %}
                            {% render 'header-option-item__account', display_by: 'icon' %}
                        {% endif %}
                        {% if show_wishlist_icon %}
                            {% render 'header-option-item__wishlist', display_by: 'icon' %}
                        {% endif %}
                        {% if show_compare_icon %}
                            {% render 'header-option-item__compare', display_by: 'icon' %}
                        {% endif %}
                        {% if show_cart_icon %}
                            {% render 'cart' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% when 'both-center' %}
            <div class="{{ container }} relative z-[1]">
                <div class="sf-menu-logo-bar flex -mx-4 items-center">
                    <div class="flex flex-grow w-1/6 items-center">
                        {% if show_language_switcher %}
                            {% render 'language-switcher', box_size: 'hidden xl:block' %}
                        {% endif %}
                        {% if show_currency_switcher %}
                            {% render 'currency-switcher', box_size: 'hidden xl:block' %}
                        {% endif %}
                        {% render 'header-option-item__search', header_settings: section.settings, icon_left: true %}
                    </div>
                    {% render 'header-main-menu-container', section: section, box_size: 'w-1/4', justify: 'justify-end' %}
                    {% render 'header-logo', header_settings: section.settings, box_size: 'w-1/6' %}
                    {% render 'header-main-menu-container', section: section, menu: 'secondary_menu', box_size: 'w-1/4' %}
                    <div class="w-1/6 flex justify-end sf-options-wrapper__desktop items-center">
                        {% if show_account_icon %}
                            {% render 'header-option-item__account', display_by: 'icon' %}
                        {% endif %}
                        {% if show_wishlist_icon %}
                            {% render 'header-option-item__wishlist', display_by: 'icon' %}
                        {% endif %}
                        {% if show_compare_icon %}
                            {% render 'header-option-item__compare', display_by: 'icon' %}
                        {% endif %}
                        {% if show_cart_icon %}
                            {% render 'cart' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% when 'logo-left-menu-center' %}
            <div class="{{ container }} relative z-[1]">
                <div class="sf-menu-logo-bar flex -mx-4 items-center">
                    {% render 'header-logo', header_settings: section.settings, box_size: 'flex-1', justify: 'justify-start' %}
                    {% render 'header-main-menu-container', section: section, box_size: 'flex-grow-[2] shrink', justify: 'justify-center' %}
                    <div class="flex flex-1 justify-end items-center">
                        {% if show_language_switcher %}
                            {% render 'language-switcher', box_size: 'hidden xl:block' %}
                        {% endif %}
                        {% if show_currency_switcher %}
                            {% render 'currency-switcher', box_size: 'hidden xl:block' %}
                        {% endif %}
                        {% render 'header-option-item__search', header_settings: section.settings %}
                        {% if show_account_icon %}
                            {% render 'header-option-item__account', display_by: 'icon' %}
                        {% endif %}
                        {% if show_wishlist_icon %}
                            {% render 'header-option-item__wishlist', display_by: 'icon' %}
                        {% endif %}
                        {% if show_compare_icon %}
                            {% render 'header-option-item__compare', display_by: 'icon' %}
                        {% endif %}
                        {% if show_cart_icon %}
                            {% render 'cart' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% when 'logo-center__2l' %}
            <div class="{{ container }} sf__header-main-top relative z-[1]">
                <div class="flex sf-menu-logo-bar items-center">
                    <div class="w-2/5 flex flex-grow items-center">
                        {% if show_language_switcher %}
                            {% render 'language-switcher', box_size: '-mx-4' %}
                        {% endif %}
                        {% if show_currency_switcher %}
                            {% render 'currency-switcher' %}
                        {% endif %}
                        {% render 'header-option-item__search', header_settings: section.settings, icon_left: true %}
                    </div>
                    {% render 'header-logo', header_settings: section.settings, box_size: 'w-1/5' %}
                    <div class="w-2/5 flex justify-end sf-options-wrapper__desktop items-center">
                        {% if show_account_icon %}
                            {% render 'header-option-item__account', display_by: 'icon' %}
                        {% endif %}
                        {% if show_wishlist_icon %}
                            {% render 'header-option-item__wishlist', display_by: 'icon' %}
                        {% endif %}
                        {% if show_compare_icon %}
                            {% render 'header-option-item__compare', display_by: 'icon' %}
                        {% endif %}
                        {% if show_cart_icon %}
                            {% render 'cart' %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="{{ container }} sf__header-main-menu relative z-[1]">
                {% render 'header-logo', header_settings: section.settings %}
                {% render 'header-main-menu-container', section: section, justify: 'justify-center', box_size: '-mx-4' %}
                <div class="flex justify-end sf-options-wrapper__desktop items-center">
                    {% if show_account_icon %}
                        {% render 'header-option-item__account', display_by: 'icon' %}
                    {% endif %}
                    {% if show_wishlist_icon %}
                        {% render 'header-option-item__wishlist', display_by: 'icon' %}
                    {% endif %}
                    {% if show_compare_icon %}
                        {% render 'header-option-item__compare', display_by: 'icon' %}
                    {% endif %}
                    {% if show_cart_icon %}
                        {% render 'cart' %}
                    {% endif %}
                </div>
            </div>
        {% when 'logo-left__2l' %}
            <div class="{{ container }} sf__header-main-top">
                <div class="flex sf-menu-logo-bar -mx-4 items-center py-2">
                    {% render 'header-logo', header_settings: section.settings, box_size: 'w-1/3', box_size: 'justify-start' %}
                    <div class="w-2/3 flex flex-grow justify-end items-center">
                        {% render 'header-option-item__search', header_settings: section.settings %}
                        {% if show_language_switcher %}
                            {% render 'language-switcher', box_size: 'hidden xl:block' %}
                        {% endif %}
                        {% if show_currency_switcher %}
                            {% render 'currency-switcher', box_size: 'hidden xl:block' %}
                        {% endif %}
                        {% if show_account_icon %}
                            {% render 'header-option-item__account', display_by: 'icon' %}
                        {% endif %}
                        {% if show_wishlist_icon %}
                            {% render 'header-option-item__wishlist', display_by: 'icon' %}
                        {% endif %}
                        {% if show_compare_icon %}
                            {% render 'header-option-item__compare', display_by: 'icon' %}
                        {% endif %}
                        {% if show_cart_icon %}
                            {% render 'cart' %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% assign box_size = container | append: ' -mx-4' %}
            <div class="sf-menu-bar bg-color-menubar-background text-color-menubar">
                {% render 'header-main-menu-container', section: section, box_size: box_size %}
            </div>
    {% endcase %}
    {% if settings.border_image != blank %}
        <div class="header_border">
            {% render 'responsive-image', image_class: 'inline-block', image: settings.border_image, wrapper_class: default_class, alt: logo_alt %}
        </div>
    {% endif %}
</header>
