{% for block in header.blocks %}
    {% if block.type == "topbar" %}
        {% assign show_phone_numb = block.settings.show_phone_numb %}
        {% assign show_email = block.settings.show_email %}
        {% assign show_social_links = block.settings.show_social_links %}
        {% assign show_stores_page = block.settings.show_stores_page %}
        {% assign show_language_switcher = block.settings.show_language_switcher %}
        {% assign show_currency_switcher = block.settings.show_currency_switcher %}
        {% assign show_divider = block.settings.show_divider %}
        {% assign message = block.settings.alert_message %}

        {% assign container = section.settings.container %}
      <style>
      
      </style>
        <div class="sf-topbar py-3.5 relative bg-color-topbar-background text-color-topbar{% if show_divider %} border-b border-color-border{% endif %}">
            <div class="{{ container }}">
                <div class="sf__topbar-inner -mx-4">
                    
                    {% if message != blank %}
                    <div class="flex justify-center">{{ message }}</div>
                    {% endif %}
                    
                </div>
            </div>
        </div>
        {% break %}
    {% endif %}

{% endfor %}
