<svg xmlns="http://www.w3.org/2000/svg" width="36.667" height="33" viewBox="0 0 36.667 33">
    <path id="Icon_material-print" data-name="Icon material-print" d="M34.167,13.667H8.5a5.493,5.493,0,0,0-5.5,5.5v11h7.333V37.5h22V30.167h7.333v-11A5.493,5.493,0,0,0,34.167,13.667Zm-5.5,20.167H14V24.667H28.667ZM34.167,21A1.833,1.833,0,1,1,36,19.167,1.839,1.839,0,0,1,34.167,21ZM32.333,4.5h-22v7.333h22Z" transform="translate(-3 -4.5)"/>
  </svg>
  