<svg class="icon-cart-white" width="45" height="46" viewBox="0 0 45 46" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_7_6642)">
    <path d="M0.108337 0.616333V5.15631H4.7019L12.8779 22.0884C12.8779 22.0884 7.76428 26.8283 11.3178 31.6252C12.0689 32.6246 13.2534 33.2242 14.5246 33.2242H39.7748V29.9406H14.698C14.698 29.9406 12.3867 27.5421 15.218 24.6297H33.65L44.1083 5.41329H10.8555V0.616333H0.108337Z" fill="white"/>
    <path d="M12.3868 45.6163C14.8599 45.6163 16.8648 43.6348 16.8648 41.1906C16.8648 38.7463 14.8599 36.7648 12.3868 36.7648C9.91362 36.7648 7.90875 38.7463 7.90875 41.1906C7.90875 43.6348 9.91362 45.6163 12.3868 45.6163Z" fill="white"/>
    <path d="M36.3657 45.6163C38.8388 45.6163 40.8437 43.6348 40.8437 41.1906C40.8437 38.7463 38.8388 36.7648 36.3657 36.7648C33.8926 36.7648 31.8877 38.7463 31.8877 41.1906C31.8877 43.6348 33.8926 45.6163 36.3657 45.6163Z" fill="white"/>
    </g>
    <defs>
    <clipPath id="clip0_7_6642">
    <rect width="44" height="45" fill="white" transform="translate(0.108337 0.616333)"/>
    </clipPath>
    </defs>
    </svg>
    