{% assign bg_color = 'white,green,red,orange,purple,green' %}
{% assign colors = bg_color | split: ',' %}

{% assign color_codes = '#ffffff,#00944A,#BE031E,#F25F24,#8F3694,#00944A' %}
{% assign color_arr = color_codes | split: ',' %}

{% assign menu = linklists['information'] %}

{% assign is_continue = true %}
{% assign is_passed = false %}

{% for link in menu.links %}

  {% assign is_contain = false %}
  {% assign seg = link.url | split: '/' | last %}
  {% if seg == handle %}
    {% assign is_contain = true %}
  {% endif %}

  {% if flag == 1 and is_passed == false %}
    {% if is_contain == true %}
      {% assign is_passed = true %}
    {% endif %}
    {% continue %}
  {% endif %}

  {% if is_continue %}
    <li class="page-navigation" style="z-index:{{ menu.links.size | minus: forloop.index0 }}">
      <a class="--bg-{{ colors[forloop.index0] }}" href="{{ link.url }}" style=" background:url({{ 'bg_' | append: colors[forloop.index0] | append: '.png' | asset_img_url: '2048x' }})">
        {{ link.title }}
        <img src="{{ 'bg_line.png' | asset_img_url: '1000x' }}" loading="lazy" class="lazyload" alt="">
      </a>
    </li>
  {% endif %}

  {% if flag == 0 and is_contain == true %}
    {% assign is_continue = false %}
    <style>
      .main_content {
        background: {{ color_arr[forloop.index0] }};
      }
    </style>
  {% endif %}
{% endfor %}