<div class="sf__pcard {{ card_sale_class | strip_newlines }} cursor-pointer sf-prod__block sf__pcard-style-1" data-view="card"{% if sold_number != blank %} data-sold-number="{{ sold_number }}"{% endif %}>
  {%- form 'product', product, id: form_id, class: 'product-form form', novalidate: 'novalidate', data-product-id: product.id, data-product-handle: product.handle -%}
    {% render 'product-card-variant-id-input', product: product %}
    <div class="sf__pcard-image {% unless settings.show_second_img %} spc__img-only{% endunless %}">
      <div class="overflow-hidden cursor-pointer relative sf__image-box">
        {% render 'product-card-main-images', product: product, image_ratio: image_ratio %}
        {% render 'product-card-sale-badges', product: product %}
        {% render 'product-card-soldout-text', sold_out: sold_out %}
        {%- if settings.show_quickview_button or settings.show_wishlist_button or settings.show_compare_button -%}
          <div class="sf__pcard-action hidden md:block z-10">
            {% render 'product-card-tooltips', product: product, position: 'left', card_style: "1" %}
          </div>
        {%- endif -%}
        {% render 'product-card-countdown', product: product %}
      </div>
    </div>
    <div class="sf__pcard-content text-{{ settings.pcard_alignment }}">
      {% render 'product-card-info', product: product, show_vendor: show_vendor, show_title: show_title %}
      <!-- {% render 'product-card-view-list', product: product, quick_add_text: quick_add_text %} -->
      {%- if sold_out == false -%}
        {% render 'product-card-quick-add-btn', product: product, quick_add_text: quick_add_text %}
      {% endif %}
    </div>
  {%- endform -%}
</div>

