{%- if settings.show_cart_button -%}
  <div class="sf__pcard-quick-add">
    
      {% if settings.select_option_button_action == 'popup' %}
      <button class="sf-pqv__button sf__btn sf__btn-secondary  flex-grow cart-add-to-cart" data-product-handle="{{ product.handle }}">
        {% render 'icon-cart-white' %}
        <span>{{ quick_add_text | upcase}}</span>
      </button>
      {% else %}
        <a class="sf__btn sf__btn-secondary sf__btn-white flex-grow" href="{{ product.url }}">
          <span>{{ quick_add_text }}</span>
        </a>
      {% endif %}
  </div>
{%- endif -%}
