{% assign pcard_default_image = settings.pcard_default_image %}
{% if image_ratio == nil or image_ratio == blank %}
  {%- assign image_ratio = settings.pcard_image_ratio | default: '1/1' -%}
{% endif %}

{%- assign preview_image = product.media[0].preview_image -%}
{%- if section.settings.change_product_variant_on_fitlering == true and product.selected_variant.image != nil -%}
  {%- assign preview_image = product.selected_variant.image -%}
{%- endif -%}

{%- if image_ratio == 'original' -%}
  {%- assign image_ratio = product.media[0].aspect_ratio | default: '1/1' -%}
{%- endif -%}

{%- assign second_image = '' -%}
{% if settings.show_second_img and product.images.size > 1 and product.images[1] != blank %}
  {%- assign second_image = product.images[1] -%}
{% endif %}

{%- assign image_attributes = 'alt="' | append: product.title | append: '"' -%}

<div class="flex justify-center items-center">
  <div  class=" product-card-image block w-full">
      {% if preview_image != blank %}
        <div class="spc__main-img{% if product.images.size < 2 %} spc__img-only{% endif %}">
          {% render 'responsive-image',
              image: preview_image,
              aspect_ratio: image_ratio,
              image_class: 'se-out w-full h-full',
              image_attributes: image_attributes
          %}
        </div>

        {%- if second_image != blank -%}
          <div class="spc__hover-img">
            {% render 'responsive-image',
                image: second_image,
                aspect_ratio: image_ratio,
                image_class: 'se-out w-full h-full',
                image_attributes: image_attributes
            %}
          </div>
        {%- endif -%}
      {% else %}
        {% if pcard_default_image != blank %}
          {% render 'responsive-image', image: pcard_default_image, aspect_ratio: image_ratio, image_class: 'se-out w-full h-full', image_attributes: image_attributes %}
        {% else %}
          <div style="--aspect-ratio: {{ image_ratio }}">
            <img src="https://dummyimage.com/408x535/ddd/aaa" alt="{{ product.title }}" loading="lazy" />
          </div>
        {% endif %}
      {% endif %}
        </div>
</div>
