<div class="signup-title">
    <p>{{ section.settings.modal_title | upcase }}</p>
    {% if section.settings.bottom_image != blank %}
        <img 
            srcset="{%- if section.settings.bottom_image.width >= 375 -%}{{ section.settings.bottom_image | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.bottom_image.width >= 550 -%}{{ section.settings.bottom_image | img_url: '550x' }} 550w,{%- endif -%}
            {{ section.settings.bottom_image | img_url: 'master' }} {{ section.settings.bottom_image.width }}w"
            sizes="100vw"
            src="{{ section.settings.bottom_image | img_url: '1500x' }}"
            loading="lazy"
            alt="{{ section.settings.bottom_image.alt | escape }}"
            width="{{ section.settings.bottom_image.width }}"
            height="{{ section.settings.bottom_image.width | divided_by: section.settings.bottom_image.aspect_ratio }}"
        >
    {% endif %}
</div>
<div class="title-section-1">
    <div class="signup-text">
        {% if section.settings.signup_text_1 != blank %}
            {{section.settings.signup_text_1 | upcase }}
        {% endif %}
    </div>
    <img 
            srcset="{%- if section.settings.icon_image.width >= 375 -%}{{ section.settings.icon_image | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.icon_image.width >= 550 -%}{{ section.settings.icon_image | img_url: '550x' }} 550w,{%- endif -%}
            {{ section.settings.icon_image | img_url: 'master' }} {{ section.settings.icon_image.width }}w"
            sizes="100vw"
            src="{{ section.settings.icon_image | img_url: '1500x' }}"
            loading="lazy"
            alt="{{ section.settings.icon_image.alt | escape }}"
            width="{{ section.settings.icon_image.width }}"
            height="{{ section.settings.icon_image.width | divided_by: section.settings.icon_image.aspect_ratio }}"
        >
</div>
<div class="title-section-2">
    <div class="signup-text">
        {% if section.settings.signup_text_2 != blank %}
            {{section.settings.signup_text_2 | upcase }}
        {% endif %}
    </div>
</div>
<div class="title-section-3">
    <img 
        srcset="{%- if section.settings.icon_image.width >= 375 -%}{{ section.settings.icon_image | img_url: '375x' }} 375w,{%- endif -%}
        {%- if section.settings.icon_image.width >= 550 -%}{{ section.settings.icon_image | img_url: '550x' }} 550w,{%- endif -%}
        {{ section.settings.icon_image | img_url: 'master' }} {{ section.settings.icon_image.width }}w"
        sizes="100vw"
        src="{{ section.settings.icon_image | img_url: '1500x' }}"
        loading="lazy"
        alt="{{ section.settings.icon_image.alt | escape }}"
        width="{{ section.settings.icon_image.width }}"
        height="{{ section.settings.icon_image.width | divided_by: section.settings.icon_image.aspect_ratio }}"
    >
    <div class="signup-text-3">
        {% if section.settings.signup_text_3 != blank %}
            {{section.settings.signup_text_3 | upcase}}
        {% endif %}
    </div>
    
</div>
{% form 'customer', class: 'newsletter-form' %}
    <input type="hidden" name="contact[tags]" value="newsletter">
    <div class="newsletter-form__field-wrapper">
        <div class="field">
            <input
            id="NewsletterForm--firstname"
            type="text"
            name="contact[first_name]"
            class="field__input"
            value="{{ form.first_name }}"
            aria-required="true"
            autocorrect="off"
            autocapitalize="off"
            placeholder="FIRST NAME"
            required
            >
            <label class="field__label" for="NewsletterForm--firstname">
            FIRST NAME
            </label>
           
        </div>
        <div class="field">
            <input
            id="NewsletterForm--{{ section.id }}"
            type="email"
            name="contact[email]"
            class="field__input"
            value="{{ form.email }}"
            aria-required="true"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            {% if form.errors %}
                autofocus
                aria-invalid="true"
                aria-describedby="Newsletter-error--{{ section.id }}"
            {% elsif form.posted_successfully? %}
                aria-describedby="Newsletter-success--{{ section.id }}"
            {% endif %}
            placeholder="{{ 'newsletter.label' | t }}"
            required
            >
            <label class="field__label" for="NewsletterForm--{{ section.id }}">
            {{ 'newsletter.label' | t }}
            </label>
            
        </div>
        <button  class="newsletter-form__button_1 " name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
           {{ section.settings.signup_button | upcase }}
        </button>
        {%- if form.errors -%}
            <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
        {%- endif -%}
    </div>
        {%- if form.posted_successfully? -%}
        <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
        {%- endif -%}
{% endform %}
<script>
   $(document).ready(function() {
    $('.newsletter-form__button_1').click( function(e){
     

      e.preventDefault();
      console.log("ajax newsletter");
      return false;
      if($(this).find('input[type="email"]').val() !== ''){
        var data = $(this).serialize();
        $.ajax({  
          type: "POST",  
          url: "/contact",  
          data: data,  
          success: function() { 
            $('.newsletter-form__message--success').css('display','block');
          },
          error: function() {
            $('.newsletter-form__message--error').css('display','block');
          }    
        }); 
      }

      return false;
    });
     });
</script>