{%- assign st = section.settings -%}
{%- assign total_active_values = 0 -%}

<script src="{{ '2.0-filters.min.js' | asset_url }}" defer="defer"></script>
<collection-filters-form>
  <form id="CollectionFiltersForm">
    {%- if st.show_sorting -%}
      <div class="hidden" data-form-sorting>
        {% render 'collection-filters-sort-by' %}
      </div>
    {%- endif -%}
    <div class="pb-4">
      {%- for filter in collection.filters -%}
        {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
        {%- assign acc_open_class = 'open' -%}
        {%- assign acc_content_style = 'style="opacity: 1;"' -%}
        {%- if st.collapsed_groups contains filter.label -%}
          {%- assign acc_open_class = '' -%}
          {%- assign acc_content_style = '' -%}
        {%- endif -%}
        {% case filter.type %}
          {% when 'list' %}
            <div class="sf__accordion-item {{ acc_open_class }}" data-index="{{ forloop.index }}">
              <div class="mb-1.5 sf__accordion-button text-lg">
                <span>{{ filter.label | escape }}</span>
              </div>
              <div class="sf__accordion-content" {{ acc_content_style }}>
                <ul class="{% if st.limit_height_widget %}sf-scroll_content{% endif %}" role="list">
                  {%- for value in filter.values -%}
                    <li>
                      <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}" class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}">
                        <input
                          type="checkbox"
                          name="{{ value.param_name }}"
                          value="{{ value.value }}"
                          id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                          {% if value.active %}checked{% endif %}
                          {% if value.count == 0 and value.active == false %}disabled{% endif %}
                        >
                        {% render 'icon', name: 'checkbox' %}
                        {% render 'icon', name: 'check-mark' %}
                        <span class='filter-label'>{{ value.label | escape }}</span>
                        {%- if st.show_product_count -%}
                          <span class='ml-1 filter-products-count'>({{ value.count }})</span>
                        {%- endif -%}
                      </label>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </div>
          {% when 'price_range' %}
            {%- liquid
              assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
              assign uses_comma_decimals = false
              if currencies_using_comma_decimals contains cart.currency.iso_code
                assign uses_comma_decimals = true
              endif

              if uses_comma_decimals
                assign from_value = filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.'
                assign to_value = filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.'
                assign max = filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.'
              else
                assign from_value = filter.min_value.value | money_without_currency | replace: ',', ''
                assign to_value = filter.max_value.value | money_without_currency | replace: ',', ''
                assign max = filter.range_max | money_without_currency | replace: ',', ''
              endif

              assign to_value = to_value | default: max
              assign _from = from_value | divided_by: max | times: 100 | round: 2
              assign _to = to_value | divided_by: max | times: 100 | round: 2
              if filter.min_value.value != blank or filter.max_value.value != blank
                assign total_active_values = total_active_values | plus: 1
              endif
            -%}
            <div class="sf__accordion-item {{ acc_open_class }}" data-index="{{ forloop.index }}">
              <div class="mb-1.5 sf__accordion-button">{{ filter.label | escape }}</div>
              <div class="sf__accordion-content" {{ acc_content_style }}>
                <price-range 
                  class="sf-facets-price"
                  data-price-max="{{ max }}"
                  data-price-gap="{{ max | times: 0.06 }}"
                  style="--from: {{ _from | default: 0 }}%; --to: {{ _to | default: 100 }}%; --color: #222;"
                >
                  <div class="sf-facets-price__range-group">
                    <input 
                      type="range"
                      aria-label="{{ 'sections.collection_template.from' | t }}"
                      class="sf-facets-price__range sf-facets-price__range--min"
                      min="0" max="{{ max }}"
                      value="{{ from_value | default: 0 }}"
                      data-type="min-range"
                    />
                    <input 
                      type="range"
                      aria-label="{{ 'sections.collection_template.to' | t }}"
                      class="sf-facets-price__range sf-facets-price__range--max"
                      min="0" max="{{ max }}"
                      value="{{ to_value }}"
                      data-type="max-range"
                    />
                  </div>
                  <div class="sf-facets-price__inputs">
                    <div class="sf-facets-price__field">
                      <span class="visually-hidden">{{ 'sections.collection_template.from' | t }}</span>
                      <span class="sf-facets-price__field-currency">{{ cart.currency.symbol }}</span>
                      <input 
                        class="form-control"
                        name="{{ filter.min_value.param_name }}"
                        data-type="min-input"
                        id="Filter-{{ filter.label | escape }}-GTE"
                        type="number" placeholder="0"
                        min="0" max="{{ max }}"
                        {%- if filter.min_value.value -%}value="{{ from_value }}"{%- endif -%}
                      />
                    </div>
                    <span class="sf-facets-price__to">{{ 'sections.collection_template.to' | t }}</span>
                    <div class="sf-facets-price__field">
                      <span class="visually-hidden">{{ 'sections.collection_template.to' | t }}</span>
                      <span class="sf-facets-price__field-currency">{{ cart.currency.symbol }}</span>
                      <input 
                        class="form-control"
                        data-type="max-input"
                        name="{{ filter.max_value.param_name }}"
                        id="Filter-{{ filter.label | escape }}-LTE"
                        type="number" placeholder="{{ max }}"
                        min="0" max="{{ max }}"
                        {%- if filter.max_value.value -%}value="{{ to_value }}"{%- endif -%}
                      />
                    </div>
                  </div>
                </price-range>
              </div>
            </div>
        {% endcase %}
      {%- endfor -%}
    </div>
    {%- if collection.current_vendor or collection.current_type -%}
      <input type="hidden" name="q" value="{{ collection.current_vendor }}{{ collection.current_type }}">
    {%- endif -%}
  </form>
</collection-filters-form>
