<div class="tab-titles">
    {% assign menu = linklists['tab'] %}

    {% assign is_continue = true %}
    {% assign is_passed = false %}
    
    {% for link in menu.links %}
        <a href="{{link.url}}" class="tab-title {% if link.active %} active{% endif %}">
            {{ link.title | upcase }}
        </a>
    {% endfor %}
</div>
