<div class="sf__pcard {{ card_sale_class | strip_newlines }} cursor-pointer sf-prod__block sf__pcard-style-2" data-view="card"{% if sold_number != blank %} data-sold-number="{{ sold_number }}"{% endif %}>
    {%- form 'product', product, id: form_id, class: 'product-form form', novalidate: 'novalidate', data-product-id: product.id, data-product-handle: product.handle -%}
      {% render 'product-card-variant-id-input', product: product %}
      <div class="sf__pcard-image {% unless settings.show_second_img %} spc__img-only{% endunless %}">
        <div class="overflow-hidden cursor-pointer relative sf__image-box">
          {% render 'product-card-main-images', product: product, image_ratio: image_ratio %}
          {% render 'product-card-soldout-text', sold_out: sold_out %}
          {% render 'product-card-view-list', product: product, quick_add_text: quick_add_text %}
        </div>
      </div>
      <div class="sf__pcard-content text-{{ settings.pcard_alignment }}">
        {% render 'product-card-info', product: product, show_vendor: show_vendor, show_title: show_title %}
        
      </div>
    {%- endform -%}
    <div class='background-color-expand'></div>
  </div>
  
  