{%- capture body_classes -%}
template-{{ template.name | handle }} {{ template.name }}-{{ template.suffix }} {{ template.name | append: '-' | append: handle }} {% if cart.item_count == 0 %}cart-empty{% endif %}
{%- endcapture -%}

{% liquid
  assign enable_rtl = settings.enable_rtl
  assign language_support_rtl = settings.language_support_rtl
  if enable_rtl and language_support_rtl != blank
    assign shop_locale = localization.language.iso_code
    assign language_support_rtl_list = language_support_rtl | split: ','
    assign is_rtl = language_support_rtl_list | where: shop_locale
    if is_rtl.size > 0
      assign enable_rtl = true
    else
      assign enable_rtl = false
    endif
  endif

%}
<!doctype html>
<html
  class="no-js supports-no-cookies"
  lang="{{ request.locale.iso_code }}"
  style="--sf-page-opacity: 0;"
  data-template="{{ template.name }}"
  {% if enable_rtl %}dir="rtl"{% endif %}
>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
	<meta name="theme-color" content="{{ settings.color_primary }}">

  {% render 'preload' %}
  {% render 'SEO' %}
  {%include "preconnect"%}
  {% render 'social-meta-tags' %}
  {% render 'font-face' %}
  {% render 'critical-css' %}
  {% render 'critical-scripts' %}
  {% render 'style-tags' %}
  {% render 'custom-code-head' %}
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

  <!-- jQuery Modal -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  {% comment %} {% render 'content_for_header' %} {% endcomment %}
  {{ content_for_header }}
</head>

<body
  id="sf-theme" style="opacity: 0;"
  class="{{ body_classes }} relative min-h-screen{% if customer %} customer-logged-in{% endif %}"
  {% if template.name == 'product' %}data-product-id="{{ product.id }}"{% endif %}
>
  {% render 'theme-data' %}
  {% section 'annoucement' %}
  {% section 'header' %}

  <main role="main" id="MainContent">
    {% render 'scroll-top-button' %}
    {{ content_for_layout }}
    <div id="cart-drawer-container"></div>
  </main>
  {% section 'countdown-timer' %}
  {% section 'footer' %}
  {% section 'mobile-sticky-bar' %}

  {% render 'custom-code-body' %}
  {% render 'foxkit-messenger' %}
  {% render 'script-tags' %}
  {% if template == "collection" %}
  <script>
    document.querySelectorAll('.sf__pcard-image').forEach((el) => {
		el.addEventListener('click', function () {
      el.parentNode.querySelector('.sf-pqv__button').click();
		  console.log("image click");
		});
	});
  </script>
  {% endif %}
  
  <script>
    document.addEventListener('DOMContentLoaded', () => {
        var main_content = document.querySelector(".main_content");
        if(main_content){
          main_content.scrollIntoView();
        }
    });
  </script>
  
  <script data-src="https://cdn.us.zip.co/v1/quadpay.js"></script>
  {%include "footer_content"%}

</body>
</html>
