
<div class="section-event" style="
background-image: url('{{ section.settings.Background | img_url: 'master' }}');
background-size: cover;
background-color: var(--color-black);
">
    <div class="section-event__content page-width">
        {% for block in section.blocks %}
            {% assign mod = forloop.index | modulo: 2 %}
                <div class="section-event__content-apply {% if mod != 1 %} reverse {% endif %} ">
                    <div class="event-section-1">
                        {% if block.settings.pre_text != blank %}
                            <div class="section-event__content-apply-pre">
                                {{ block.settings.pre_text | upcase }} &nbsp;
                            </div>
                        {% endif %}
                        <div class="event-section-2">
                            {% if block.settings.event_name != blank %}
                                <div class="section-event__content-apply-event">
                                    {{ block.settings.event_name | upcase }} 
                                </div>
                            {% endif %}
                            {% if block.settings.bottom_image != blank %}
                                <img 
                                    srcset="{%- if block.settings.bottom_image.width >= 375 -%}{{ block.settings.bottom_image | img_url: '375x' }} 375w,{%- endif -%}
                                    {%- if block.settings.bottom_image.width >= 550 -%}{{ block.settings.bottom_image | img_url: '550x' }} 550w,{%- endif -%}
                                    {{ block.settings.bottom_image | img_url: 'master' }} {{ block.settings.bottom_image.width }}w"
                                    sizes="100vw"
                                    src="{{ block.settings.bottom_image | img_url: '1500x' }}"
                                    loading="lazy"
                                    alt="{{ block.settings.bottom_image.alt | escape }}"
                                    width="{{ block.settings.bottom_image.width }}"
                                    height="{{ block.settings.bottom_image.width | divided_by: block.settings.bottom_image.aspect_ratio }}"
                                >
                            {% endif %}
                        </div>
                    </div>
                    {% comment %} {% if block.settings.arrow_image != blank %}
                        <img class="arrow_image"
                            srcset="{%- if block.settings.arrow_image.width >= 375 -%}{{ block.settings.arrow_image | img_url: '375x' }} 375w,{%- endif -%}
                            {%- if block.settings.arrow_image.width >= 550 -%}{{ block.settings.arrow_image | img_url: '550x' }} 550w,{%- endif -%}
                            {{ block.settings.arrow_image | img_url: 'master' }} {{ block.settings.arrow_image.width }}w"
                            sizes="100vw"
                            src="{{ block.settings.arrow_image | img_url: '1500x' }}"
                            loading="lazy"
                            alt="{{ block.settings.arrow_image.alt | escape }}"
                            width="{{ block.settings.arrow_image.width }}"
                            height="{{ block.settings.arrow_image.width | divided_by: block.settings.arrow_image.aspect_ratio }}"
                            
                        >
                    {% endif %} {% endcomment %}
                    {% if block.settings.button_name != blank %}
                        <div class="apply-button-section">
                            <a class="event_apply_btn" href="#{{block.id}}" rel="modal:open">
                                {{ block.settings.button_name | upcase}}
                            </a>
                        </div>
                       
                    {% endif %}
                </div>
                <div id="{{block.id}}" class="modal">
                    {% if block.settings.modal_title != blank%}
                        <h1 class="modal_title">{{block.settings.modal_title | upcase}}</h1>
                        {% if block.settings.bottom_image != blank %}
                            <img 
                                srcset="{%- if block.settings.bottom_image.width >= 375 -%}{{ block.settings.bottom_image | img_url: '375x' }} 375w,{%- endif -%}
                                {%- if block.settings.bottom_image.width >= 550 -%}{{ block.settings.bottom_image | img_url: '550x' }} 550w,{%- endif -%}
                                {{ block.settings.bottom_image | img_url: 'master' }} {{ block.settings.bottom_image.width }}w"
                                sizes="100vw"
                                src="{{ block.settings.bottom_image | img_url: '1500x' }}"
                                loading="lazy"
                                alt="{{ block.settings.bottom_image.alt | escape }}"
                                width="{{ block.settings.bottom_image.width }}"
                                height="{{ block.settings.bottom_image.width | divided_by: block.settings.bottom_image.aspect_ratio }}"
                            >
                        {% endif %}
                    {% endif %}
                    <div class="modal_content">
                        {% if block.settings.modal_content != blank%}
                            <div class="term_service">{{block.settings.modal_content | upcase}}</div>
                        {% endif %}
                    </div>
                    
                    <div class="download_term">
                        <a class="file_link" href="{{block.settings.file}}">
                            {% render 'icon-download' %}
                            <b> &nbsp; Click here</b>
                        </a>
                        <p> &nbsp; to download our Legal Terms.</p>
                    </div>
                    <div class="agree_text">
                        {{block.settings.agree_text}}
                    </div>

                    {% if block.settings.event_id != blank%}
                        <button class="modal_agree_button" data-tf-popup="{{block.settings.event_id}}" data-tf-iframe-props="title=AfroUnion Performer Registration" data-tf-medium="snippet">I AGREE</button><script src="//embed.typeform.com/next/embed.js"></script>
                        
                    {% else %}
                        <a class="modal_agree_button" href="#" rel="modal:close">I AGREE</a>
                    {% endif %}
                </div>
        {% endfor %}
        {% if section.settings.title != blank %}
            <div class="section-tbd__content_title">
            {{section.settings.title}}
            </div>
        {% endif %}
      
    </div>
</div>
<style>
    .reverse  {
        flex-direction: row-reverse;
    }
    .modal_content{
        border: solid;
        max-height: 220px;
        border-radius: 10px;
        padding: 20px;
    }
    .modal_content .term_service{
        overflow-y: auto;
        max-height: 180px;
        padding-right: 5px;
    }
    .modal_content .term_service::-webkit-scrollbar {
    width: 1em;
    }
    
    .modal_content .term_service::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
    .modal_content .term_service::-webkit-scrollbar-thumb {
    background-color: black;
    outline: 1px solid black;
    }
    .file_link, .download_term{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 19px;
        color: black;
    }
    .download_term{
        margin-top: 15px;
    }
    .download_term p{
        margin: 0px;
    }
    .file_link svg{
        width: 23px;
    }
    .agree_text{
        font-size: 19px;
        margin-bottom: 15px;
    }
    @media only screen and (max-width: 749px){
        .download_term{
            display: block;
        }
        .modal_content {
            border: solid;
            max-height: 320px;
            border-radius: 10px;
            padding: 10px 10px;
        }
        .modal_content .term_service {
            overflow-y: auto;
            max-height: 280px;
            text-align: left;
            padding-right: 5px;
        }
        .reverse  {
            flex-direction: column;
        }

    }
</style>
{% schema %}
{
"name": "Event Apply",
"settings": [
    {
    "type":"image_picker",
    "label":"Background",
    "id": "Background"
    }
],
"blocks": [
    
    {
      "type": "event",
      "name": "Event",
      "settings": [
      {
        "type": "text",
        "id": "pre_text",
        "label": "Pre Text",
        "default":"become a "
    },
    {
        "type": "text",
        "id": "event_name",
        "label": "Event Name",
        "default":"performer"
    },
    {
        "type": "image_picker",
        "label": "Bottom Image",
        "id": "bottom_image"
    },
    {
        "type": "image_picker",
        "label": "Arrow Image",
        "id": "arrow_image"
    },
    {
        "type": "text",
        "id": "button_name",
        "label": "Button Name",
        "default":"apply"
    },
    {
        "type": "text",
        "id": "modal_title",
        "label": "Modal Title",
        "default":"Before you apply!"
    },
    {
        "type": "richtext",
        "id": "modal_content",
        "label": "Modal Content",
        "default":"<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>"
    },
    {
        "type": "text",
        "id": "file",
        "label": "Terms Service File Link"
    },
    {
        "type": "text",
        "id": "agree_text",
        "label": "Agree Text",
        "default":"I agree that I have read and agree to the above terms." 
    },
    {
        "type": "text",
        "id": "event_id",
        "label": "Event ID"
    }
      ]
    }
  ],
"presets":[
    {
    "name": "Event Apply"
    }
]

}
{% endschema %}

