<div id="Banner-{{ section.id }}" class="banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--{{ section.settings.image_height }}">
    {%- if section.settings.image != blank -%}
    <div class="banner__media media">
      <img
        srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
          {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | img_url: '550x' }} 550w,{%- endif -%}
          {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
          {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
          {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
          {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
          {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
          {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
          {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
          {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
        sizes="100vw"
        src="{{ section.settings.image | img_url: '1500x' }}"
        loading="lazy"
        alt="{{ section.settings.image.alt | escape }}"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
        
      >
    </div>
    {%- endif -%}
    {%- if section.settings.border_image != blank -%}
    <div class="border-image">
      <img
        srcset="{%- if section.settings.border_image.width >= 375 -%}{{ section.settings.border_image | img_url: '375x' }} 375w,{%- endif -%}
          {%- if block.settings.border_image.width >= 550 -%}{{ block.settings.border_image | img_url: '550x' }} 550w,{%- endif -%}
          {%- if section.settings.border_image.width >= 750 -%}{{ section.settings.border_image | img_url: '750x' }} 750w,{%- endif -%}
          {%- if section.settings.border_image.width >= 1100 -%}{{ section.settings.border_image | img_url: '1100x' }} 1100w,{%- endif -%}
          {%- if section.settings.border_image.width >= 1500 -%}{{ section.settings.border_image | img_url: '1500x' }} 1500w,{%- endif -%}
          {%- if section.settings.border_image.width >= 1780 -%}{{ section.settings.border_image | img_url: '1780x' }} 1780w,{%- endif -%}
          {%- if section.settings.border_image.width >= 2000 -%}{{ section.settings.border_image | img_url: '2000x' }} 2000w,{%- endif -%}
          {%- if section.settings.border_image.width >= 3000 -%}{{ section.settings.border_image | img_url: '3000x' }} 3000w,{%- endif -%}
          {%- if section.settings.border_image.width >= 3840 -%}{{ section.settings.border_image | img_url: '3840x' }} 3840w,{%- endif -%}
          {{ section.settings.border_image | img_url: 'master' }} {{ section.settings.border_image.width }}w"
        sizes="100vw"
        src="{{ section.settings.border_image | img_url: '1500x' }}"
        loading="lazy"
        alt="{{ section.settings.border_image.alt | escape }}"
        width="{{ section.settings.border_image.width }}"
        height="{{ section.settings.border_image.width | divided_by: section.settings.border_image.aspect_ratio }}"
        
      >
    </div>
    {%- endif -%}
  
    <div class="banner__content page-width">
        <div class="background-content">
            {% if section.settings.text != blank%}
                <h2 class="background-text">{{ section.settings.text }}</h2>
            {% endif %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Background Text",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
        "type": "image_picker",
        "id": "border_image",
        "label": "Border Image"
    },
    {
        "type": "text",
        "id": "text",
        "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Background Text"
    }
  ]
}
{% endschema %}
