{%- assign settings = section.settings -%}
{% assign bg_color = settings.background_color %}
{% assign has_bg = false %}

{% unless bg_color == "rgba(0,0,0,0)" or bg_color == blank %}
    {% assign has_bg = true %}
{% endunless %}

{% capture container %}
    {{ settings.container }}
    {% if settings.background_image == blank%}
        {% if has_bg == false %} section-my {% else %}  {% endif %}
    {% endif %}
{% endcapture %}

{% assign section_height = settings.section_height %}

{% case section_height %}
    {% when 'small' %}
        {% assign height = '40vh' %}
    {% when 'large' %}
        {% assign height = '62vh' %}
    {% when 'medium' %}
        {% assign height = '50vh' %}
{% endcase %}

{% assign content_class = 'w-full' %}
{% if settings.container == 'w-full' %}
    {% assign content_class = 'container' %}
{% endif %}

{% style %}
    {% if settings.mb_image != blank %}
        @media(min-width: 640px) {
            #sf__countdown-timer-{{ section.id }} {
                {% if settings.background_image != blank %}
                --bg-img: url({{ settings.background_image | img_url: '1920x' }});
                {% endif %}
                --bg-color: {{ bg_color }};
                --section-height: {{ height }};
                background-image: var(--bg-img);
                background-color: var(--bg-color);
            }
        }
    {% else %}
        #sf__countdown-timer-{{ section.id }} {
            {% if settings.background_image != blank %}
            --bg-img: url({{ settings.background_image | img_url: '1920x' }});
            {% endif %}
            --bg-color: {{ bg_color }};
            --section-height: {{ height }};
            background-image: var(--bg-img);
            background-color: var(--bg-color);
        }
    {% endif %}
{% endstyle %}

<section
  id="sf__countdown-timer-{{ section.id }}"
	data-section-type="countdown-timer"
	data-section-id="{{ section.id }}"
  {% if has_bg %}
      data-bg="{{ bg_color | color_to_hsl }}"
  {% endif %}
  class="bg-cover bg-center bg-no-repeat {{ section.settings.custom_class }}"
>
    {% if section.settings.border_image != blank %}
        <div class="section-border-image">
            <img src="{{section.settings.border_image |img_url: 'master'}}">
        </div>
    {% endif %}
    <div
        id="countdown-timer-{{ section.id }}"
        class="{{ container | strip }} sf__cdt"
    >
        {% assign content_class = 'w-full' %}
        {% if settings.container == 'w-full' %}
            {% assign content_class = 'container w-full' %}
        {% endif %}

        {% if settings.mb_image != blank %}
            <div class="block sm:hidden -mx-4">
                {% render 'responsive-image', image: settings.mb_image %}
            </div>
        {% endif %}
        <div class="timer-section flex items-center md:py-0 {% if settings.mb_image != blank %} pt-8 hide-bg{% else %} pt-16{% endif %} {% if settings.container != 'w-full' %} md:px-28{% endif %}">
            {% if section.settings.content != blank %}
                <div class="timer-content-section">
                    <h3 class="text-2xl md:text-4xl mb-5 sm:mb-11">{{section.settings.content}}</h3>
                </div>
            {% endif %}
            {% if section.settings.logo_image != blank %}
                <img src="{{section.settings.logo_image | img_url:'master'}}">
            {% endif %}
            {% render 'countdown-timer', settings: settings, containerId: section.id, content_class: "timer" %}
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Countdown timer",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container type",
            "default": "container-fluid",
            "options": [
                {
                    "value": "container-fluid",
                    "label": "Default"
                },
                {
                    "value": "w-full",
                    "label": "Full width"
                },
                {
                    "value": "container",
                    "label": "Use container box"
                }
            ]
        },
        {
            "type": "select",
            "id": "section_height",
            "label": "Section height",
            "default": "medium",
            "options": [
                {
                    "value": "small",
                    "label": "Small"
                },
                {
                    "value": "medium",
                    "label": "Medium"
                },
                {
                    "value": "large",
                    "label": "Large"
                }
            ]
        },
        {
            "type": "select",
            "id": "align",
            "label": "Alignment",
            "default": "center",
            "options": [
                {
                    "value": "start",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "end",
                    "label": "Right"
                }
            ]
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "Background color",
            "default": "#dacfba"
        },
        {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image"
        },
        {
            "type": "image_picker",
            "id": "mb_image",
            "label": "Image on mobile"
        },
        {
            "type": "image_picker",
            "id": "logo_image",
            "label": "Logo Image"
        },
        {
            "type": "header",
            "content": "Content"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "heading",
            "default": "days til afro union"
        },
        {
            "type": "text",
            "id": "time",
            "label": "End time",
            "default": "2021-12-26 23:00:00",
            "info": "Date format: YYYY-MM-DD HH:MM:ss"
        },
        {
            "type": "image_picker",
            "id": "border_image",
            "label": "Border Image"
        },
        {
            "type": "text",
            "id": "custom_class",
            "label": "Custom classes"
        }
    ],
    "presets": [
        {
            "name": "Countdown timer",
            "category": "Promotional"
        }
    ]
}
{% endschema %}
