<div class="faq-tab ">
  <div class="">
    <ul class="faq-tab-conent" role="list">
      {% for block in section.blocks %}
        {% if block.settings.name != blank %}
          <li class="">
            <p class="tab-title {% if forloop.index == 1 %}active {% endif %}" data-id="{{block.settings.category}}">
              {{block.settings.name | upcase}}
            </p>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
  </div>
</div>

<script src="{{ 'faq-tab.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "FAQ Tabs",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    
  ],
  "blocks": [
    {
      "type": "tabs",
      "name": "tab",
      "limit": 6,
      "settings": [
        {
          "type": "text",
          "id": "name",
          "default": "Food + Drink",
          "label": "Tab Name"
        },
        {
          "type": "text",
          "id": "category",
          "default": "food_drink",
          "label": "Category Name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ Tabs",
      "blocks": [
        {
          "type": "tabs"
        }
      ]
    }
  ]
}
{% endschema %}