{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Featured Collection" section in the theme editor.

  Theme Store required settings
  - Collection

  Theme Store optional settings
  - Heading: title of the featured collection section
{%- endcomment -%}
{% assign bg_color = section.settings.background_color %}
{% assign has_bg = false %}

{% unless bg_color == "rgba(0,0,0,0)" or bg_color == blank %}
    {% assign has_bg = true %}
{% endunless %}

{%- capture container -%}{{ section.settings.container }} {% if has_bg == false %}section-my{% else %}section-py{% endif %}{%- endcapture -%}

{% assign enable_slider = section.settings.enable_slider %}

{%- assign collection = collections[section.settings.collection] -%}
{%- assign product_to_show = section.settings.product_to_show | default: 8 -%}
{%- assign button_type = section.settings.button_type -%}

{% assign max_pages = section.settings.max_page_load %}

{%- paginate collection.products by product_to_show -%}

{% assign infinite_load = section.settings.infinite_load %}
{% assign can_load = false %}

{% if paginate.pages < max_pages  %}
    {% assign max_pages = paginate.pages %}
{% endif %}

{% if button_type == 'load' and paginate.pages > 1 %}
    {% assign can_load = true %}
{% endif %}

{% if enable_slider == true or paginate.pages == 1 %}
    {% assign infinite_load = false %}
    {% assign can_load = false %}
{% endif %}

{% assign card_style = section.settings.pcard_layout %}
{% assign image_ratio = section.settings.pcard_image_ratio %}
{% assign show_vendor = section.settings.show_vendor %}
{% assign hide_title = section.settings.hide_title %}
{% assign use_scroll_mobile = section.settings.use_scroll_mobile %}
{% assign enable_flashsale = section.settings.enable_flashsale %}
{% assign show_countdown = section.settings.show_countdown %}

<section
    id="sf__featured-collection-{{ section.id }}"
    data-section-type="featured-collection"
    data-section-id="{{ section.id }}"
    {% if has_bg %}
    data-bg="{{ bg_color | color_to_hsl }}"
    {% endif %}
    data-enable-slider="{{ enable_slider }}"
    {% if enable_slider %}
        data-show-pagination="{{ section.settings.show_pagination }}"
        data-show-navigation="{{ section.settings.show_navigation }}"
    {% endif %}
    data-url="{{ collection.url }}"
    data-items="{{ section.settings.items_per_row }}"
    data-total-pages="{{ paginate.pages }}"
    data-button-type="{{ button_type }}"
    {% if infinite_load %}
        data-infinite-load="{{ infinite_load }}"
        data-max-pages="{{ max_pages }}"
    {% endif %}
    class="sf__featured-collection {{ section.settings.custom_class }}{% if section.settings.button_text == blank %} show__more-disabled{% endif %}"
    data-enable-flashsale="{{ enable_flashsale }}"
    data-enable-countdown="{{ show_countdown }}"
    data-collection-id="{{ collection.id }}"
    style="background-color: {{ bg_color }}; --column-gap: {{ section.settings.item_gap }}px; --column-gap-mobile: {{ section.settings.item_gap_mobile }}px; --row-gap: {{ section.settings.item_gap | plus: 10 }}px; --items: {{ section.settings.items_per_row }}"
>
    <div class="{{ container }}">
      {% if enable_flashsale and show_countdown %}
        <div class="section__header flex justify-between items-end">
          <h2 class="section__heading">
            <a href="{{ collection.url }}">{{ section.settings.heading }}</a>
          </h2>
          <a class="flex" href="{{ collection.url }}">
            <div data-flashsale-countdown>
              <div class="flex">
                <div class="day-block time-block">
                  <span class="countdown-timer-day">00</span>
                </div>
                <div class="time-block">
                  <span class="countdown-timer-hour">00</span>
                </div>
                <div class="time-block">
                  <span class="countdown-timer-minute">00</span>
                </div>
                <div class="time-block">
                  <span class="countdown-timer-sec">00</span>
                </div>
              </div>
            </div>
          </a>

        </div>
      {% else %}
        {% render 'index-section-header', section_settings: section.settings %}
      {% endif %}
        <div class="{% if infinite_load == false and can_load == false %}sf__ms{% endif %}{% if enable_slider %} sf__ms--slider{% endif %}{% unless use_scroll_mobile %} sf__ms--mb-grid{% endunless %}">
            <div
                class="sf-grid {% if infinite_load == false and can_load == false %} sf__ms-wrapper{% endif %} grid grid-cols-2 sf__col-{{ section.settings.items_per_row }} md:grid-cols-{{ section.settings.items_per_row | divided_by: 2.0 | ceil }} xl:grid-cols-{{ section.settings.items_per_row }} {% if enable_slider %}swiper-container{% endif %}"
                data-products-container
            >
                {% if enable_slider == true %}<!-- Start .swiper-wrapper --><div class="swiper-wrapper">{% endif %}
                {% if collection != blank %}
                    {% for product in collection.products limit: product_to_show %}
                        {% if enable_slider %}
                            <div class="swiper-slide sf-column">
                                {% render 'product-card', product: product, card_style: card_style, image_ratio: image_ratio, show_vendor: show_vendor, hide_title: hide_title %}
                            </div>
                        {% else %}
                            {% render 'product-card', product: product, column_wrapper: true, card_style: card_style, image_ratio: image_ratio, show_vendor: show_vendor, hide_title: hide_title %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for i in (1..product_to_show) %}
                        <div class="swiper-slide sf-column text-{{ settings.pcard_alignment }}">
                            <div style="--aspect-ratio: 1/1;" class="bg-gray-100">
                                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                {{ 'product-' | append: current | placeholder_svg_tag: 'object-cover w-full h-full transition-all duration-500 group-hover:scale-105' }}
                            </div>
                            <div class="block mb-2 sf__pcard-name mt-4 font-medium hover:text-color-secondary{% if settings.uppercase_prd_name %} uppercase{% endif %}">{{ 'homepage.onboarding.product_title' | t }}</div>
                            <div class="mb-2.5 sf__pcard-price">
                                <p class="prod__price">$19.99</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if enable_slider == true %}</div> <!-- End .swiper-wrapper -->{% endif %}
            </div>
            {% if enable_slider %}
                {% assign custom_class = 'hidden' %}
                {% if section.settings.show_pagination or section.settings.show_navigation %}
                    {% assign custom_class = 'hidden pb-5 lg:pb-0' %}
                {% endif %}
                {% render 'slider-controls', custom_class: custom_class, absolute: true, container: section.settings.container, show_pagination: section.settings.show_pagination,  show_nav: section.settings.show_navigation %}
            {% endif %}
        </div>
        {% if section.settings.button_text != blank %}
            {% capture btn_class %}sf__btn {{ section.settings.button_style }} {{ section.settings.button_size }}{% endcapture %}
            <div class="sf__featured-collection-button flex justify-center">
                {% if can_load %}
                    <button class="{{ btn_class }}" data-load-more>
                        <span>{{ section.settings.button_text }}</span>
                    </button>
                {% endif %}
                {% if button_type == 'link' %}
                    <a class="{{ btn_class }}" href="{{ collection.url }}" data-load-more>
                        <span>{{ section.settings.button_text }}</span>
                    </a>
                {% endif %}
            </div>
        {% elsif infinite_load == true %}
            <div class="sf__featured-collection-button flex justify-center">
                <button class="sf__btn" data-load-more>
                    <span class="hidden">{{ section.settings.button_text }}</span>
                </button>
            </div>
        {% endif %}
    </div>
</section>
{%- endpaginate -%}

{% schema %}
{
  "name": "Featured collection",
  "settings": [
    {
        "type": "header",
        "content": "Section header"
    },
    {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Featured collection"
    },
    {
        "type": "html",
        "id": "subheading",
        "label": "Subheading"
    },
    {
        "type": "textarea",
        "id": "description",
        "label": "Description"
    },
    {
        "type": "select",
        "id": "header_alignment",
        "label": "Text alignment",
        "default": "center",
        "options": [
            {
                "value": "left",
                "label": "Left"
            },
            {
                "value": "center",
                "label": "Center"
            }
        ]
    },
    {
        "type": "header",
        "content": "General"
    },
    {
        "type": "select",
        "id": "container",
        "label": "Container type",
        "default": "container-fluid",
        "options": [
            {
                "value": "container-fluid",
                "label": "Default"
            },
            {
                "value": "w-full",
                "label": "Full width"
            },
            {
                "value": "container",
                "label": "Use container box"
            }
        ]
    },
    {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "rgba(0,0,0,0)"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    },
    {
      "type": "header",
      "content": "Flash sale",
      "info": "Need to setup a countdown timer for flash sale via Fox Kit"
    },
    {
      "type": "checkbox",
      "id": "enable_flashsale",
      "label": "Enable flash sale",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_countdown",
      "label": "Show countdown timer",
      "default": false
    },
    {
      "type": "header",
      "content": "Grid settings"
    },
    {
        "type": "range",
        "id": "product_to_show",
        "label": "Products to show",
        "min": 2,
        "max": 12,
        "step": 1,
        "default": 8
    },
    {
        "type": "range",
        "id": "items_per_row",
        "label": "Products per row",
        "min": 2,
        "max": 6,
        "step": 1,
        "default": 4
    },
    {
        "type": "range",
        "id": "item_gap",
        "label": "Column gap",
        "min": 0,
        "max": 50,
        "step": 2,
        "default": 30,
        "unit": "px"
    },
    {
      "type": "header",
      "content": "Product card settings"
    },
    {
        "type": "select",
        "id": "pcard_layout",
        "label": "Design layout",
        "default": "",
        "options": [
            {
                "value": "",
                "label": "Use global settings"
            },
            {
                "value": "1",
                "label": "Style 1"
            },
            {
                "value": "2",
                "label": "Style 2"
            },
            {
                "value": "3",
                "label": "Style 3"
            },
            {
                "value": "4",
                "label": "Style 4"
            }
        ]
    },
    {
        "type": "select",
        "id": "pcard_image_ratio",
        "label": "Image aspect ratio",
        "default": "",
        "options": [
            {
                "value": "",
                "label": "Use global settings"
            },
            {
                "value": "original",
                "label": "Original aspect ratio"
            },
            {
                "value": "1\/1",
                "label": "1:1"
            },
            {
                "value": "3\/4",
                "label": "3:4"
            },
            {
                "value": "4\/3",
                "label": "4:3"
            },
            {
                "value": "16\/9",
                "label": "16:9"
            }
        ]
    },
    {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
    },
    {
        "type": "checkbox",
        "id": "hide_title",
        "label": "Hide product title",
        "default": false
    },
    {
      "type": "header",
      "content": "Slider settings"
    },
    {
        "type": "checkbox",
        "id": "enable_slider",
        "label": "Enable slider",
        "default": false
    },
    {
        "type": "checkbox",
        "id": "show_pagination",
        "label": "Show pagination",
        "default": false
    },
    {
        "type": "checkbox",
        "id": "show_navigation",
        "label": "Show navigation",
        "default": false
    },
    {
        "type": "header",
        "content": "Button settings"
    },
    {
        "type": "select",
        "id": "button_type",
        "label": "Button type",
        "options": [
            {
                "value": "link",
                "label": "Link to collection page"
            },
            {
                "value": "load",
                "label": "Load more products"
            }
        ],
        "default": "link",
        "info": "Load more options only work when slider is disabled"
    },
    {
        "type": "text",
        "id": "button_text",
        "label": "Button label",
        "default": "Shop more",
        "info": "Leave it blank to hide"
    },
    {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "options": [
        {
            "value": "sf__btn-primary",
            "label": "Primary button"
        },
        {
            "value": "sf__btn-secondary",
            "label": "Secondary button"
        },
        {
            "value": "sf__btn-white",
            "label": "White button"
        },
        {
            "value": "sf__btn-link",
            "label": "Underline button"
        }
        ],
        "default": "sf__btn-primary"
    },
    {
        "type": "select",
        "id": "button_size",
        "label": "Button size",
        "options": [
        {
            "value": "sf__btn-small",
            "label": "Button small"
        },
        {
            "value": "",
            "label": "Button medium"
        },
        {
            "value": "sf__btn-large",
            "label": "Button large"
        }
        ],
        "default": ""
    },
    {
      "type": "header",
      "content": "Infinite loading",
      "info": "This function does not work when slider enabled. Total products need to greater than number of products to show."
    },
    {
        "type": "checkbox",
        "id": "infinite_load",
        "label": "Load products on scroll",
        "default": false
    },
    {
        "type": "range",
        "id": "max_page_load",
        "label": "Max pages to load",
        "default": 3,
        "min": 2,
        "max": 5
    },
    {
      "type": "header",
      "content": "Mobile settings"
    },
    {
        "type": "checkbox",
        "label": "Use horizontal scrollbar",
        "id": "use_scroll_mobile",
        "default": true,
        "info": "Uncheck to display as grid"
    },
    {
        "type": "range",
        "id": "item_gap_mobile",
        "label": "Column gap",
        "min": 0,
        "max": 30,
        "step": 2,
        "default": 16,
        "unit": "px"
    },
    {
      "type": "header",
      "content": "Advanced settings"
    },
    {
        "type": "text",
        "id": "custom_class",
        "label": "Custom classes"
    }
  ],
  "presets": [
    {
      "name": "Featured collection",
      "category": "Collection"
    }
  ]
}
{% endschema %}
