<footer
  class="sf-footer"
  data-section-type="footer"
  data-section-id="{{ section.id }}"
>
    {% render 'footer-blocks', section: section, blocks: section.blocks, bordered: section.settings.bordered, container: section.settings.container %}
    {% render 'footer-design', container: section.settings.container %}
    
</footer>
<div class="signup-function">
    <div id="ticket_modal" class="modal" style="
        background-image: url('{{ section.settings.modal_background | img_url: 'master' }}');"                      
        >
        {% render 'footer-signup-form', section: section %}
    </div>
    <div id="vendor_modal" class="modal">
        {% if section.settings.vendor_modal_title != blank%}
            <h1 class="modal_title">{{section.settings.vendor_modal_title | upcase}}</h1>
            {% if section.settings.bottom_image != blank %}
                <img 
                    srcset="{%- if section.settings.bottom_image.width >= 375 -%}{{ section.settings.bottom_image | img_url: '375x' }} 375w,{%- endif -%}
                    {%- if section.settings.bottom_image.width >= 550 -%}{{ section.settings.bottom_image | img_url: '550x' }} 550w,{%- endif -%}
                    {{ section.settings.bottom_image | img_url: 'master' }} {{ section.settings.bottom_image.width }}w"
                    sizes="100vw"
                    src="{{ section.settings.bottom_image | img_url: '1500x' }}"
                    loading="lazy"
                    alt="{{ section.settings.bottom_image.alt | escape }}"
                    width="{{ section.settings.bottom_image.width }}"
                    height="{{ section.settings.bottom_image.width | divided_by: section.settings.bottom_image.aspect_ratio }}"
                >
            {% endif %}
        {% endif %}
        <div class="modal_content">
            {% if section.settings.modal_content != blank%}
                <div class="term_service">{{section.settings.modal_content | upcase}}</div>
            {% endif %}
        </div>
        {% if section.settings.show_download %}
            <div class="download_term">
                <a class="file_link" href="{{section.settings.file}}" target="_blank">
                    {% render 'icon-download' %}
                    <b> &nbsp; Click here</b>
                </a>
                <p> &nbsp;{{section.settings.download_text}} </p>
            </div>
        {% endif %}
        <div class="agree_text">
            {{section.settings.agree_text}}
        </div>

        {% if section.settings.event_id != blank%}
            <button class="modal_agree_button" data-tf-popup="{{section.settings.event_id}}" data-tf-iframe-props="title=AfroUnion Performer Registration" data-tf-medium="snippet">I AGREE</button><script src="//embed.typeform.com/next/embed.js"></script>
        {% else %}
            <a class="modal_agree_button" href="#" rel="modal:close">I AGREE</a>
        {% endif %}
    </div>
</div>

{% schema %}
{
    "name": "Footer",
    "settings": [
        {
            "type": "select",
            "id": "design",
            "label": "Layout",
            "options": [
                {
                    "value": "footer-1",
                    "label": "Layout 1"
                },
                {
                    "value": "footer-2",
                    "label": "Layout 2"
                },
                {
                    "value": "footer-3",
                    "label": "Layout 3"
                }
            ],
            "default": "footer-1"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container type",
            "default": "container-fluid",
            "options": [
                {
                    "value": "container-fluid",
                    "label": "Default"
                },
                {
                    "value": "w-full",
                    "label": "Full width"
                },
                {
                    "value": "container",
                    "label": "Use container box"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "bordered",
            "label": "Block bordered",
            "default": false
        },
        {
            "type": "text",
            "id": "copyright",
            "label": "Copyright text",
            "default": "&copy; minimog 2021"
        },
        {
            "type": "header",
            "content": "Addons"
        },
        {
            "type": "checkbox",
            "id": "show_currency_selector",
            "label": "Show currency selector",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_language_selector",
            "label": "Show language selector",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_social_links",
            "label": "Show social icons",
            "default": false
        },
        {
            "type": "header",
            "content": "Payment methods"
        },
        {
            "type": "checkbox",
            "id": "show_payment_icons",
            "label": "Show payment icons",
            "default": false
        },
        {
            "type": "image_picker",
            "id": "image_custom_payment",
            "label": "Payment icons by image",
            "info": "Leave blank to use icons by Payment methods"
        },
        {
            "type": "number",
            "id": "payment_icons_width",
            "label": "Image width (px)",
            "default": 300
        },
        {
            "type": "header",
            "content": "Signup Form"
        },
        {
            "type": "text",
            "id": "signup_text",
            "label": "Sinup Label",
            "default": "Signup"
        },
        {
            "type": "text",
            "id": "modal_title",
            "label": "Signup Form title",
            "default": "Looking for tickets?"
        },
        {
            "type": "image_picker",
            "id": "modal_background",
            "label": "Signup Image"
        },
        {
            "type": "image_picker",
            "id": "bottom_image",
            "label": "Header Title Image"
        },
        {
            "type": "image_picker",
            "id": "icon_image",
            "label": "Icon Image"
        },
        {
            "type": "text",
            "id": "signup_text_1",
            "label": "Signup Text 1"
        },
        {
            "type": "text",
            "id": "signup_text_2",
            "label": "Signup Text 2"
        },
        {
            "type": "text",
            "id": "signup_text_3",
            "label": "Signup Text 3"
        },
        {
            "type": "header",
            "content": "Vendor Form"
        },
       
        {
            "type": "text",
            "id": "vendor_name",
            "label": "Vender Apply Text",
            "default":"Vendor Apply"
        },
        {
            "type": "checkbox",
            "id": "show_modal",
            "label": "Show Pre Modal",
            "default": true
        },
        {
            "type": "text",
            "id": "vendor_modal_title",
            "label": "Modal Title",
            "default":"Before you apply!"
        },
        {
            "type": "richtext",
            "id": "modal_content",
            "label": "Modal Content",
            "default":"<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>"
        },
        {
            "type": "checkbox",
            "id": "show_download",
            "label": "Show Download File",
            "default": true
        },
        {
            "type": "text",
            "id": "download_text",
            "label": "Download Text",
            "default" : "to download our Legal Terms"
        },
        {
            "type": "text",
            "id": "file",
            "label": "Terms Service File Link"
        },
        {
            "type": "text",
            "id": "agree_text",
            "label": "Agree Text",
            "default":"I agree that I have read and agree to the above terms." 
        },
        {
            "type": "text",
            "id": "event_id",
            "label": "Event ID"
        }
    ],
    "max_blocks": 5,
    "blocks": [
        {
            "type": "menu",
            "name": "Menu",
            "limit": 4,
            "settings": [
                {
                    "type": "link_list",
                    "id": "menu",
                    "label": "Footer menu",
                    "default": "main-menu"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Service",
                    "info": "Leave blank to use menu title"
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": {
                        "cs": "Šířka kontejneru",
                        "da": "Containerbredde",
                        "de": "Breite des Elements",
                        "en": "Container width",
                        "es": "Ancho del contenedor",
                        "fi": "Säiliön leveys",
                        "fr": "Largeur du conteneur",
                        "it": "Larghezza contenitore",
                        "ja": "コンテナーの幅",
                        "ko": "컨테이너 폭",
                        "nb": "Beholderbredde",
                        "nl": "Containerbreedte",
                        "pl": "Szerokość kontenera",
                        "pt-BR": "Largura do contêiner",
                        "pt-PT": "Largura do recipiente",
                        "sv": "Container-bredd",
                        "th": "ความกว้างของความจุ",
                        "tr": "Kapsayıcı genişliği",
                        "vi": "Chiều rộng khoảng chứa",
                        "zh-CN": "容器宽度",
                        "zh-TW": "容器寬度"
                    },
                    "default": "25%",
                    "options": [
                        {
                        "value": "16%",
                        "label": {
                            "cs": "16 %",
                            "da": "16 %",
                            "de": "16%",
                            "en": "16%",
                            "es": "16%",
                            "fi": "16 %",
                            "fr": "16 %",
                            "it": "16%",
                            "ja": "16%",
                            "ko": "16%",
                            "nb": "16 %",
                            "nl": "16%",
                            "pl": "16%",
                            "pt-BR": "16%",
                            "pt-PT": "16%",
                            "sv": "16 %",
                            "th": "16%",
                            "tr": "%16",
                            "vi": "16%",
                            "zh-CN": "16％",
                            "zh-TW": "16%"
                        }
                        },
                        {
                        "value": "25%",
                        "label": {
                            "cs": "25 %",
                            "da": "25 %",
                            "de": "25%",
                            "en": "25%",
                            "es": "25%",
                            "fi": "25 %",
                            "fr": "25 %",
                            "it": "25%",
                            "ja": "25%",
                            "ko": "25%",
                            "nb": "25 %",
                            "nl": "25%",
                            "pl": "25%",
                            "pt-BR": "25%",
                            "pt-PT": "25%",
                            "sv": "25 %",
                            "th": "25%",
                            "tr": "%25",
                            "vi": "25%",
                            "zh-CN": "25％",
                            "zh-TW": "25%"
                        }
                        },
                        {
                        "value": "33%",
                        "label": {
                            "cs": "33 %",
                            "da": "33 %",
                            "de": "33%",
                            "en": "33%",
                            "es": "33%",
                            "fi": "33 %",
                            "fr": "33 %",
                            "it": "33%",
                            "ja": "33%",
                            "ko": "33%",
                            "nb": "33 %",
                            "nl": "33%",
                            "pl": "33%",
                            "pt-BR": "33%",
                            "pt-PT": "33%",
                            "sv": "33 %",
                            "th": "33%",
                            "tr": "%33",
                            "vi": "33%",
                            "zh-CN": "33%",
                            "zh-TW": "33%"
                        }
                        },
                        {
                        "value": "50%",
                        "label": {
                            "cs": "50 %",
                            "da": "50 %",
                            "de": "50%",
                            "en": "50%",
                            "es": "50%",
                            "fi": "50 %",
                            "fr": "50 %",
                            "it": "50%",
                            "ja": "50%",
                            "ko": "50%",
                            "nb": "50 %",
                            "nl": "50%",
                            "pl": "50%",
                            "pt-BR": "50%",
                            "pt-PT": "50%",
                            "sv": "50 %",
                            "th": "50%",
                            "tr": "%50",
                            "vi": "50%",
                            "zh-CN": "50%",
                            "zh-TW": "50%"
                        }
                        },
                        {
                        "value": "66%",
                        "label": {
                            "cs": "66 %",
                            "da": "66 %",
                            "de": "66%",
                            "en": "66%",
                            "es": "66%",
                            "fi": "66 %",
                            "fr": "66 %",
                            "it": "66%",
                            "ja": "66%",
                            "ko": "66%",
                            "nb": "66 %",
                            "nl": "66%",
                            "pl": "66%",
                            "pt-BR": "66%",
                            "pt-PT": "66%",
                            "sv": "66 %",
                            "th": "66%",
                            "tr": "%66",
                            "vi": "66%",
                            "zh-CN": "66%",
                            "zh-TW": "66%"
                        }
                        },
                        {
                        "value": "75%",
                        "label": {
                            "cs": "75 %",
                            "da": "75 %",
                            "de": "75%",
                            "en": "75%",
                            "es": "75%",
                            "fi": "75 %",
                            "fr": "75 %",
                            "it": "75%",
                            "ja": "75%",
                            "ko": "75%",
                            "nb": "75 %",
                            "nl": "75%",
                            "pl": "75%",
                            "pt-BR": "75%",
                            "pt-PT": "75%",
                            "sv": "75 %",
                            "th": "75%",
                            "tr": "%75",
                            "vi": "75%",
                            "zh-CN": "75%",
                            "zh-TW": "75%"
                        }
                        },
                        {
                        "value": "83%",
                        "label": {
                            "cs": "83 %",
                            "da": "83 %",
                            "de": "83%",
                            "en": "83%",
                            "es": "83%",
                            "fi": "83 %",
                            "fr": "83 %",
                            "it": "83%",
                            "ja": "83%",
                            "ko": "83%",
                            "nb": "83 %",
                            "nl": "83%",
                            "pl": "83%",
                            "pt-BR": "83%",
                            "pt-PT": "83%",
                            "sv": "83 %",
                            "th": "83%",
                            "tr": "%83",
                            "vi": "83%",
                            "zh-CN": "83%",
                            "zh-TW": "83%"
                        }
                        },
                        {
                        "value": "100%",
                        "label": {
                            "cs": "100 %",
                            "da": "100 %",
                            "de": "100%",
                            "en": "100%",
                            "es": "100%",
                            "fi": "100 %",
                            "fr": "100 %",
                            "it": "100%",
                            "ja": "100%",
                            "ko": "100%",
                            "nb": "100 %",
                            "nl": "100%",
                            "pl": "100%",
                            "pt-BR": "100%",
                            "pt-PT": "100%",
                            "sv": "100 %",
                            "th": "100%",
                            "tr": "%100",
                            "vi": "100%",
                            "zh-CN": "100%",
                            "zh-TW": "100%"
                        }
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "Mobile settings"
                },
                {
                    "type": "checkbox",
                    "id": "order_first",
                    "label": "Order first",
                    "default": false
                },
                {
                    "type": "checkbox",
                    "id": "open_default",
                    "label": "Open by default",
                    "default": false
                }
            ]
        },
        {
            "type": "our_store",
            "name": "About",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Our store"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description",
                    "default": "<p>Find a location nearest you.</p>"
                },
                {
                    "type": "header",
                    "content": "Contact information",
                    "info": "Go to \"Theme settings > Store contact\" to update these information."
                },
                {
                    "type": "checkbox",
                    "id": "show_email",
                    "label": "Show email",
                    "default": false
                },
                {
                    "type": "checkbox",
                    "id": "show_phone",
                    "label": "Show phone number",
                    "default": false
                },
                {
                    "type": "checkbox",
                    "id": "show_socials_link",
                    "label": "Show social icons",
                    "default": false
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": {
                        "cs": "Šířka kontejneru",
                        "da": "Containerbredde",
                        "de": "Breite des Elements",
                        "en": "Container width",
                        "es": "Ancho del contenedor",
                        "fi": "Säiliön leveys",
                        "fr": "Largeur du conteneur",
                        "it": "Larghezza contenitore",
                        "ja": "コンテナーの幅",
                        "ko": "컨테이너 폭",
                        "nb": "Beholderbredde",
                        "nl": "Containerbreedte",
                        "pl": "Szerokość kontenera",
                        "pt-BR": "Largura do contêiner",
                        "pt-PT": "Largura do recipiente",
                        "sv": "Container-bredd",
                        "th": "ความกว้างของความจุ",
                        "tr": "Kapsayıcı genişliği",
                        "vi": "Chiều rộng khoảng chứa",
                        "zh-CN": "容器宽度",
                        "zh-TW": "容器寬度"
                    },
                    "default": "25%",
                    "options": [
                        {
                        "value": "16%",
                        "label": {
                            "cs": "16 %",
                            "da": "16 %",
                            "de": "16%",
                            "en": "16%",
                            "es": "16%",
                            "fi": "16 %",
                            "fr": "16 %",
                            "it": "16%",
                            "ja": "16%",
                            "ko": "16%",
                            "nb": "16 %",
                            "nl": "16%",
                            "pl": "16%",
                            "pt-BR": "16%",
                            "pt-PT": "16%",
                            "sv": "16 %",
                            "th": "16%",
                            "tr": "%16",
                            "vi": "16%",
                            "zh-CN": "16％",
                            "zh-TW": "16%"
                        }
                        },
                        {
                        "value": "25%",
                        "label": {
                            "cs": "25 %",
                            "da": "25 %",
                            "de": "25%",
                            "en": "25%",
                            "es": "25%",
                            "fi": "25 %",
                            "fr": "25 %",
                            "it": "25%",
                            "ja": "25%",
                            "ko": "25%",
                            "nb": "25 %",
                            "nl": "25%",
                            "pl": "25%",
                            "pt-BR": "25%",
                            "pt-PT": "25%",
                            "sv": "25 %",
                            "th": "25%",
                            "tr": "%25",
                            "vi": "25%",
                            "zh-CN": "25％",
                            "zh-TW": "25%"
                        }
                        },
                        {
                        "value": "33%",
                        "label": {
                            "cs": "33 %",
                            "da": "33 %",
                            "de": "33%",
                            "en": "33%",
                            "es": "33%",
                            "fi": "33 %",
                            "fr": "33 %",
                            "it": "33%",
                            "ja": "33%",
                            "ko": "33%",
                            "nb": "33 %",
                            "nl": "33%",
                            "pl": "33%",
                            "pt-BR": "33%",
                            "pt-PT": "33%",
                            "sv": "33 %",
                            "th": "33%",
                            "tr": "%33",
                            "vi": "33%",
                            "zh-CN": "33%",
                            "zh-TW": "33%"
                        }
                        },
                        {
                        "value": "50%",
                        "label": {
                            "cs": "50 %",
                            "da": "50 %",
                            "de": "50%",
                            "en": "50%",
                            "es": "50%",
                            "fi": "50 %",
                            "fr": "50 %",
                            "it": "50%",
                            "ja": "50%",
                            "ko": "50%",
                            "nb": "50 %",
                            "nl": "50%",
                            "pl": "50%",
                            "pt-BR": "50%",
                            "pt-PT": "50%",
                            "sv": "50 %",
                            "th": "50%",
                            "tr": "%50",
                            "vi": "50%",
                            "zh-CN": "50%",
                            "zh-TW": "50%"
                        }
                        },
                        {
                        "value": "66%",
                        "label": {
                            "cs": "66 %",
                            "da": "66 %",
                            "de": "66%",
                            "en": "66%",
                            "es": "66%",
                            "fi": "66 %",
                            "fr": "66 %",
                            "it": "66%",
                            "ja": "66%",
                            "ko": "66%",
                            "nb": "66 %",
                            "nl": "66%",
                            "pl": "66%",
                            "pt-BR": "66%",
                            "pt-PT": "66%",
                            "sv": "66 %",
                            "th": "66%",
                            "tr": "%66",
                            "vi": "66%",
                            "zh-CN": "66%",
                            "zh-TW": "66%"
                        }
                        },
                        {
                        "value": "75%",
                        "label": {
                            "cs": "75 %",
                            "da": "75 %",
                            "de": "75%",
                            "en": "75%",
                            "es": "75%",
                            "fi": "75 %",
                            "fr": "75 %",
                            "it": "75%",
                            "ja": "75%",
                            "ko": "75%",
                            "nb": "75 %",
                            "nl": "75%",
                            "pl": "75%",
                            "pt-BR": "75%",
                            "pt-PT": "75%",
                            "sv": "75 %",
                            "th": "75%",
                            "tr": "%75",
                            "vi": "75%",
                            "zh-CN": "75%",
                            "zh-TW": "75%"
                        }
                        },
                        {
                        "value": "83%",
                        "label": {
                            "cs": "83 %",
                            "da": "83 %",
                            "de": "83%",
                            "en": "83%",
                            "es": "83%",
                            "fi": "83 %",
                            "fr": "83 %",
                            "it": "83%",
                            "ja": "83%",
                            "ko": "83%",
                            "nb": "83 %",
                            "nl": "83%",
                            "pl": "83%",
                            "pt-BR": "83%",
                            "pt-PT": "83%",
                            "sv": "83 %",
                            "th": "83%",
                            "tr": "%83",
                            "vi": "83%",
                            "zh-CN": "83%",
                            "zh-TW": "83%"
                        }
                        },
                        {
                        "value": "100%",
                        "label": {
                            "cs": "100 %",
                            "da": "100 %",
                            "de": "100%",
                            "en": "100%",
                            "es": "100%",
                            "fi": "100 %",
                            "fr": "100 %",
                            "it": "100%",
                            "ja": "100%",
                            "ko": "100%",
                            "nb": "100 %",
                            "nl": "100%",
                            "pl": "100%",
                            "pt-BR": "100%",
                            "pt-PT": "100%",
                            "sv": "100 %",
                            "th": "100%",
                            "tr": "%100",
                            "vi": "100%",
                            "zh-CN": "100%",
                            "zh-TW": "100%"
                        }
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "Mobile settings"
                },
                {
                    "type": "checkbox",
                    "id": "order_first",
                    "label": "Order first",
                    "default": false
                },
                {
                    "type": "checkbox",
                    "id": "open_default",
                    "label": "Open by default",
                    "default": false
                }
            ]
        },
        {
            "type": "newsletter",
            "name": "Newsletter",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Subscribe"
                },
                {
                    "type": "textarea",
                    "id": "description",
                    "label": "Description",
                    "default": "Enter your email below to be the first to know about new collections and product launches."
                },
                {
                    "type": "text",
                    "id": "email_placeholder",
                    "label": "Email placeholder",
                    "default": "Enter your email"
                },
                {
                    "type": "select",
                    "id": "form_style",
                    "label": "Form style",
                    "default": "bordered",
                    "options": [
                        {
                            "value": "bordered",
                            "label": "Bordered"
                        },
                        {
                            "value": "minimal",
                            "label": "Minimal"
                        }
                    ]
                },
                {
                    "type": "checkbox",
                    "id": "show_social",
                    "label": "Show social link",
                    "default": false
                },
                {
                    "type": "checkbox",
                    "id": "show_agree_checkbox",
                    "label": "Show \"Terms & conditions\" checkbox",
                    "default": false
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": {
                        "cs": "Šířka kontejneru",
                        "da": "Containerbredde",
                        "de": "Breite des Elements",
                        "en": "Container width",
                        "es": "Ancho del contenedor",
                        "fi": "Säiliön leveys",
                        "fr": "Largeur du conteneur",
                        "it": "Larghezza contenitore",
                        "ja": "コンテナーの幅",
                        "ko": "컨테이너 폭",
                        "nb": "Beholderbredde",
                        "nl": "Containerbreedte",
                        "pl": "Szerokość kontenera",
                        "pt-BR": "Largura do contêiner",
                        "pt-PT": "Largura do recipiente",
                        "sv": "Container-bredd",
                        "th": "ความกว้างของความจุ",
                        "tr": "Kapsayıcı genişliği",
                        "vi": "Chiều rộng khoảng chứa",
                        "zh-CN": "容器宽度",
                        "zh-TW": "容器寬度"
                    },
                    "default": "25%",
                    "options": [
                        {
                        "value": "16%",
                        "label": {
                            "cs": "16 %",
                            "da": "16 %",
                            "de": "16%",
                            "en": "16%",
                            "es": "16%",
                            "fi": "16 %",
                            "fr": "16 %",
                            "it": "16%",
                            "ja": "16%",
                            "ko": "16%",
                            "nb": "16 %",
                            "nl": "16%",
                            "pl": "16%",
                            "pt-BR": "16%",
                            "pt-PT": "16%",
                            "sv": "16 %",
                            "th": "16%",
                            "tr": "%16",
                            "vi": "16%",
                            "zh-CN": "16％",
                            "zh-TW": "16%"
                        }
                        },
                        {
                        "value": "25%",
                        "label": {
                            "cs": "25 %",
                            "da": "25 %",
                            "de": "25%",
                            "en": "25%",
                            "es": "25%",
                            "fi": "25 %",
                            "fr": "25 %",
                            "it": "25%",
                            "ja": "25%",
                            "ko": "25%",
                            "nb": "25 %",
                            "nl": "25%",
                            "pl": "25%",
                            "pt-BR": "25%",
                            "pt-PT": "25%",
                            "sv": "25 %",
                            "th": "25%",
                            "tr": "%25",
                            "vi": "25%",
                            "zh-CN": "25％",
                            "zh-TW": "25%"
                        }
                        },
                        {
                        "value": "33%",
                        "label": {
                            "cs": "33 %",
                            "da": "33 %",
                            "de": "33%",
                            "en": "33%",
                            "es": "33%",
                            "fi": "33 %",
                            "fr": "33 %",
                            "it": "33%",
                            "ja": "33%",
                            "ko": "33%",
                            "nb": "33 %",
                            "nl": "33%",
                            "pl": "33%",
                            "pt-BR": "33%",
                            "pt-PT": "33%",
                            "sv": "33 %",
                            "th": "33%",
                            "tr": "%33",
                            "vi": "33%",
                            "zh-CN": "33%",
                            "zh-TW": "33%"
                        }
                        },
                        {
                        "value": "50%",
                        "label": {
                            "cs": "50 %",
                            "da": "50 %",
                            "de": "50%",
                            "en": "50%",
                            "es": "50%",
                            "fi": "50 %",
                            "fr": "50 %",
                            "it": "50%",
                            "ja": "50%",
                            "ko": "50%",
                            "nb": "50 %",
                            "nl": "50%",
                            "pl": "50%",
                            "pt-BR": "50%",
                            "pt-PT": "50%",
                            "sv": "50 %",
                            "th": "50%",
                            "tr": "%50",
                            "vi": "50%",
                            "zh-CN": "50%",
                            "zh-TW": "50%"
                        }
                        },
                        {
                        "value": "66%",
                        "label": {
                            "cs": "66 %",
                            "da": "66 %",
                            "de": "66%",
                            "en": "66%",
                            "es": "66%",
                            "fi": "66 %",
                            "fr": "66 %",
                            "it": "66%",
                            "ja": "66%",
                            "ko": "66%",
                            "nb": "66 %",
                            "nl": "66%",
                            "pl": "66%",
                            "pt-BR": "66%",
                            "pt-PT": "66%",
                            "sv": "66 %",
                            "th": "66%",
                            "tr": "%66",
                            "vi": "66%",
                            "zh-CN": "66%",
                            "zh-TW": "66%"
                        }
                        },
                        {
                        "value": "75%",
                        "label": {
                            "cs": "75 %",
                            "da": "75 %",
                            "de": "75%",
                            "en": "75%",
                            "es": "75%",
                            "fi": "75 %",
                            "fr": "75 %",
                            "it": "75%",
                            "ja": "75%",
                            "ko": "75%",
                            "nb": "75 %",
                            "nl": "75%",
                            "pl": "75%",
                            "pt-BR": "75%",
                            "pt-PT": "75%",
                            "sv": "75 %",
                            "th": "75%",
                            "tr": "%75",
                            "vi": "75%",
                            "zh-CN": "75%",
                            "zh-TW": "75%"
                        }
                        },
                        {
                        "value": "83%",
                        "label": {
                            "cs": "83 %",
                            "da": "83 %",
                            "de": "83%",
                            "en": "83%",
                            "es": "83%",
                            "fi": "83 %",
                            "fr": "83 %",
                            "it": "83%",
                            "ja": "83%",
                            "ko": "83%",
                            "nb": "83 %",
                            "nl": "83%",
                            "pl": "83%",
                            "pt-BR": "83%",
                            "pt-PT": "83%",
                            "sv": "83 %",
                            "th": "83%",
                            "tr": "%83",
                            "vi": "83%",
                            "zh-CN": "83%",
                            "zh-TW": "83%"
                        }
                        },
                        {
                        "value": "100%",
                        "label": {
                            "cs": "100 %",
                            "da": "100 %",
                            "de": "100%",
                            "en": "100%",
                            "es": "100%",
                            "fi": "100 %",
                            "fr": "100 %",
                            "it": "100%",
                            "ja": "100%",
                            "ko": "100%",
                            "nb": "100 %",
                            "nl": "100%",
                            "pl": "100%",
                            "pt-BR": "100%",
                            "pt-PT": "100%",
                            "sv": "100 %",
                            "th": "100%",
                            "tr": "%100",
                            "vi": "100%",
                            "zh-CN": "100%",
                            "zh-TW": "100%"
                        }
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "Mobile settings"
                },
                {
                    "type": "checkbox",
                    "id": "order_first",
                    "label": "Order first",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "open_default",
                    "label": "Open by default",
                    "default": true
                }
            ]
        },
        {
            "type": "custom_text",
            "name": "Custom content",
            "limit": 5,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Custom text"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "image_max",
                    "label": "Image max-width (px)",
                    "default": "200px"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Content",
                    "default": "<p>Enter your email below to be the first to know about new collections and product launches.</p>"
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": {
                        "cs": "Šířka kontejneru",
                        "da": "Containerbredde",
                        "de": "Breite des Elements",
                        "en": "Container width",
                        "es": "Ancho del contenedor",
                        "fi": "Säiliön leveys",
                        "fr": "Largeur du conteneur",
                        "it": "Larghezza contenitore",
                        "ja": "コンテナーの幅",
                        "ko": "컨테이너 폭",
                        "nb": "Beholderbredde",
                        "nl": "Containerbreedte",
                        "pl": "Szerokość kontenera",
                        "pt-BR": "Largura do contêiner",
                        "pt-PT": "Largura do recipiente",
                        "sv": "Container-bredd",
                        "th": "ความกว้างของความจุ",
                        "tr": "Kapsayıcı genişliği",
                        "vi": "Chiều rộng khoảng chứa",
                        "zh-CN": "容器宽度",
                        "zh-TW": "容器寬度"
                    },
                    "default": "25%",
                    "options": [
                        {
                        "value": "16%",
                        "label": {
                            "cs": "16 %",
                            "da": "16 %",
                            "de": "16%",
                            "en": "16%",
                            "es": "16%",
                            "fi": "16 %",
                            "fr": "16 %",
                            "it": "16%",
                            "ja": "16%",
                            "ko": "16%",
                            "nb": "16 %",
                            "nl": "16%",
                            "pl": "16%",
                            "pt-BR": "16%",
                            "pt-PT": "16%",
                            "sv": "16 %",
                            "th": "16%",
                            "tr": "%16",
                            "vi": "16%",
                            "zh-CN": "16％",
                            "zh-TW": "16%"
                        }
                        },
                        {
                        "value": "25%",
                        "label": {
                            "cs": "25 %",
                            "da": "25 %",
                            "de": "25%",
                            "en": "25%",
                            "es": "25%",
                            "fi": "25 %",
                            "fr": "25 %",
                            "it": "25%",
                            "ja": "25%",
                            "ko": "25%",
                            "nb": "25 %",
                            "nl": "25%",
                            "pl": "25%",
                            "pt-BR": "25%",
                            "pt-PT": "25%",
                            "sv": "25 %",
                            "th": "25%",
                            "tr": "%25",
                            "vi": "25%",
                            "zh-CN": "25％",
                            "zh-TW": "25%"
                        }
                        },
                        {
                        "value": "33%",
                        "label": {
                            "cs": "33 %",
                            "da": "33 %",
                            "de": "33%",
                            "en": "33%",
                            "es": "33%",
                            "fi": "33 %",
                            "fr": "33 %",
                            "it": "33%",
                            "ja": "33%",
                            "ko": "33%",
                            "nb": "33 %",
                            "nl": "33%",
                            "pl": "33%",
                            "pt-BR": "33%",
                            "pt-PT": "33%",
                            "sv": "33 %",
                            "th": "33%",
                            "tr": "%33",
                            "vi": "33%",
                            "zh-CN": "33%",
                            "zh-TW": "33%"
                        }
                        },
                        {
                        "value": "50%",
                        "label": {
                            "cs": "50 %",
                            "da": "50 %",
                            "de": "50%",
                            "en": "50%",
                            "es": "50%",
                            "fi": "50 %",
                            "fr": "50 %",
                            "it": "50%",
                            "ja": "50%",
                            "ko": "50%",
                            "nb": "50 %",
                            "nl": "50%",
                            "pl": "50%",
                            "pt-BR": "50%",
                            "pt-PT": "50%",
                            "sv": "50 %",
                            "th": "50%",
                            "tr": "%50",
                            "vi": "50%",
                            "zh-CN": "50%",
                            "zh-TW": "50%"
                        }
                        },
                        {
                        "value": "66%",
                        "label": {
                            "cs": "66 %",
                            "da": "66 %",
                            "de": "66%",
                            "en": "66%",
                            "es": "66%",
                            "fi": "66 %",
                            "fr": "66 %",
                            "it": "66%",
                            "ja": "66%",
                            "ko": "66%",
                            "nb": "66 %",
                            "nl": "66%",
                            "pl": "66%",
                            "pt-BR": "66%",
                            "pt-PT": "66%",
                            "sv": "66 %",
                            "th": "66%",
                            "tr": "%66",
                            "vi": "66%",
                            "zh-CN": "66%",
                            "zh-TW": "66%"
                        }
                        },
                        {
                        "value": "75%",
                        "label": {
                            "cs": "75 %",
                            "da": "75 %",
                            "de": "75%",
                            "en": "75%",
                            "es": "75%",
                            "fi": "75 %",
                            "fr": "75 %",
                            "it": "75%",
                            "ja": "75%",
                            "ko": "75%",
                            "nb": "75 %",
                            "nl": "75%",
                            "pl": "75%",
                            "pt-BR": "75%",
                            "pt-PT": "75%",
                            "sv": "75 %",
                            "th": "75%",
                            "tr": "%75",
                            "vi": "75%",
                            "zh-CN": "75%",
                            "zh-TW": "75%"
                        }
                        },
                        {
                        "value": "83%",
                        "label": {
                            "cs": "83 %",
                            "da": "83 %",
                            "de": "83%",
                            "en": "83%",
                            "es": "83%",
                            "fi": "83 %",
                            "fr": "83 %",
                            "it": "83%",
                            "ja": "83%",
                            "ko": "83%",
                            "nb": "83 %",
                            "nl": "83%",
                            "pl": "83%",
                            "pt-BR": "83%",
                            "pt-PT": "83%",
                            "sv": "83 %",
                            "th": "83%",
                            "tr": "%83",
                            "vi": "83%",
                            "zh-CN": "83%",
                            "zh-TW": "83%"
                        }
                        },
                        {
                        "value": "100%",
                        "label": {
                            "cs": "100 %",
                            "da": "100 %",
                            "de": "100%",
                            "en": "100%",
                            "es": "100%",
                            "fi": "100 %",
                            "fr": "100 %",
                            "it": "100%",
                            "ja": "100%",
                            "ko": "100%",
                            "nb": "100 %",
                            "nl": "100%",
                            "pl": "100%",
                            "pt-BR": "100%",
                            "pt-PT": "100%",
                            "sv": "100 %",
                            "th": "100%",
                            "tr": "%100",
                            "vi": "100%",
                            "zh-CN": "100%",
                            "zh-TW": "100%"
                        }
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "Mobile settings"
                },
                {
                    "type": "checkbox",
                    "id": "order_first",
                    "label": "Order first",
                    "default": false
                },
                {
                    "type": "checkbox",
                    "id": "open_default",
                    "label": "Open by default",
                    "default": false
                }
            ]
        },
        {
          "type": "custom_html",
          "name": "Custom HTML",
          "limit": 5,
          "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Custom text"
            },
            {
                "type": "liquid",
                "id": "html",
                "label": "HTML",
                "info": "Liquid code supported"
            },
            {
                "type": "image_picker",
                "id": "fly_image",
                "label": "Footer Image"
            },
            {
                "type": "select",
                "id": "width",
                "label": {
                    "cs": "Šířka kontejneru",
                    "da": "Containerbredde",
                    "de": "Breite des Elements",
                    "en": "Container width",
                    "es": "Ancho del contenedor",
                    "fi": "Säiliön leveys",
                    "fr": "Largeur du conteneur",
                    "it": "Larghezza contenitore",
                    "ja": "コンテナーの幅",
                    "ko": "컨테이너 폭",
                    "nb": "Beholderbredde",
                    "nl": "Containerbreedte",
                    "pl": "Szerokość kontenera",
                    "pt-BR": "Largura do contêiner",
                    "pt-PT": "Largura do recipiente",
                    "sv": "Container-bredd",
                    "th": "ความกว้างของความจุ",
                    "tr": "Kapsayıcı genişliği",
                    "vi": "Chiều rộng khoảng chứa",
                    "zh-CN": "容器宽度",
                    "zh-TW": "容器寬度"
                },
                "default": "25%",
                "options": [
                    {
                    "value": "16%",
                    "label": {
                        "cs": "16 %",
                        "da": "16 %",
                        "de": "16%",
                        "en": "16%",
                        "es": "16%",
                        "fi": "16 %",
                        "fr": "16 %",
                        "it": "16%",
                        "ja": "16%",
                        "ko": "16%",
                        "nb": "16 %",
                        "nl": "16%",
                        "pl": "16%",
                        "pt-BR": "16%",
                        "pt-PT": "16%",
                        "sv": "16 %",
                        "th": "16%",
                        "tr": "%16",
                        "vi": "16%",
                        "zh-CN": "16％",
                        "zh-TW": "16%"
                    }
                    },
                    {
                    "value": "25%",
                    "label": {
                        "cs": "25 %",
                        "da": "25 %",
                        "de": "25%",
                        "en": "25%",
                        "es": "25%",
                        "fi": "25 %",
                        "fr": "25 %",
                        "it": "25%",
                        "ja": "25%",
                        "ko": "25%",
                        "nb": "25 %",
                        "nl": "25%",
                        "pl": "25%",
                        "pt-BR": "25%",
                        "pt-PT": "25%",
                        "sv": "25 %",
                        "th": "25%",
                        "tr": "%25",
                        "vi": "25%",
                        "zh-CN": "25％",
                        "zh-TW": "25%"
                    }
                    },
                    {
                    "value": "33%",
                    "label": {
                        "cs": "33 %",
                        "da": "33 %",
                        "de": "33%",
                        "en": "33%",
                        "es": "33%",
                        "fi": "33 %",
                        "fr": "33 %",
                        "it": "33%",
                        "ja": "33%",
                        "ko": "33%",
                        "nb": "33 %",
                        "nl": "33%",
                        "pl": "33%",
                        "pt-BR": "33%",
                        "pt-PT": "33%",
                        "sv": "33 %",
                        "th": "33%",
                        "tr": "%33",
                        "vi": "33%",
                        "zh-CN": "33%",
                        "zh-TW": "33%"
                    }
                    },
                    {
                    "value": "50%",
                    "label": {
                        "cs": "50 %",
                        "da": "50 %",
                        "de": "50%",
                        "en": "50%",
                        "es": "50%",
                        "fi": "50 %",
                        "fr": "50 %",
                        "it": "50%",
                        "ja": "50%",
                        "ko": "50%",
                        "nb": "50 %",
                        "nl": "50%",
                        "pl": "50%",
                        "pt-BR": "50%",
                        "pt-PT": "50%",
                        "sv": "50 %",
                        "th": "50%",
                        "tr": "%50",
                        "vi": "50%",
                        "zh-CN": "50%",
                        "zh-TW": "50%"
                    }
                    },
                    {
                    "value": "66%",
                    "label": {
                        "cs": "66 %",
                        "da": "66 %",
                        "de": "66%",
                        "en": "66%",
                        "es": "66%",
                        "fi": "66 %",
                        "fr": "66 %",
                        "it": "66%",
                        "ja": "66%",
                        "ko": "66%",
                        "nb": "66 %",
                        "nl": "66%",
                        "pl": "66%",
                        "pt-BR": "66%",
                        "pt-PT": "66%",
                        "sv": "66 %",
                        "th": "66%",
                        "tr": "%66",
                        "vi": "66%",
                        "zh-CN": "66%",
                        "zh-TW": "66%"
                    }
                    },
                    {
                    "value": "75%",
                    "label": {
                        "cs": "75 %",
                        "da": "75 %",
                        "de": "75%",
                        "en": "75%",
                        "es": "75%",
                        "fi": "75 %",
                        "fr": "75 %",
                        "it": "75%",
                        "ja": "75%",
                        "ko": "75%",
                        "nb": "75 %",
                        "nl": "75%",
                        "pl": "75%",
                        "pt-BR": "75%",
                        "pt-PT": "75%",
                        "sv": "75 %",
                        "th": "75%",
                        "tr": "%75",
                        "vi": "75%",
                        "zh-CN": "75%",
                        "zh-TW": "75%"
                    }
                    },
                    {
                    "value": "83%",
                    "label": {
                        "cs": "83 %",
                        "da": "83 %",
                        "de": "83%",
                        "en": "83%",
                        "es": "83%",
                        "fi": "83 %",
                        "fr": "83 %",
                        "it": "83%",
                        "ja": "83%",
                        "ko": "83%",
                        "nb": "83 %",
                        "nl": "83%",
                        "pl": "83%",
                        "pt-BR": "83%",
                        "pt-PT": "83%",
                        "sv": "83 %",
                        "th": "83%",
                        "tr": "%83",
                        "vi": "83%",
                        "zh-CN": "83%",
                        "zh-TW": "83%"
                    }
                    },
                    {
                    "value": "100%",
                    "label": {
                        "cs": "100 %",
                        "da": "100 %",
                        "de": "100%",
                        "en": "100%",
                        "es": "100%",
                        "fi": "100 %",
                        "fr": "100 %",
                        "it": "100%",
                        "ja": "100%",
                        "ko": "100%",
                        "nb": "100 %",
                        "nl": "100%",
                        "pl": "100%",
                        "pt-BR": "100%",
                        "pt-PT": "100%",
                        "sv": "100 %",
                        "th": "100%",
                        "tr": "%100",
                        "vi": "100%",
                        "zh-CN": "100%",
                        "zh-TW": "100%"
                    }
                    }
                ]
            },
            {
                "type": "header",
                "content": "Mobile settings"
            },
            {
                "type": "checkbox",
                "id": "order_first",
                "label": "Order first",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "open_default",
                "label": "Open by default",
                "default": false
            }
          ]
        },
        {
            "type": "spacing",
            "name": "Spacing",
            "limit": 5,
            "settings": [
                {
                    "type": "paragraph",
                    "content": "Use this block to make a spacing between columns"
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": {
                        "cs": "Šířka kontejneru",
                        "da": "Containerbredde",
                        "de": "Breite des Elements",
                        "en": "Container width",
                        "es": "Ancho del contenedor",
                        "fi": "Säiliön leveys",
                        "fr": "Largeur du conteneur",
                        "it": "Larghezza contenitore",
                        "ja": "コンテナーの幅",
                        "ko": "컨테이너 폭",
                        "nb": "Beholderbredde",
                        "nl": "Containerbreedte",
                        "pl": "Szerokość kontenera",
                        "pt-BR": "Largura do contêiner",
                        "pt-PT": "Largura do recipiente",
                        "sv": "Container-bredd",
                        "th": "ความกว้างของความจุ",
                        "tr": "Kapsayıcı genişliği",
                        "vi": "Chiều rộng khoảng chứa",
                        "zh-CN": "容器宽度",
                        "zh-TW": "容器寬度"
                    },
                    "default": "25%",
                    "options": [
                        {
                        "value": "16%",
                        "label": {
                            "cs": "16 %",
                            "da": "16 %",
                            "de": "16%",
                            "en": "16%",
                            "es": "16%",
                            "fi": "16 %",
                            "fr": "16 %",
                            "it": "16%",
                            "ja": "16%",
                            "ko": "16%",
                            "nb": "16 %",
                            "nl": "16%",
                            "pl": "16%",
                            "pt-BR": "16%",
                            "pt-PT": "16%",
                            "sv": "16 %",
                            "th": "16%",
                            "tr": "%16",
                            "vi": "16%",
                            "zh-CN": "16％",
                            "zh-TW": "16%"
                        }
                        },
                        {
                        "value": "20%",
                        "label": {
                            "cs": "20 %",
                            "da": "20 %",
                            "de": "20%",
                            "en": "20%",
                            "es": "20%",
                            "fi": "20 %",
                            "fr": "20 %",
                            "it": "20%",
                            "ja": "20%",
                            "ko": "20%",
                            "nb": "20 %",
                            "nl": "20%",
                            "pl": "20%",
                            "pt-BR": "20%",
                            "pt-PT": "20%",
                            "sv": "20 %",
                            "th": "20%",
                            "tr": "%20",
                            "vi": "20%",
                            "zh-CN": "20％",
                            "zh-TW": "20%"
                        }
                        },
                        {
                        "value": "25%",
                        "label": {
                            "cs": "25 %",
                            "da": "25 %",
                            "de": "25%",
                            "en": "25%",
                            "es": "25%",
                            "fi": "25 %",
                            "fr": "25 %",
                            "it": "25%",
                            "ja": "25%",
                            "ko": "25%",
                            "nb": "25 %",
                            "nl": "25%",
                            "pl": "25%",
                            "pt-BR": "25%",
                            "pt-PT": "25%",
                            "sv": "25 %",
                            "th": "25%",
                            "tr": "%25",
                            "vi": "25%",
                            "zh-CN": "25％",
                            "zh-TW": "25%"
                        }
                        },
                        {
                        "value": "33%",
                        "label": {
                            "cs": "33 %",
                            "da": "33 %",
                            "de": "33%",
                            "en": "33%",
                            "es": "33%",
                            "fi": "33 %",
                            "fr": "33 %",
                            "it": "33%",
                            "ja": "33%",
                            "ko": "33%",
                            "nb": "33 %",
                            "nl": "33%",
                            "pl": "33%",
                            "pt-BR": "33%",
                            "pt-PT": "33%",
                            "sv": "33 %",
                            "th": "33%",
                            "tr": "%33",
                            "vi": "33%",
                            "zh-CN": "33%",
                            "zh-TW": "33%"
                        }
                        },
                        {
                        "value": "50%",
                        "label": {
                            "cs": "50 %",
                            "da": "50 %",
                            "de": "50%",
                            "en": "50%",
                            "es": "50%",
                            "fi": "50 %",
                            "fr": "50 %",
                            "it": "50%",
                            "ja": "50%",
                            "ko": "50%",
                            "nb": "50 %",
                            "nl": "50%",
                            "pl": "50%",
                            "pt-BR": "50%",
                            "pt-PT": "50%",
                            "sv": "50 %",
                            "th": "50%",
                            "tr": "%50",
                            "vi": "50%",
                            "zh-CN": "50%",
                            "zh-TW": "50%"
                        }
                        },
                        {
                        "value": "66%",
                        "label": {
                            "cs": "66 %",
                            "da": "66 %",
                            "de": "66%",
                            "en": "66%",
                            "es": "66%",
                            "fi": "66 %",
                            "fr": "66 %",
                            "it": "66%",
                            "ja": "66%",
                            "ko": "66%",
                            "nb": "66 %",
                            "nl": "66%",
                            "pl": "66%",
                            "pt-BR": "66%",
                            "pt-PT": "66%",
                            "sv": "66 %",
                            "th": "66%",
                            "tr": "%66",
                            "vi": "66%",
                            "zh-CN": "66%",
                            "zh-TW": "66%"
                        }
                        },
                        {
                        "value": "75%",
                        "label": {
                            "cs": "75 %",
                            "da": "75 %",
                            "de": "75%",
                            "en": "75%",
                            "es": "75%",
                            "fi": "75 %",
                            "fr": "75 %",
                            "it": "75%",
                            "ja": "75%",
                            "ko": "75%",
                            "nb": "75 %",
                            "nl": "75%",
                            "pl": "75%",
                            "pt-BR": "75%",
                            "pt-PT": "75%",
                            "sv": "75 %",
                            "th": "75%",
                            "tr": "%75",
                            "vi": "75%",
                            "zh-CN": "75%",
                            "zh-TW": "75%"
                        }
                        },
                        {
                        "value": "83%",
                        "label": {
                            "cs": "83 %",
                            "da": "83 %",
                            "de": "83%",
                            "en": "83%",
                            "es": "83%",
                            "fi": "83 %",
                            "fr": "83 %",
                            "it": "83%",
                            "ja": "83%",
                            "ko": "83%",
                            "nb": "83 %",
                            "nl": "83%",
                            "pl": "83%",
                            "pt-BR": "83%",
                            "pt-PT": "83%",
                            "sv": "83 %",
                            "th": "83%",
                            "tr": "%83",
                            "vi": "83%",
                            "zh-CN": "83%",
                            "zh-TW": "83%"
                        }
                        },
                        {
                        "value": "100%",
                        "label": {
                            "cs": "100 %",
                            "da": "100 %",
                            "de": "100%",
                            "en": "100%",
                            "es": "100%",
                            "fi": "100 %",
                            "fr": "100 %",
                            "it": "100%",
                            "ja": "100%",
                            "ko": "100%",
                            "nb": "100 %",
                            "nl": "100%",
                            "pl": "100%",
                            "pt-BR": "100%",
                            "pt-PT": "100%",
                            "sv": "100 %",
                            "th": "100%",
                            "tr": "%100",
                            "vi": "100%",
                            "zh-CN": "100%",
                            "zh-TW": "100%"
                        }
                        }
                    ]
                }
            ]
        }
    ]
}
{% endschema %}
