{{ 'home-image-banner.css' | asset_url | stylesheet_tag }}


{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }
{%- endstyle -%}

<div id="Banner-{{ section.id }}" class="banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--{{ section.settings.image_height }}">
    {%- if section.settings.image != blank -%}
    <div class="banner__media media">
      <img
        srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
          {%- if section.settings.image.width >= 550 -%}{{ section.settings.image | img_url: '550x' }} 550w,{%- endif -%}
          {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
          {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
          {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
          {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
          {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
          {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
          {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
          {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
        sizes="100vw"
        src="{{ section.settings.image | img_url: '1500x' }}"
        loading="lazy"
        alt="{{ section.settings.image.alt | escape }}"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
        
      >
    </div>
    {%- endif -%}
    {%- if section.settings.border_image != blank -%}
    <div class="border-image">
      <img
        srcset="{%- if section.settings.border_image.width >= 375 -%}{{ section.settings.border_image | img_url: '375x' }} 375w,{%- endif -%}
          {%- if section.settings.border_image.width >= 550 -%}{{ section.settings.border_image | img_url: '550x' }} 550w,{%- endif -%}
          {%- if section.settings.border_image.width >= 750 -%}{{ section.settings.border_image | img_url: '750x' }} 750w,{%- endif -%}
          {%- if section.settings.border_image.width >= 1100 -%}{{ section.settings.border_image | img_url: '1100x' }} 1100w,{%- endif -%}
          {%- if section.settings.border_image.width >= 1500 -%}{{ section.settings.border_image | img_url: '1500x' }} 1500w,{%- endif -%}
          {%- if section.settings.border_image.width >= 1780 -%}{{ section.settings.border_image | img_url: '1780x' }} 1780w,{%- endif -%}
          {%- if section.settings.border_image.width >= 2000 -%}{{ section.settings.border_image | img_url: '2000x' }} 2000w,{%- endif -%}
          {%- if section.settings.border_image.width >= 3000 -%}{{ section.settings.border_image | img_url: '3000x' }} 3000w,{%- endif -%}
          {%- if section.settings.border_image.width >= 3840 -%}{{ section.settings.border_image | img_url: '3840x' }} 3840w,{%- endif -%}
          {{ section.settings.border_image | img_url: 'master' }} {{ section.settings.border_image.width }}w"
        sizes="100vw"
        src="{{ section.settings.border_image | img_url: '1500x' }}"
        loading="lazy"
        alt="{{ section.settings.border_image.alt | escape }}"
        width="{{ section.settings.border_image.width }}"
        height="{{ section.settings.border_image.width | divided_by: section.settings.border_image.aspect_ratio }}"
        
      >
    </div>
    {%- endif -%}
  
    <div class="banner__content page-width">
        <div class="home_banner_box">
            <div class="home_text">
              {% if section.settings.logo_image != blank %}
                <img class="banner_logo" src="{{ section.settings.logo_image | img_url: 'master' }}" style="max-width: 300px;">
              {% endif %}
              {% if section.settings.home_content != blank%}
                  <div class="home-banner-content">
                      {{ section.settings.home_content }}
                  </div>
              {% endif %}
              <div class="ticket_setcion">
              {% if section.settings.show_cta %}
                {% if section.settings.button_name != blank %}
                    <button class="event_apply_btn"  id="go-event">
                        {{ section.settings.button_name | upcase}}
                    </button>
                {% endif %}
               
              {% endif %}
              {% if section.settings.ticket_text != ""%}
                <a  class="ticket_btn" href="#ticket_modal" rel="modal:open">
                  {% render 'icon-ticket' %}
                  {{section.settings.ticket_text}}
                </a>
                <div id="ticket_modal" class="modal" style="
                    background-image: url('{{ section.settings.modal_background | img_url: 'master' }}');
                    background-size: contain;"
                     >
                  {% render 'signup-form', section: section %}
                </div>
              {% endif %}
              </div>
            </div>
            <div class="banner-image-section">
                {% if section.settings.banner_image != blank %}
                    <img class="home-banner-image"
                    srcset="{%- if section.settings.banner_image.width >= 375 -%}{{ section.settings.banner_image | img_url: '375x' }} 375w,{%- endif -%}
                        {%- if section.settings.banner_image.width >= 550 -%}{{ section.settings.banner_image | img_url: '550x' }} 550w,{%- endif -%}
                        {%- if section.settings.banner_image.width >= 750 -%}{{ section.settings.banner_image | img_url: '750x' }} 750w,{%- endif -%}
                        {%- if section.settings.banner_image.width >= 1100 -%}{{ section.settings.banner_image | img_url: '1100x' }} 1100w,{%- endif -%}
                        {%- if section.settings.banner_image.width >= 1500 -%}{{ section.settings.banner_image | img_url: '1500x' }} 1500w,{%- endif -%}
                        {%- if section.settings.banner_image.width >= 1780 -%}{{ section.settings.banner_image | img_url: '1780x' }} 1780w,{%- endif -%}
                        {%- if section.settings.banner_image.width >= 2000 -%}{{ section.settings.banner_image | img_url: '2000x' }} 2000w,{%- endif -%}
                        {%- if section.settings.banner_image.width >= 3000 -%}{{ section.settings.banner_image | img_url: '3000x' }} 3000w,{%- endif -%}
                        {%- if section.settings.banner_image.width >= 3840 -%}{{ section.settings.banner_image | img_url: '3840x' }} 3840w,{%- endif -%}
                        {{ section.settings.banner_image | img_url: 'master' }} {{ section.settings.banner_image.width }}w"
                    sizes="100vw"
                    src="{{ section.settings.banner_image | img_url: '1500x' }}"
                    loading="lazy"
                    alt="{{ section.settings.banner_image.alt | escape }}"
                    width="{{ section.settings.banner_image.width }}"
                    height="{{ section.settings.banner_image.width | divided_by: section.settings.banner_image.aspect_ratio }}"
                    {% if section.settings.banner_image_2 != blank %}class="banner__media-image-half"{% endif %}
                    >
                {% endif %}
                {% if section.settings.banner_text != blank%}
                <div class="home-banner-text">
                    {{section.settings.banner_text}}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<style>
.ticket_setcion{
  display: flex;
  margin-top: 15px;
  align-items: center;
}
.ticket_btn{
  display: flex;
  justify-content: center;
  min-width: 300px;
  align-items: center;
  color: black;
  font-size: 37px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
.ticket_btn svg{
  width: 37px;
  height: 37px;
  margin-right: 11px;
  fill: black;
}
#ticket_modal{
  max-width: 500px;
  background: #f1a003;
  text-align: center;
  color: #000;
  font-family: PTSans;
  padding: 20px 8px;
  height: 629px;
}
.title-section-1, .title-section-3{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 55px;
}
.signup-title p{
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 40px;
  font-size: 20px;
}
.signup-title img{
  max-width: 175px;
}
.signup-text{
  color: #c23a30;
  font-weight: bold;
  font-size: 47px;
  font-family: PerMarker;
  margin-top: -13px;
}
.title-section-1 img{
  width: 114px;
  margin-left: 10px;
}
.signup-text-3{
  font-weight: bold;
  text-align: right;
  font-size: 21px;
  line-height: 1.2;
}
.title-section-3 img{
  width: 113px;
}
#ticket_modal form{
  margin-top: 40px;
}
#ticket_modal form .field__input{
  box-shadow: 0 0 0 0.1rem #c23a30;
  color: black;
  font-family: RockSalt;
}
#ticket_modal form label{
  color: #c23a30;
  font-family: RockSalt;
}
.newsletter-form__button_1{
    color: #f9b72e;
    border: #c23a30;
    background: #c23a30;
    padding: 13px 15px;
    font-size: 20px;
    margin-top: 40px;
    font-weight: bold;
    cursor: pointer;
}
@media only screen and (max-width: 749px) {
  .ticket_setcion{
    display: block;
  }
  .ticket_btn{
    margin-top: 10px;
  }
  #ticket_modal{
    max-width: 400px;
    background: #f1a003;
    text-align: center;
    color: #000;
    font-family: PTSans;
    padding: 20px 8px;
    height: 424px;
  }
  .title-section-1, .title-section-3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 37px;
  }
  .signup-title p{
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 4px;
    font-size: 15px;
  }
  .signup-title img{
    max-width: 175px;
  }
  .signup-text{
    color: #c23a30;
    font-weight: bold;
    font-size: 32px;
    font-family: PerMarker;
    margin-top: -7px;
  }
  .title-section-1 img{
    width: 63px;
    margin-left: 10px;
  }
  .signup-text-3{
    font-weight: bold;
    text-align: right;
    font-size: 15px;
    line-height: 1.2;
  }
  .title-section-3{
    margin-top: 7px;
  }
  .title-section-3 img{
    width: 63px;
  }
  #ticket_modal .newsletter-form__field-wrapper {
    max-width: 26rem;
  }
  #ticket_modal form{
    margin-top: 25px;
  }
  #ticket_modal form .field__input{
    box-shadow: 0 0 0 0.1rem #c23a30;
    color: black;
    font-family: RockSalt;
    font-size: 13px;
    height: 4rem;
  }
  #ticket_modal form label{
    color: #c23a30;
    font-family: RockSalt;
    font-size: 13px;
  }
  .newsletter-form__button_1{
    color: #f9b72e;
    border: #c23a30;
    background: #c23a30;
    padding: 10px 9px;
    margin-top: 15px;
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
  }
}
</style>
{% schema %}
{
  "name": "Home Banner",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
        "type": "image_picker",
        "id": "border_image",
        "label": "Border Image"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-banner.settings.image_height.label",
      "info": "t:sections.image-banner.settings.image_height.info"
    },
    {
        "type": "richtext",
        "id": "home_content",
        "label": "Content"
    },
    {
        "type": "image_picker",
        "id": "logo_image",
        "label": "Logo Image"
    },
    {
      "type": "checkbox",
      "id": "show_cta",
      "default": true,
      "label": "Show Apply button"
    },
    {
        "type": "text",
        "id": "button_name",
        "label": "Button Name",
        "default":"apply"
    },
    {
        "type": "text",
        "id": "ticket_text",
        "label": "Ticket Text",
        "default": "Get Ticket"
    },
    {
        "type": "text",
        "id": "modal_title",
        "label": "Signup Form title",
        "default": "Looking for tickets?"
    },
    {
        "type": "image_picker",
        "id": "modal_background",
        "label": "Signup Image"
    },
    {
        "type": "image_picker",
        "id": "bottom_image",
        "label": "Header Title Image"
    },
    {
        "type": "image_picker",
        "id": "icon_image",
        "label": "Icon Image"
    },
    {
        "type": "text",
        "id": "signup_text_1",
        "label": "Signup Text 1"
    },
    {
        "type": "text",
        "id": "signup_text_2",
        "label": "Signup Text 2"
    },
    {
        "type": "text",
        "id": "signup_text_3",
        "label": "Signup Text 3"
    },
    {
        "type": "text",
        "id": "signup_button",
        "label": "button Text",
        "default": "join the list"
    },
    {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner Image"
    },
    {
        "type": "text",
        "id": "banner_text",
        "label": "Banner Text"
    }
  ],
  "presets": [
    {
      "name": "Home Banner"
    }
  ]
}
{% endschema %}
