<div id="home-banner-section"  class="home-section">
    
    {% if section.settings.logo_image != blank %}
        <div class="home-section-logo">
            <img src="{{section.settings.logo_image | img_url:'master' }}">
        </div>
    {% endif %}
    {% if section.settings.subtitle1 != blank %}
        <div class="home-section-subtitle">
            <h3>{{ section.settings.subtitle1 | upcase }}</h3>
            {% if section.settings.sub_border1 != blank %}
            <div class="home-section-title-border">
                <img src="{{section.settings.sub_border1 | img_url:'master'}}">
            </div>
            {% endif %}
        </div>
    {% endif %}
    {% if section.settings.header1 != blank %}
        <h2 class="home_header_1 text-center text-4xl text-red lg:text-7xl sm:text-6xl">{{section.settings.header1}}</h2>
    {% endif %}
    {% if section.settings.header2 != blank %}
        <h2 class="home_header_2 text-center text-3xl text-red lg:text-6xl sm:text-5xl">{{section.settings.header2}}</h2>
    {% endif %}
    {% if section.settings.text1 != blank %}
        <div class="home-section-text">
            <h2 class="text-2xl text-red lg:text-5xl sm:text-4xl">
                {{section.settings.text1 | upcase}}
            </h2>
        </div>
    {% endif %}
    {% if section.settings.subtitle2 != blank %}
        <div class="home-section-subtitle">
            <h3>{{ section.settings.subtitle2 | upcase }}</h3>
            {% if section.settings.sub_border2 != blank %}
            <div class="home-section-title-border">
                <img src="{{section.settings.sub_border2 | img_url:'master'}}">
            </div>
            {% endif %}
        </div>
    {% endif %}
    {% if section.settings.text2 != blank %}
        <div class="home-section-text">
            <h2 class="text-2xl text-red lg:text-5xl sm:text-4xl">
                {{section.settings.text2 | upcase}}
            </h2>
        </div>
    {% endif %}
    {% if section.settings.title != blank %}
        <div class="home-section-title">
            <h1 class="text-2xl text-black lg:text-6xl sm:text-4xl">{{ section.settings.title | upcase }}</h1>
        </div>
    {% endif %}
    {% if section.settings.button_text != blank %}
        <div class="home-button-section">
            {% if section.settings.arrow_left != blank %}
                <div class="home-section-arrow">
                    <img src="{{section.settings.arrow_left | img_url:'master'}}" />
                </div>
            {% endif %}
            <a class="btn-default home-section-button" href="{{ section.settings.button_link }}">
                {{section.settings.button_text | upcase}}
            </a>
            {% if section.settings.arrow_right != blank %}
                <div class="home-section-arrow">
                    <img src="{{section.settings.arrow_right | img_url:'master'}}" />
                </div>
            {% endif %}
        </div>
    {% endif %}
    {% if section.settings.footer_image != blank %}
        <div class="home-footer-image">
            <img src="{{section.settings.footer_image |img_url: 'master'}}">
        </div>
    {% endif %}
    {% if section.settings.border_image != blank %}
        <div class="section-border-image">
            <img src="{{section.settings.border_image |img_url: 'master'}}">
        </div>
    {% endif %}
    
</div>
<style>
    {% if section.settings.image != blank %}
    #home-banner-section{
        background-image: url({{section.settings.image | img_url: 'master'}});
        background-size: 100%;
    }
    {% endif %}
    

</style>
{% schema %}
{
  "name": "Home Section",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background"
    },
    {
        "type": "image_picker",
        "id": "logo_image",
        "label": "Logo Image"
    },
    {
        "type": "image_picker",
        "id": "logo_hover_image",
        "label": "Logo Hover Image"
    },
    {
        "type": "text",
        "id": "subtitle1",
        "label": "Sub Title1",
        "default": "pereformances"
    },
    {
        "type": "image_picker",
        "id": "sub_border1",
        "label": "Subtitle1 Border Image"
    },
    {
        "type": "textarea",
        "id": "header1",
        "label": "Header 1"
    },
    {
        "type": "textarea",
        "id": "header2",
        "label": "Header 2"
    },
    {
        "type": "textarea",
        "id": "text1",
        "label": "Text 1"
    },
    {
        "type": "text",
        "id": "subtitle2",
        "label": "Sub Title2",
        "default": "vendors"
    },
    {
        "type": "image_picker",
        "id": "sub_border2",
        "label": "Subtitle2 Border Image"
    },
    {
        "type": "textarea",
        "id": "text2",
        "label": "Text 2"
    },
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
        "type": "image_picker",
        "id": "arrow_left",
        "label": "Arrow Left Iamge"
    },
    {
        "type": "image_picker",
        "id": "arrow_right",
        "label": "Arrow right Iamge"
    },
    {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "buy tickets now"
    },
    {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
    },
    {
        "type": "image_picker",
        "id": "footer_image",
        "label": "Footer Image"
    },
    {
        "type": "image_picker",
        "id": "border_image",
        "label": "Border Image"
    }
  ],
 
  "presets": [
    {
      "name": "Home Section"
    }
  ]
}
{% endschema %}
