{% capture container %}
    {{ section.settings.container }}
{% endcapture %}


<section class=" faq-section sf__pages-other" data-section-id="{{ section.id }}" data-section-type="page-faqs">
  <div class="{{ container }} {% if container == 'w-full' %} px-4{% endif %} pb-7 xl:pb-15">
    <div class="faq-title-section">
      {% if section.settings.title != blank %}
        <h1 class="text-4xl">{{section.settings.title | upcase }}</h1>
      {% endif %}
    </div>
    <div class="tab-titles">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'category' %}
            <a href="{{block.settings.tab_link}}" class="tab-title {% if block.settings.active %}active{% endif %}">
              {{ block.settings.tab_name | upcase }}
            </a>
        {% endcase %}
      {% endfor %}
    </div>
    <div class="flex flex-col-reverse lg:flex-row">
      
      <div class="{% if section.settings.menu != blank %}lg:w-9/12{% else %}w-full{% endif %}">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'content' %}
              {% if block.settings.content != blank %}
                <div class="{% if forloop.index == 1 %}mb-10{% else %}my-10{% endif %}">
                  {{ block.settings.content }}
                </div>
              {% endif %}
            {% else %}
              {% if block.settings.title != blank and block.settings.content != blank  %}
              <div class="sf__accordio-blocks sf__custom-accordion"
              style="z-index: {{ 100 | minus: forloop.index }};"
              >
                <div class="sf__accordion-item{% if block.settings.open %} open{% endif %}">
                  <div class="sf__accordion-button"
                    {% if block.settings.background_image != blank %}
                      style="background-image: url({{block.settings.background_image | img_url: 'master' }}); "
                    {% endif %}
                  >
                    <h1 class="text-3xl lg:text-3xl sm:text-3xl">{{ block.settings.title }}</h1>
                    {% if block.settings.title_image != blank %}
                      <div class="faq-title-image">
                        {% render 'responsive-image', image: block.settings.title_image %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="sf__accordion-content text-base text-color-subtext"  style="background: {{block.settings.background}}; color:{{block.settings.text_color}}">{{ block.settings.content }}</div>
                </div>
              </div>
              {% endif %}
          {% endcase %}
        {% endfor %}
      </div>
    </div>
    {% if section.settings.title1 != blank %}
        <div class="home-section-title">
            <h1 class="text-2xl text-black lg:text-6xl sm:text-4xl">{{ section.settings.title1 | upcase }}</h1>
        </div>
    {% endif %}
    {% if section.settings.button_text != blank %}
        <div class="home-button-section">
            {% if section.settings.arrow_left != blank %}
                <div class="home-section-arrow">
                    <img src="{{section.settings.arrow_left | img_url:'master'}}" />
                </div>
            {% endif %}
            <a class="btn-default home-section-button" href="{{ section.settings.button_link }}">
                {{section.settings.button_text | upcase}}
            </a>
            {% if section.settings.arrow_right != blank %}
                <div class="home-section-arrow">
                    <img src="{{section.settings.arrow_right | img_url:'master'}}" />
                </div>
            {% endif %}
        </div>
    {% endif %}
  </div>
</section>
<style>
  {% if section.settings.background != blank %}
  .faq-section {
      background-image: url({{section.settings.background | img_url: 'master'}});
      background-size: 100%;
      padding-top: 50px;
  }
  {% endif %}
  

</style>
<script src="{{ 'faq-tab.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "FAQs",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "image_picker",
      "id": "background",
      "label": "background"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Information"
    },
    {
        "type": "select",
        "id": "container",
        "label": "Container type",
        "default": "container-fluid",
        "options": [
            {
                "value": "container-fluid",
                "label": "Default"
            },
            {
                "value": "w-full",
                "label": "Full width"
            },
            {
                "value": "container",
                "label": "Use container box"
            }
        ]
    },
    {
        "type": "text",
        "id": "title1",
        "label": "Text"
    },
    {
        "type": "image_picker",
        "id": "arrow_left",
        "label": "Arrow Left Iamge"
    },
    {
        "type": "image_picker",
        "id": "arrow_right",
        "label": "Arrow right Iamge"
    },
    {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "buy tickets now"
    },
    {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
    }
  ],
  "blocks": [
    
    {
      "type": "category",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "tab_name",
          "label": "Tab Name",
          "default": "Food + Drink"
        },
        {
          "type": "url",
          "id": "tab_link",
          "label": "Tab Link"
        },
        {
          "type": "checkbox",
          "id": "actove",
          "label": "Active the tab",
          "default": false
        }
      ]
    },
    {
      "type": "accordion",
      "name": "Accordion item",
      "settings": [
        {
          "type": "text",
          "id": "tab_id",
          "label": "Tab ID",
          "default": "food"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Heading",
          "default": "Question Name"
        },
        {
          "type": "image_picker",
          "id": "background_image",
          "label": "Background Image"
        },
        {
          "type": "image_picker",
          "id": "title_image",
          "label": "Title Border Image"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Answer Content</p>"
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background color",
          "default": "#903296"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "#903296"
        },
        {
          "type": "checkbox",
          "id": "open",
          "label": "Open Tab By Default",
          "default": false
        }
      ]
    }
  ]
}
{% endschema %}
