{% capture container %}
    {{ section.settings.container }}
{% endcapture %}


<section class=" faq-section sf__pages-other" data-section-id="{{ section.id }}" data-section-type="page-faqs">
  <div class="{{ container }} {% if container == 'w-full' %} px-4{% endif %}">
    <div class="faq-title-section">
      {% if section.settings.title != blank %}
        <h1 class="text-4xl">{{section.settings.title | upcase }}</h1>
      {% endif %}
    </div>
    <div class="flex flex-col-reverse lg:flex-row">
      
      <div class="w-full text-white ada-content">
        {% if section.settings.content != blank %}
            {{ section.settings.content }}
        {% endif %}
      </div>
    </div>
   
  </div>
</section>
<style>
  {% if section.settings.background != blank %}
  .faq-section {
      background-image: url({{section.settings.background | img_url: 'master'}});
      background-size: 100%;
      padding-top: 50px;
  }
  {% endif %}
  

</style>
{% schema %}
{
  "name": "ADA",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "image_picker",
      "id": "background",
      "label": "background"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
        "type": "select",
        "id": "container",
        "label": "Container type",
        "default": "container-fluid",
        "options": [
            {
                "value": "container-fluid",
                "label": "Default"
            },
            {
                "value": "w-full",
                "label": "Full width"
            },
            {
                "value": "container",
                "label": "Use container box"
            }
        ]
    },
    {
        "type": "richtext",
        "id": "content",
        "label": "Content"
    }
  ]
}
{% endschema %}
