<div id="ticket-banner-section"  class="home-section">
    
    {% if section.settings.logo_image != blank %}
        <div class="ticket-section-logo">
            <img src="{{section.settings.logo_image | img_url:'master' }}">
        </div>
    {% endif %}
    
    {% if section.settings.text1 != blank %}
        <div class="home-section-text">
            <h2 class="text-2xl text-red lg:text-3xl sm:text-4xl">
                {{section.settings.text1 | upcase}}
            </h2>
        </div>
    {% endif %}
    {% if section.settings.subtitle1 != blank %}
        <div class="home-section-subtitle">
            <h3>{{ section.settings.subtitle1 | upcase }}</h3>
            {% if section.settings.sub_border1 != blank %}
            <div class="home-section-title-border">
                <img src="{{section.settings.sub_border1 | img_url:'master'}}">
            </div>
            {% endif %}
        </div>
    {% endif %}
    {% if section.settings.product != blank %}
        {% assign product = section.settings.product %}
        {%- form 'product', product, class: 'product-form form', novalidate: 'novalidate', data-product-id: product.id, data-product-handle: product.handle, id: form_id -%}
          <div class="form__error-message-wrapper hidden" data-error-message-wrapper role="alert">
              <span class="hidden">{{ 'general.accessibility.error' | t }} </span>
              <span class="form__error-message"
                    data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
          </div>
          <input hidden name="id" required value="{{ product.selected_or_first_available_variant.id }}">
          
          <div class="ticket-section-price">
            <div class="ticket_quantity">
              <h2 class="text-2xl text-black lg:text-5xl sm:text-4xl">{{ 'products.product.quantity' | t }}:</h2>
              <input
              class="text-2xl text-black lg:text-5xl sm:text-4xl"
              id="quantity"
              type="number"
              name="quantity"
              value="1"
              min="1"
              aria-label="{{ 'products.product.product_quantity' | t }}"
              data-quantity-input
              data-product-id="{{ product.id }}" >
            </div>
            <h2 class="text-2xl text-black lg:text-5xl sm:text-4xl subtotal" data-value="{{ product.price }}">
               PRICE:  {{product.price | money}}
            </h2>
            
          </div>
          <div class="product-form__actions" data-cart-actions>
             
            
            {% if section.settings.title != blank %}
                <div class="home-section-title">
                    <h1 class="text-2xl text-black lg:text-6xl sm:text-4xl">{{ section.settings.title | upcase }}</h1>
                </div>
            {% endif %}

            {% if section.settings.button_text != blank %}
                <div class="home-button-section">
                    {% if section.settings.arrow_left != blank %}
                        <div class="home-section-arrow">
                            <img src="{{section.settings.arrow_left | img_url:'master'}}" />
                        </div>
                    {% endif %}
                    <div class="prod__dynamic_checkout buy-one-click">
                      {{ form | payment_button }}
                    </div>
                    <!-- <a class="btn-default home-section-button" herf="{{ section.settings.button_link }}">
                        {{section.settings.button_text | upcase}}
                    </a> -->
                    {% if section.settings.arrow_right != blank %}
                        <div class="home-section-arrow">
                            <img src="{{section.settings.arrow_right | img_url:'master'}}" />
                        </div>
                    {% endif %}
                </div>
            {% endif %}

          </div>
          <div class="prod__form-error mt-4"></div>
      {%- endform -%}
    {% endif %}
    
  
    {% if section.settings.subtitle2 != blank %}
        <div class="home-section-subtitle">
            <h3>{{ section.settings.subtitle2 | upcase }}</h3>
            {% if section.settings.sub_border2 != blank %}
            <div class="home-section-title-border">
                <img src="{{section.settings.sub_border2 | img_url:'master'}}">
            </div>
            {% endif %}
        </div>
    {% endif %}
    
    {% if section.settings.text2 != blank %}
        <div class="home-section-text">
            <h2 class="text-2xl text-red lg:text-3xl sm:text-4xl">
                {{section.settings.text2 | upcase}}
            </h2>
        </div>
    {% endif %}
    
   
    {% if section.settings.footer_image != blank %}
        <div class="home-footer-image">
            <img src="{{section.settings.footer_image |img_url: 'master'}}">
        </div>
    {% endif %}
    {% if section.settings.border_image != blank %}
        <div class="section-border-image">
            <img src="{{section.settings.border_image |img_url: 'master'}}">
        </div>
    {% endif %}
    
</div>
<style>
    {% if section.settings.image != blank %}
    #ticket-banner-section{
        background-image: url({{section.settings.image | img_url: 'master'}});
        background-size: 100%;
        padding-top: 50px;
    }
    {% endif %}

</style>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    
    // addEventListener method 
    const demo = document.getElementById('quantity'); 
    var origin_price  = document.querySelector('.subtotal').getAttribute('data-value');
    demo.addEventListener('change', function() { 
      var subtotal = this.value * origin_price;
      var last_price = subtotal.toString().substring(subtotal.toString().length  - 2);
      var first_price = subtotal.toString().substring(0, subtotal.toString().length  - 2);
      var final_price = "PRICE: $"+first_price+"."+last_price;
      console.log(final_price); 
      document.querySelector('.subtotal').innerHTML= final_price;
    }); 
  });
</script>
{% schema %}
{
  "name": "Ticket Section",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background"
    },
    {
        "type": "image_picker",
        "id": "logo_image",
        "label": "Logo Image"
    },
    {
        "type": "text",
        "id": "subtitle1",
        "label": "Sub Title1",
        "default": "General Admission Includes:"
    },
    {
        "type": "image_picker",
        "id": "sub_border1",
        "label": "Subtitle1 Border Image"
    },
    {
        "type": "richtext",
        "id": "text1",
        "label": "Text 1"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product",
      "info": "This is for Ticket."
    },
    {
        "type": "text",
        "id": "price",
        "label": "Price Text",
        "default": "price: $$"
    },
    {
        "type": "text",
        "id": "subtitle2",
        "label": "Sub Title2",
        "default": "vendors"
    },
    {
        "type": "image_picker",
        "id": "sub_border2",
        "label": "Subtitle2 Border Image"
    },
    {
        "type": "textarea",
        "id": "text2",
        "label": "Text 2"
    },
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
        "type": "image_picker",
        "id": "arrow_left",
        "label": "Arrow Left Iamge"
    },
    {
        "type": "image_picker",
        "id": "arrow_right",
        "label": "Arrow right Iamge"
    },
    {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "buy tickets now"
    },
    {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
    },
    {
        "type": "image_picker",
        "id": "footer_image",
        "label": "Footer Image"
    },
    {
        "type": "image_picker",
        "id": "border_image",
        "label": "Border Image"
    }
  ],
 
  "presets": [
    {
      "name": "Ticket Section"
    }
  ]
}
{% endschema %}
