{% capture container %}
    {{ section.settings.container }}
{% endcapture %}


<section class=" faq-section sf__pages-other" data-section-id="{{ section.id }}" data-section-type="page-faqs">
  <div class="{{ container }} {% if container == 'w-full' %} px-4{% endif %} ">
    <div class="hotel-title-section">
      {% if section.settings.content != blank %}
        <p class="text-white">{{section.settings.content }}</p>
      {% endif %}
    </div>
    <div class="flex flex-col-reverse lg:flex-row">
      
      <div class="w-full hotels">
        {% for block in section.blocks %}
            <div class="hotel-item">
                {% if block.settings.image != blank %}
                    <img src="{{block.settings.image | img_url: 'master'}}" />
                {% endif %}
                {% if block.settings.hotel_name != blank %}
                    <h3 class="hotel_name">{{block.settings.hotel_name}}</h3>
                {% endif %}
                {% if block.settings.address != blank %}
                    <span class="hotel_address">{{block.settings.address}}</span>
                {% endif %}
                {% if block.settings.phone_number != blank %}
                    <p class="phone_number">{{ block.settings.phone_number }}</p>
                {% endif %}
                {% if block.settings.button_text != blank %}
                    <a href="{{ block.settings.button_link }}" class="btn-default">{{block.settings.button_text}}</a>
                {% endif %}
            </div>              
        {% endfor %}
      </div>
    </div>
   
  </div>
</section>
<style>
  {% if section.settings.background != blank %}
  .faq-section {
      background-image: url({{section.settings.background | img_url: 'master'}});
      background-size: 100%;
      padding-top: 50px;
  }
  {% endif %}
  

</style>
{% schema %}
{
  "name": "Hotels",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
        "type": "select",
        "id": "container",
        "label": "Container type",
        "default": "container-fluid",
        "options": [
            {
                "value": "container-fluid",
                "label": "Default"
            },
            {
                "value": "w-full",
                "label": "Full width"
            },
            {
                "value": "container",
                "label": "Use container box"
            }
        ]
    },
    {
        "type": "richtext",
        "id": "content",
        "label": "Content"
    }
  ],
  "blocks": [
    {
      "type": "hotel",
      "name": "Hotel item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Background Image"
        },
        {
            "type": "text",
            "id": "hotel_name",
            "label": "Hotel Name"
        },
        {
          "type": "text",
          "id": "address",
          "label": "Hotel Address"
        },
        {
            "type": "text",
            "id": "phone_number",
            "label": "Hotel Phone Number"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "reserve now"
        },
        {
            "type": "text",
            "id": "button_link",
            "label": "button_link"
        }
      ]
    }
  ]
}
{% endschema %}
