{% capture container %}
    {{ section.settings.container }}
{% endcapture %}


<section class=" roster-section sf__pages-other" data-section-id="{{ section.id }}" data-section-type="page-roster">

  <div class="{{ container }} {% if container == 'w-full' %} px-4{% endif %}">
    
    <div class="title-and-tab"
       {% if section.settings.tab_image != blank %} style=" background-image: url({{section.settings.tab_image | img_url : 'master'}}); " {% endif %}>
      <div class="roster-title-section container ">
        {% if section.settings.title_image != blank %}
          <div class="title-left-image">
            {% render 'responsive-image', image: section.settings.title_image %}
          </div>
        {% endif %}
        {% if section.settings.title != blank %}
          <h1 class="roster-title text-2xl text-black lg:text-4xl sm:text-6xl">
            {{section.settings.title}}
          </h1>
        {% endif %}
        {% if section.settings.title_image1 != blank %}
          <div class="title-right-image">
            {% render 'responsive-image', image: section.settings.title_image1 %}
          </div>
        {% endif %}
      </div>
      <div class="tab-section container">
        <div class="tab-titles">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'category' %}
                <div class="tab-title" data-id = "{{block.settings.tab_id}}">
                  {{ block.settings.tab_name | upcase }}
                </div>
            {% endcase %}
          {% endfor %}
        </div>
        <div class="tab-button">
          {% if section.settings.button != blank %}
            <a href="{{section.settings.button_link}}"> {{ section.settings.button}}</a>
          {% endif %}
        </div>
      </div>
      
    </div>
    
    <div class="lg:flex-row roster-section" 
      {% if section.settings.roster_image != blank %} style=" background-image: url({{section.settings.roster_image | img_url : 'master'}}); " {% endif %}>
    >
      
      <div class="container pb-4">
        <div class="sf-custom__grid flex {% unless scrollMobile %}flex-wrap{% else %}sf__ms-wrapper md:flex-wrap{% endunless %}">
        {% for block in section.blocks %}
            
          {% case block.type %}
            {% when 'roster' %}
              {% case block.settings.width %}
                {% when '16%' %}
                    {%- assign block_width = 'lg:w-1/6' -%}
                    {%- assign block_width_mobile = 'w-1/2' -%}
                {% when '25%' %}
                    {%- assign block_width = 'lg:w-1/4' -%}
                    {%- assign block_width_mobile = 'w-1/2' -%}
                {% when '33%' %}
                    {%- assign block_width = 'lg:w-1/3' -%}
                    {%- assign block_width_mobile = 'w-full' -%}
                {% when '50%' %}
                    {%- assign block_width = 'lg:w-1/2' -%}
                    {%- assign block_width_mobile = 'w-full' -%}
                {% when '66%' %}
                    {%- assign block_width = 'lg:w-2/3' -%}
                    {%- assign block_width_mobile = 'w-full' -%}
                {% when '75%' %}
                    {%- assign block_width = 'lg:w-3/4' -%}
                    {%- assign block_width_mobile = 'w-full' -%}
                {% when '83%' %}
                    {%- assign block_width = 'lg:w-10/12' -%}
                    {%- assign block_width_mobile = 'w-full' -%}
                {% when '100%' %}
                    {%- assign block_width = 'lg:w-full' -%}
                    {%- assign block_width_mobile = 'w-full' -%}
              {% endcase %}
              <div class="hidden roster-item sf-custom__block {{ block.settings.block_custom_class }} sf-custom__block--{{ block.type }} {{ block_width }} {{ block_width_mobile }}" data-category="{{block.settings.tab_id}}">
                <div class="roster-in" {% if block.settings.modal_content == blank %} style="pointer-events: none;" {% endif%}>
                  {% if section.settings.modal_tape_image != blank %}
                    <div class="roster-tape">
                      <img src="{{section.settings.modal_tape_image | img_url: 'master'}}">
                    </div>
                  {% endif %}
                  {% if block.settings.image != blank %}
                    {% render 'responsive-image', image: block.settings.image %}
                  {% else %}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg sf__placeholder-svg sf__placeholder-svg-no-border' }}
                  {% endif %}
                  <div class="roster-text" >
                    {% if block.settings.title != blank %}
                      <h3 class="roster-item-title text-black">{{ block.settings.title }}</h3>
                    {% endif %}
                    {% if block.settings.subtitle != blank %}
                      <p class="roster-subtitle  text-black">{{ block.settings.subtitle | upcase }}</p>
                    {% endif %}
                  </div>
               
                  <div class="hidden roster-modal">
                    {% if section.settings.roster_item_image != blank %}
                      {% render 'responsive-image', image: section.settings.roster_item_image %}
                    {% else %}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg sf__placeholder-svg sf__placeholder-svg-no-border' }}
                    {% endif %}
                  </div>
                  <div class="hidden roster-modal">
                    <div class="roster-modal-content" >
                      {% if block.settings.modal_title != blank %}
                        <h4 class="roster-modal-title  text-black">
                          {{ block.settings.modal_title }}
                        </h4>
                        {% if section.settings.modal_title_image != blank %}
                          <div class="title_border_image">
                            {% render 'responsive-image', image: section.settings.modal_title_image %}
                          </div>
                        {% endif %}
                      {% endif %}
                      {% if block.settings.modal_content != blank %}
                        <p class="roster-modal-text  text-black">
                          {{ block.settings.modal_content }}
                        </p>
                      {% endif %}
                     
                      
                    </div>
                  </div>
                </div>
                <div class="modal_close hidden">
                  <svg width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.91675 30.3256C2.90112 29.5704 2.15894 28.6459 1.69019 27.5521C1.19539 26.4323 1.13029 25.3256 1.49487 24.2318C1.54696 23.4245 1.74227 22.6563 2.08081 21.9271C2.44539 21.1719 2.87508 20.4558 3.36987 19.7787C3.89071 19.1016 4.4506 18.4636 5.04956 17.8646C5.64852 17.2657 6.20841 16.7058 6.72925 16.1849C6.83341 15.8724 7.01571 15.599 7.27612 15.3646C7.53654 15.1302 7.80998 14.9089 8.09644 14.7006C8.40894 14.4662 8.70841 14.2188 8.99487 13.9584C9.30737 13.698 9.55477 13.3985 9.73706 13.0599C9.63289 12.6954 9.46362 12.3308 9.22925 11.9662C8.99487 11.6016 8.73446 11.237 8.448 10.8724C8.16154 10.5079 7.86206 10.1433 7.54956 9.77869C7.23706 9.4141 6.9506 9.0365 6.69019 8.64587C6.66414 8.51567 6.55998 8.4766 6.37769 8.52869C6.22144 8.58077 6.10425 8.56775 6.02612 8.48962C6.07821 8.07296 5.98706 7.63025 5.75269 7.1615C5.54435 6.66671 5.25789 6.25004 4.89331 5.9115C5.02352 5.599 5.14071 5.19535 5.24487 4.70056C5.37508 4.20577 5.34904 3.67192 5.16675 3.099C5.14071 2.83858 5.16675 2.59119 5.24487 2.35681C5.34904 2.12244 5.45321 1.90108 5.55737 1.69275C5.66154 1.48442 5.73966 1.2891 5.79175 1.10681C5.84383 0.898478 5.83081 0.690145 5.75269 0.481812C6.14331 0.429728 6.49487 0.45577 6.80737 0.559937C7.14591 0.638062 7.44539 0.742228 7.70581 0.872437C7.99227 0.976603 8.25269 1.06775 8.48706 1.14587C8.74748 1.224 8.99487 1.21098 9.22925 1.10681C9.17716 1.26306 9.16414 1.38025 9.19019 1.45837C9.24227 1.51046 9.29435 1.56254 9.34644 1.61462C9.42456 1.64067 9.48966 1.66671 9.54175 1.69275C9.61987 1.71879 9.65894 1.78389 9.65894 1.88806C10.1537 2.04431 10.6876 2.38285 11.2605 2.90369C11.8595 3.42452 12.4324 3.99744 12.9792 4.62244C13.5261 5.24744 14.0209 5.87244 14.4636 6.49744C14.9063 7.09639 15.2319 7.56514 15.4402 7.90369C16.1954 7.43494 17.0027 6.87504 17.8621 6.224C18.7475 5.57296 19.6459 4.90889 20.5574 4.23181C21.4949 3.55473 22.4324 2.91671 23.3699 2.31775C24.3334 1.69275 25.2709 1.19796 26.1824 0.833374C26.7032 1.06775 27.1069 1.36723 27.3933 1.73181C27.7058 2.09639 27.9532 2.48702 28.1355 2.90369C28.3438 3.29431 28.5261 3.69796 28.6824 4.11462C28.8647 4.50525 29.099 4.85681 29.3855 5.16931C29.1251 5.69014 28.8516 6.13285 28.5652 6.49744C28.2787 6.83598 28.0704 7.25264 27.9402 7.74744C27.2891 8.00785 26.5079 8.42452 25.5964 8.99744C24.8152 9.49223 23.8256 10.1693 22.6277 11.0287C21.4298 11.8881 20.0105 13.0209 18.3699 14.4271C18.7605 14.8698 19.073 15.2865 19.3074 15.6771C19.5678 16.0677 19.7761 16.4063 19.9324 16.6927C20.1147 17.0313 20.2579 17.3438 20.3621 17.6302C20.6485 17.8386 20.8829 18.086 21.0652 18.3724C21.2475 18.6589 21.4167 18.9584 21.573 19.2709C21.7553 19.5573 21.9506 19.8308 22.1589 20.0912C22.3673 20.3516 22.6407 20.5599 22.9792 20.7162C23.0834 21.1849 23.2136 21.6276 23.3699 22.0443C23.5261 22.4349 23.6694 22.8256 23.7996 23.2162C23.9558 23.6068 24.073 23.9974 24.1511 24.3881C24.2553 24.7526 24.2944 25.1302 24.2683 25.5209C24.06 26.224 23.7475 26.8099 23.3308 27.2787C22.9141 27.7474 22.6147 28.2292 22.4324 28.724C22.1459 28.8021 21.8595 28.8933 21.573 28.9974C21.3126 29.0756 21.0912 29.2058 20.9089 29.3881L18.2527 27.5131C17.7839 25.9506 17.1069 24.4532 16.2214 23.0209C15.336 21.5886 14.4766 20.3516 13.6433 19.3099C12.3933 20.2735 11.1954 21.3412 10.0496 22.5131C8.90373 23.6849 7.86206 24.9349 6.92456 26.2631C6.87248 26.9141 6.79435 27.461 6.69019 27.9037C6.58602 28.3204 6.41675 28.6719 6.18237 28.9584C5.948 29.2448 5.64852 29.4922 5.28394 29.7006C4.91935 29.9089 4.46362 30.1172 3.91675 30.3256Z" fill="#BE031E"/>
                    </svg>
                </div>  
                
              </div>
          {% endcase %}
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  
</style>
<script src="{{ 'roster-tab.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Roster",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
        "type": "select",
        "id": "container",
        "label": "Container type",
        "default": "container-fluid",
        "options": [
            {
                "value": "container-fluid",
                "label": "Default"
            },
            {
                "value": "w-full",
                "label": "Full width"
            },
            {
                "value": "container",
                "label": "Use container box"
            }
        ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Roster Title",
      "default": "The roster"
    },
    {
      "type": "image_picker",
      "id": "title_image",
      "label": "Title Left Image"
    },
    {
      "type": "image_picker",
      "id": "title_image1",
      "label": "Title Right Image"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button Text",
      "default": "buy tickets now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "image_picker",
      "id": "tab_image",
      "label": "Tab section background"
    },
    {
      "type": "image_picker",
      "id": "roster_image",
      "label": "Roster section background"
    },
    {
      "type": "image_picker",
      "id": "roster_item_image",
      "label": "Roster Modal background"
    },
    {
      "type": "image_picker",
      "id": "modal_title_image",
      "label": "Modal Title Border Image"
    },
    {
      "type": "image_picker",
      "id": "modal_tape_image",
      "label": "Modal Tape Image"
    }


  ],
  "blocks": [
    {
      "type": "category",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "tab_name",
          "label": "Tab Name",
          "default": "Food + Drink"
        },
        {
          "type": "text",
          "id": "tab_id",
          "label": "Tab ID",
          "default": "tab1"
        },
        {
          "type": "color",
          "id": "background",
          "label": "Tab color",
          "default": "#903296"
        }
      ]
    },
    {
      "type": "roster",
      "name": "Roster item",
      "settings": [
        {
          "type": "select",
          "id": "width",
          "label": {
            "cs": "Šířka kontejneru",
            "da": "Containerbredde",
            "de": "Breite des Elements",
            "en": "Container width",
            "es": "Ancho del contenedor",
            "fi": "Säiliön leveys",
            "fr": "Largeur du conteneur",
            "it": "Larghezza contenitore",
            "ja": "コンテナーの幅",
            "ko": "컨테이너 폭",
            "nb": "Beholderbredde",
            "nl": "Containerbreedte",
            "pl": "Szerokość kontenera",
            "pt-BR": "Largura do contêiner",
            "pt-PT": "Largura do recipiente",
            "sv": "Container-bredd",
            "th": "ความกว้างของความจุ",
            "tr": "Kapsayıcı genişliği",
            "vi": "Chiều rộng khoảng chứa",
            "zh-CN": "容器宽度",
            "zh-TW": "容器寬度"
          },
          "default": "50%",
          "options": [
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "83%",
              "label": "83%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Roster Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Queen bee"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "@beyonce"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text",
          "default": "learn more"
        },
        {
          "type": "url",
          "id": "block_link",
          "label": "Block Link"
        },
        {
          "type": "text",
          "id": "modal_title",
          "label": "Modal Title",
          "default": "Hi, I'm Queen Bee"
        },
        {
          "type": "textarea",
          "id": "modal_content",
          "label": "Modal Content"
        },
        {
          "type": "text",
          "id": "modal_button",
          "label": "Modal button Text",
          "default": "follow me"
        },
        {
          "type": "url",
          "id": "modal_link",
          "label": "Modal Link"
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background color",
          "default": "#903296"
        },
        {
          "type": "color",
          "id": "background2",
          "label": "Bottom Background",
          "default": "#6e2572"
        },
        {
          "type": "text",
          "id": "tab_id",
          "label": "Tab ID",
          "default": "tab1"
        }
       
      ]
    }
  ],
  "presets": [
    {
        "name": "Roster",
        "category": "Section"
    }
  ]
}
{% endschema %}
