<div class="section_container rich-content-wrapper d-flex" style="color:{{ section.settings.color }}">
  {% for block in section.blocks %}
    <div class="block{% if block.settings.block_width == '50%' %} half_width{% endif %}">
      {% if block.type == 'image' %}
        <div class="block_wrapper d-flex align-center">
          <div class="image_wrapper" style="min-width:{{ block.settings.image_width }}%;max-width:{{ block.settings.image_width }}%;">
            {% render 'responsive-image', image: block.settings.image, wrapper_class: 'w-full h-full' %}
          </div>
          {% if block.settings.content != blank %}
            <div class="block_desc">{{ block.settings.content }}</div>
          {% endif %}
        </div>
      {% else %}
        <h4 style="color:{{ section.settings.color }}">{{ block.settings.title }}</h4>
        <div class="block_content">{{ block.settings.content }}</div>
      {% endif %}
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Rich content",
  "class": "section-rich-content",
  "settings": [
    {
      "type": "color",
      "id": "color",
      "label": "Text color",
      "default": "#FFF"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50,
          "label": "Image width"
        },
        {
          "type": "select",
          "options": [
            {
              "label": "50%",
              "value": "50%"
            },
            {
              "label": "100%",
              "value": "100%"
            }
          ],
          "default": "50%",
          "id": "block_width",
          "label": "Block width"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "select",
          "options": [
            {
              "label": "50%",
              "value": "50%"
            },
            {
              "label": "100%",
              "value": "100%"
            }
          ],
          "default": "50%",
          "id": "block_width",
          "label": "Block width"
        }
      ]
    }
  ]
}
{% endschema %}