<div class="section_container">

  <div class="list-grid d-flex">
    {% for block in section.blocks %}
      <div class="list-grid-wrapper" style="color:{{ block.settings.color }};">
        <label>{{ block.settings.title }}</label>
        <div class="list-content">{{ block.settings.content | replace: 'p>', 'li>' }}</div>
      </div>
    {% endfor %}
  </div>
  
</div>

{% schema %}
{
  "name": "Lists",
  "class": "listitems",
  "settings": [

  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Text color"
        }
      ]
    }
  ]
}
{% endschema %}