{% capture container %}
    {{ section.settings.container }}
{% endcapture %}


<section class=" stactic-page-section sf__pages-other" data-section-id="{{ section.id }}" >
  <div class="{{ container }} {% if container == 'w-full' %} px-4{% endif %} pb-7 xl:pb-15">
    <div class="faq-title-section">
      {% if section.settings.title != blank %}
        <h1 class="text-4xl">{{section.settings.title | upcase }}</h1>
      {% endif %}
    </div>
    <div class="flex flex-col-reverse lg:flex-row">
      
      <div class="{% if section.settings.menu != blank %}lg:w-9/12{% else %}w-full{% endif %}">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'block' %}
              <div class="stactic_block"
                {% if block.settings.background_image != blank %}
                    style="background-image: url({{block.settings.background_image | img_url: 'master' }}); "
                {% endif %}
                >
                  {% if block.settings.title != blank %}
                    <div class="block-title">
                        <h1 class="text-2xl lg:text-23xl sm:text-2xl">{{ block.settings.title }}</h1>
                        {% if block.settings.title_image != blank %}
                        <div class="faq-title-image">
                            {% render 'responsive-image', image: block.settings.title_image %}
                        </div>
                        {% endif %}
                    </div>
                  {% endif %}
                  {% if block.settings.content != blank %}
                    <div class="text-base text-color-subtext"  style="background: {{block.settings.background}}; color:{{block.settings.text_color}}">{{ block.settings.content }}</div>
                  
                  {% endif %}
                
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
    
  </div>
</section>
<style>
  {% if section.settings.background != blank %}
  #{{section.id}} {
      background-image: url({{section.settings.background | img_url: 'master'}});
      background-size: 100%;
      padding-top: 50px;
  }
  {% endif %}
  

</style>
<script src="{{ 'faq-tab.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "Static Page",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "image_picker",
      "id": "background",
      "label": "background"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Information"
    },
    {
        "type": "select",
        "id": "container",
        "label": "Container type",
        "default": "container-fluid",
        "options": [
            {
                "value": "container-fluid",
                "label": "Default"
            },
            {
                "value": "w-full",
                "label": "Full width"
            },
            {
                "value": "container",
                "label": "Use container box"
            }
        ]
    }
    
  ],
  "blocks": [
    
    {
      "type": "block",
      "name": "Text Blcok",
      "settings": [
        {
          "type": "textarea",
          "id": "title",
          "label": "Heading",
          "default": "Heading Title"
        },
        {
          "type": "image_picker",
          "id": "background_image",
          "label": "Background Image"
        },
        {
          "type": "image_picker",
          "id": "title_image",
          "label": "Title Border Image"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Answer Content</p>"
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background color",
          "default": "#903296"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "#903296"
        }
        
      ]
    }
  ],
  "presets": [
    {
        "name": "Static Page"
    }
    ]
}
{% endschema %}
