
<div class="section-tbd" style="
            background-image: url('{{ section.settings.Background | img_url: 'master' }}');
            background-size: contain;
            height: {{ section.settings.Background.height }}px;
            max-height: 710px;
            background-color: var(--color-black);
">

    <div class="section-tbd-content page-width">
        {% for block in section.blocks %}
            {% assign mod = forloop.index | modulo: 2 %}
            <div class="tbd-item {% if mod != 1 %} mt-50 {% endif %}">
                {% if block.settings.image != blank %}
                <div class="section-tbd-item-image">
                    <img 
                    srcset="
                    {{ block.settings.image | img_url: '375x' }} 375w"
                    src="{{ block.settings.image | img_url: '375x' }}"
                    loading="lazy"
                    alt="{{ block.settings.image.alt | escape }}"
                    width="{{ block.settings.image.width }}"
                    height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio }}"
                >
                </div>
               {% endif %}
                {% if block.settings.text != blank %}
                <div class="section-tbd-item-title">
                    {{block.settings.text}}
                </div>
               {% endif %}
            </div>
        {% endfor %}
    </div>
  </div>
  <style>
    .section-tbd{
        padding: 70px 0px;
    }
    .section-tbd-content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        padding: 0 15rem;
    }
    .section-tbd-content img{
        max-width: 200px;
        height: auto;
        width: 100%;
    }
    .tbd-item.mt-50{
        margin-top: 150px;
    }
    .tbd-item {
        width: 25%;
        text-align: center;
        margin-top: -150px
    }
    .section-tbd-item-title{
        color: white;
        text-align: center;
        font-size: 50px;
        font-family: 'PerMarker';
        width: 100%;
        background: none;
        line-height: 1;
    }
    @media only screen and (max-width: 1310px){
        .section-tbd-item-title{
            font-size: 38px;
        }
        .section-tbd-content img{
            max-width: 100px;
            height: auto;
            width: 100%;
        }
        .tbd-item.mt-50{
            margin-top: 100px;
        }
    }
    @media only screen and (max-width: 992px){
        .section-tbd-content{
            flex-wrap: wrap;
        }
        .tbd-item{
            width: 50%;
        }
        .section-tbd-item-title{
            font-size: 38px;
        }
        .tbd-item.mt-50{
            margin-top: 80px;
        }
    }
    @media only screen and (max-width: 749px){
        .section-tbd-content{
            display: block;
            padding: 0 3rem;
        }
        .tbd-item{
            width: 100%;
            margin-top: 40px;
        }
        .tbd-item.mt-50{
            margin-top: 40px;
        }
        .section-tbd{
            height: auto !important;
            max-height: none !important;
        }

    }
  </style>
  {% schema %}
    {
      "name": "TBD Content",
      "settings": [
          {
              "type":"image_picker",
              "label":"Background",
              "id": "Background"
          }
          
      ],
      "blocks": [
        {
            "type": "item",
            "name": "Item",
            "settings":[
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id":"text",
                    "label": "Text",
                    "default": "Header Title"
                }
            ]
        }
      ],
      "presets":[
          {
          "name": "TBD Content"
          }
      ]
  
    }
  {% endschema %}
  
  