
<div class="section-title-slider">
  {%- if section.settings.Background != blank -%}
  <div class="border-image">
    <img
      srcset="{%- if section.settings.border_image.width >= 375 -%}{{ section.settings.Background | img_url: '375x' }} 375w,{%- endif -%}
        {%- if block.settings.Background.width >= 550 -%}{{ block.settings.Background | img_url: '550x' }} 550w,{%- endif -%}
        {%- if section.settings.Background.width >= 750 -%}{{ section.settings.Background | img_url: '750x' }} 750w,{%- endif -%}
        {%- if section.settings.Background.width >= 1100 -%}{{ section.settings.Background | img_url: '1100x' }} 1100w,{%- endif -%}
        {%- if section.settings.Background.width >= 1500 -%}{{ section.settings.Background | img_url: '1500x' }} 1500w,{%- endif -%}
        {%- if section.settings.Background.width >= 1780 -%}{{ section.settings.Background | img_url: '1780x' }} 1780w,{%- endif -%}
        {%- if section.settings.Background.width >= 2000 -%}{{ section.settings.Background | img_url: '2000x' }} 2000w,{%- endif -%}
        {%- if section.settings.Background.width >= 3000 -%}{{ section.settings.Background | img_url: '3000x' }} 3000w,{%- endif -%}
        {%- if section.settings.Background.width >= 3840 -%}{{ section.settings.Background | img_url: '3840x' }} 3840w,{%- endif -%}
        {{ section.settings.Background | img_url: 'master' }} {{ section.settings.Background.width }}w"
      sizes="100vw"
      src="{{ section.settings.Background | img_url: '1500x' }}"
      loading="lazy"
      alt="{{ section.settings.Background.alt | escape }}"
      width="{{ section.settings.Background.width }}"
      height="{{ section.settings.Background.width | divided_by: section.settings.Background.aspect_ratio }}"
      
    >
  </div>
  {%- endif -%}
  <div class="title-slider__content">
      <div class="slider1">
        {% for i in (1..5) %}
            {% if section.settings.title != blank %}
            <div class="title-slider__content-title">
                {{ section.settings.title }}
            </div>
            {% endif %}
            {% if section.settings.time != blank %}
            <div class="title-slider__content-time">
                &nbsp; {{ section.settings.time }} &nbsp;
            </div>
            {% endif %}
        {% endfor %}
      </div>
      <div class="slider2">
        {% for i in (1..5) %}
            {% if section.settings.title != blank %}
            <div class="title-slider__content-title">
                {{ section.settings.title }}
            </div>
            {% endif %}
            {% if section.settings.time != blank %}
            <div class="title-slider__content-time">
                &nbsp; {{ section.settings.time }} &nbsp;
            </div>
            {% endif %}
        {% endfor %}
      </div>
  </div>
</div>
{% schema %}
  {
    "name": "Text Slider",
    "settings": [
        {
            "type":"image_picker",
            "label":"Background",
            "id": "Background"
        },
		{
			"type":"text",
			"label":"Title",
			"id": "title"
		},
		
		{
			"type":"text",
			"label":"Time",
			"id": "time"
		}
		
	],
	"presets":[
        {
		"name": "Text Slider"
		}
	]

  }
{% endschema %}

