<div id="ticket-banner-section"  class="home-section sf-prod__block" data-view="product-template">
    
    {% if section.settings.logo_image != blank %}
        <div class="ticket-section-logo">
            <img src="{{section.settings.logo_image | img_url:'master' }}">
        </div>
    {% endif %}
    <div class="ticket-section1">
        {% if section.settings.subtitle1 != blank %}
            <div class="ticket-section-subtitle text-center">
                <h2>{{ section.settings.subtitle1 | upcase }}</h2>
                {% if section.settings.sub_border1 != blank %}
                <div class="home-section-title-border">
                    <img src="{{section.settings.sub_border1 | img_url:'master'}}">
                </div>
                {% endif %}
            </div>
        {% endif %}
        
            <div class="ticket-section-text">
                {% if section.settings.text1 != blank %}
                    <h2 class="text-white lg:text-2xl sm:text-2xl text-left">
                        {{section.settings.text1 | upcase}}
                    </h2>
                {% endif %}
                {% if section.settings.html_li != blank%}
                    {{section.settings.html_li }}
                {% endif %}
            </div>
        {% if section.settings.product != blank %}
            {% assign product = section.settings.product %}
            {%- capture form_id -%}product-form-{{product.id}}__{{ "now" | date: "%L" }}{%- endcapture -%}
            {%- form 'product', product, class: 'product-form form', novalidate: 'novalidate', data-product-id: product.id, data-product-handle: product.handle, id: form_id -%}
                <div class="form__error-message-wrapper hidden" data-error-message-wrapper role="alert">
                    <span class="hidden">{{ 'general.accessibility.error' | t }} </span>
                    <span class="form__error-message"
                            data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
                </div>
                <input hidden name="id" required value="{{ product.selected_or_first_available_variant.id }}">
                
               
                <div class="product-form__actions" data-cart-actions>
                    
                    
                    {% if section.settings.title != blank %}
                        <div class="home-section-title">
                            <h1 class="text-2xl text-black lg:text-6xl sm:text-4xl">{{ section.settings.title | upcase }}</h1>
                        </div>
                    {% endif %}
                    <div class="ticket-product">
                        
                        <div class="home-button-section">
                            {% if section.settings.arrow_left != blank %}
                                <div class="home-section-arrow">
                                    <img src="{{section.settings.arrow_left | img_url:'master'}}" />
                                </div>
                            {% endif %}
                            <div class="quantity-input h-[60px] flex border border-color-border rounded {{ class }}">
                                <button
                                        class="minus-btn quantity-input__button flex items-center justify-center h-[60px] w-[46px]"
                                        type="button"
                                        aria-label="{{ 'products.product.decrease_quantity' | t: title: product.title }}"
                                        data-quantity-selector="decrease"
                                        data-product-id="{{ product.id }}"
                                >
                                    -
                                </button>
                                <input
                                        class="quantity-input__element w-10 text-center flex-grow shrink appearance-none"
                                        type="number"
                                        name="quantity"
                                        id="quantity"
                                        value="1"
                                        min="1"
                                        aria-label="{{ 'products.product.product_quantity' | t }}"
                                        data-quantity-input
                                        data-product-id="{{ product.id }}"
                                >
                                <button
                                        class="plus-btn quantity-input__button flex items-center justify-center h-[60px] w-[46px]"
                                        type="button"
                                        aria-label="{{ 'products.product.increase_quantity' | t: title: product.title }}"
                                        data-quantity-selector="increase"
                                        data-product-id="{{ product.id }}"
                                >
                                    +
                                </button>
                            </div>
                            <div class="price_section">
                                <span class="number hidden">1</span><span class="subtotal hidden" data-value="{{product.price}}">${{product.price | divided_by: 100 }}</span><span class="total">${{product.price | divided_by: 100 }}</span> &nbsp;TOTAL
                            </div>
                            
                            
                        
                            {% if section.settings.arrow_right != blank %}
                                <div class="home-section-arrow">
                                    <img src="{{section.settings.arrow_right | img_url:'master'}}" />
                                </div>
                            {% endif %}
                        </div>
                        <div class="zip-pay">
                            <quadpay-widget-v3 amount={{ product.price | divided_by: 100.00 }}></quadpay-widget-v3>
                        </div>
                        
                        <div class="prod__dynamic_checkout buy-one-click">
                            {{ form | payment_button }}
                        </div>
                        
                       
    
                    </div>
                    
                </div>
                <div class="prod__form-error mt-4"></div>
            {%- endform -%}
        {% endif %}
    </div>
  
    {% if section.settings.subtitle2 != blank %}
        <div class="home-section-subtitle">
            <h2 class="text-red">{{ section.settings.subtitle2 | upcase }}</h2>
            {% if section.settings.sub_border2 != blank %}
            <div class="home-section-title-border">
                <img src="{{section.settings.sub_border2 | img_url:'master'}}">
            </div>
            {% endif %}
        </div>
    {% endif %}
    
    
    <div class="home-section-text">
        {% if section.settings.text2 != blank %}
        <h2 class="text-2xl text-black lg:text-3xl sm:text-4xl">
            {{section.settings.text2 | upcase}}
        </h2>
        {% endif %}
        {% if section.settings.html_li2 != blank%}
            {{section.settings.html_li2 }}
        {% endif %}
    </div>
    
    
   
    {% if section.settings.footer_image != blank %}
        <div class="home-footer-image">
            <img src="{{section.settings.footer_image |img_url: 'master'}}">
        </div>
    {% endif %}
    {% if section.settings.border_image != blank %}
        <div class="section-border-image">
            <img src="{{section.settings.border_image |img_url: 'master'}}">
        </div>
    {% endif %}
    
</div>
<style>
    {% if section.settings.image != blank %}
    #ticket-banner-section{
        background-image: url({{section.settings.image | img_url: 'master'}});
        background-size: 100%;
        padding-top: 50px;
    }
    {% endif %}
    {% if section.settings.mb_image != blank %}
    @media (max-width:767px){
        #ticket-banner-section{
            background-image: url({{section.settings.mb_image | img_url: 'master'}});
            padding-top: 50px;
        }
    }
    {% endif %}
    {% if section.settings.section_background != blank %}
    .ticket-section1{
        background-image: url({{section.settings.section_background | img_url: 'master'}});
        padding-top: 50px;
        width: 76%;
        margin-left: auto;
        margin-right: auto;
    }
    {% endif %}
    {% if section.settings.mobile_background != blank %}
    @media (max-width:767px){
        .ticket-section1{
        background-image: url({{section.settings.mobile_background | img_url: 'master'}});
        padding-top: 50px;
        width: 86%;
        margin-left: auto;
        margin-right: auto;
        }
    }
    {% endif %}

  
</style>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    
   
    document.querySelector('.plus-btn').addEventListener('click', function(){
        var origin_price  = document.querySelector('.subtotal').getAttribute('data-value');
        const quantity =parseInt(document.getElementById('quantity').value) + 1;
        var subtotal = quantity * origin_price;
        var last_price = subtotal.toString().substring(subtotal.toString().length  - 2);
        var first_price = subtotal.toString().substring(0, subtotal.toString().length  - 2);
        var final_price = "$"+first_price;
        document.querySelector('.number').innerHTML= quantity;
        document.querySelector('.total').innerHTML= final_price;
    });
    document.querySelector('.minus-btn').addEventListener('click', function(){
        var origin_price  = document.querySelector('.subtotal').getAttribute('data-value');
        const quantity =parseInt(document.getElementById('quantity').value) - 1;
        if(quantity > 0){
            var subtotal = quantity * origin_price;
            var last_price = subtotal.toString().substring(subtotal.toString().length  - 2);
            var first_price = subtotal.toString().substring(0, subtotal.toString().length  - 2);
            var final_price = "$"+first_price;
            document.querySelector('.number').innerHTML= quantity;
            document.querySelector('.total').innerHTML= final_price;
        }
        
    });
    
  });
</script>
{% schema %}
{
  "name": "New Ticket Section",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background"
    },
    {
        "type": "image_picker",
        "id": "mb_image",
        "label": "Mobile Background"
    },
    {
        "type": "image_picker",
        "id": "logo_image",
        "label": "Logo Image"
    },
    {
        "type": "header",
        "content": "Section 1"
    },
    {
        "type": "image_picker",
        "id": "section_background",
        "label": "Section1 Background"
    },
    {
        "type": "image_picker",
        "id": "mobile_background",
        "label": "Section1 Mobile Background"
    },
    {
        "type": "text",
        "id": "subtitle1",
        "label": "Sub Title1",
        "default": "General Admission Includes:"
    },
    {
        "type": "image_picker",
        "id": "sub_border1",
        "label": "Subtitle1 Border Image"
    },
    {
        "type": "richtext",
        "id": "text1",
        "label": "Text 1"
    },
    {
        "type": "html",
        "id": "html_li",
        "label": "Html for Bullet"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product",
      "info": "This is for Ticket."
    },
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
        "type": "image_picker",
        "id": "arrow_left",
        "label": "Arrow Left Iamge"
    },
    {
        "type": "image_picker",
        "id": "arrow_right",
        "label": "Arrow right Iamge"
    },
    {
        "type": "header",
        "content": "Section 2"
    },
    {
        "type": "text",
        "id": "subtitle2",
        "label": "Sub Title2",
        "default": "vendors"
    },
    {
        "type": "image_picker",
        "id": "sub_border2",
        "label": "Subtitle2 Border Image"
    },
    {
        "type": "richtext",
        "id": "text2",
        "label": "Text 2"
    },
    {
        "type": "html",
        "id": "html_li2",
        "label": "Html for Bullet"
    },
    
    {
        "type": "image_picker",
        "id": "footer_image",
        "label": "Footer Image"
    },
    {
        "type": "image_picker",
        "id": "border_image",
        "label": "Border Image"
    }
  ],
 
  "presets": [
    {
      "name": "New Ticket Section"
    }
  ]
}
{% endschema %}
