{% comment %}
  All custom CSS in this file will be kept when updating the theme
  Write your custom CSS below
{% endcomment %}
/* start topbar style */
.sf-search-form{
  display: none;
}
#shopify-section-header .header__wrapper.transparent-on-top header{
  /* background: linear-gradient(to bottom, #030202, #8c5d03 50%, #f1a003); */
  background: black;
}
.sf-header__desktop{
 padding-top: 10px;
 padding-bottom: 20px;
}
.text-red{
  color: #BE031E;
}
.mobile_header_border{
  position: absolute;
  width: 100%;
  transform: none;
  bottom: -22px;
}
.sf-header header{
  font-family: 'RockSalt';
}
@media (max-width:1025px){
  .sf-header__mobile.container-fluid{
    padding: 0px;
  }
} 
@media (max-width:1025px){
  .sf-header__mobile-right{
    margin-left: -25px;
  }
} 
@media (min-width:1024px) {
  .header_border{
    position: absolute;
    width: 100%;
    transform: translateY(calc(-50% + 20px));
  }
}
.sf-topbar{
  height: 96px;
  padding-top: 20px;
  padding-bottom: 45px;
  z-index: 2;
}
.topbar-content{
  width: 100%;
  justify-content: center;
  display: flex;
  font-size: 15px;
}
.topbar-right{
  display: none;
}
@media (min-width:640px) {

}
@media (min-width:768px) {
  #countdown-timer-countdown-timer .md\:w-20{
    width: auto;
  }
  .sf-topbar{
    padding-left: 50px;
    padding-right: 50px;
  }
  .topbar-right{
    display: flex;
    align-items: center;
  }
  .social-instagram {
    margin-right: 10px;
  }
  .topbar-content{
    justify-content: space-between;
  }
  .countdown-timer-container .md\:text-6xl{
  	font-size: 3em;
  }
}
@media (max-width: 768px) {
  .social-instagram {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  }
  .social-instagram svg {
    width: 40px;
    height: auto;
  }
}
@media (min-width:1024px) {
  .sf-topbar{
    height: 96px;
  }
  .topbar-content{
    font-size: 16px;
  }
}
@media (min-width:1280px) {
  .sf-topbar{
    height: 96px;
    padding: 24px;
  }
 
}
@media (min-width:1536px) {
  .sf-topbar{
    height: 96px;
    padding: 24px 164px 22px 159px;
  }
  
}
/* end topbar style */

/*start header style */
/* .sf-logo{
  margin-top: -30px;
  z-index: 50;
} */
.sf-header .sf-menu-item>a{
  font-size: 1.2em;
}
.sf-header__mobile{
  /* background: linear-gradient(to bottom, #030202, #8c5d03 50%, #f1a003); */
}
.sf-menu-button{
  display: flex;
  justify-content: flex-end;
}
.home-banner .sf-image{
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}
.home-banner .section-my{
  margin-bottom: 0px;
  padding-bottom: 100px;
}
.bottom_border_image{
  transform: translateY(50%);
}
.top_border_image{
  transform: translateY(-50%);
}
.bottom_border_image .sf-image{
  width: 100%;
  max-width: 100%;
}
.roster-section .sf-custom__grid{
  padding-top: 60px;
}
@media (min-width:640px) {
  .mobile_header_border{
    position: absolute;
    display: block;
    transform: translateY(50%);
    bottom: 0px;
  }
  .sf-header__mobile{
    flex-wrap: wrap;
  }
}
@media (min-width:768px) {
  .sf-header .sf-menu-item>a{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
@media (min-width:1024px) {
  .sf-header .sf-menu-item>a{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .home-banner{
    padding-top: 100px;
  }
}
@media (min-width:1280px) {
  .sf-header .sf-menu-item>a{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
@media (min-width:1536px) {
  .sf-header .sf-menu-item>a{
  }
}
/* end header style */

/* homepage style */
.page-header{
  visibility: hidden;
  height: 40px;
}
.home-banner .get_ticket_section {
  padding: 0px;
}
.get_ticket_section .prose {
  color: black;
  font-size: 18px;
  font-family: 'PTsans';
}
.lineup.text-right{
  text-align: center;
}
.ticket.text-left{
  text-align: center;
}

.lineup a{
  padding: 15px 60px;
  border-radius: 68px;
  background-color: #3d8922;
  color: white;
  font-size: 1.2em;
}
.ticket a{
  padding: 15px 60px;
  border-radius: 68px;
  background-color: #903296;
  color: white;
 font-size: 1.2em;
}
.count_section{
  padding: 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to right, #cc0, #ffba00, #ff2000 64%, #a80000);
  color: white;
}
.count_section .prose {
  font-size: 20px;
  font-family: 'PTsans';
  color: white;
}
.count_section .prose p{
  margin-top: 0px;
  margin-bottom: 0px;
}
.count_section  .text-color-secondary{
  color: white;
}
.count_section .sf__btn-link{
  font-size: 20px;
  font-family: 'PTsans';
}
.count_section .sf__btn-link::after, .count_section .sf__btn-link::before{
  display: none;
}
.count_section .mt-8{
  margin-top: 1rem;
}
.get_ticket_section .content__heading {
  margin-top: 20px;
}
.count_section .content__heading {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.roster-title-section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.title-left-image{
  width: 100px;
  margin-right: 10px;
}
.title-right-image{
  width: 100px;
  margin-left: 10px;
}
.roster-title{
  color: #cf0019;
}
.tab-section{
  display: block;
}
.tab-button{
  padding-top: 20px;
  display: block;
  text-align: center;
  padding-bottom: 20px;
}
.tab-button a{
  padding: 10px 60px;
  margin-top: 10px;
  cursor: pointer;
  background: #cf0019;
  color: #f1a003;
  font-size: 23px;
}
.tab-button a:hover{
  background-color: #111;
  color: white;
}
.tab-titles{
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
.tab-title{
  padding: 10px 30px;
  color: transparent;
  margin-top: 10px;
  cursor: pointer;
  border: solid #903296;
  color: #903296;
  font-family: 'RockSalt';
  text-transform: capitalize;
}
.tab-title.active{
  color: #f1a003;
  background: #903296;
}
.ticket-section-subtitle h2{
  color: #F4A917;
}
.ticket-section-text{
  margin-top: 20px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  
}
#ticket-banner-section p{
  font-family: 'PTsans';
  line-height: 1;
}
.ticket-section-text h2{
  font-family: 'PTsans';
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.home-section-title-border img{
  margin: 0 auto;
}
.roster-in{
  background: white;
  padding: 10px;
  cursor: pointer;
}
.roster-item-title{
  font-family: 'RockSalt';
  line-height: 2;
  font-size: 17px;
}
.sf__accordion-button{
  color: white;
}

.sf__accordion-button{
  padding: 10px 0px;
}

.faq-section{
  min-height: 50vh;
}
.roster-section .sf-image{
  height: 100%;
}
.roster-item {
  color: white;
  text-align: center;
  position: relative;
  padding: 10px;
}
.text-white{
  color: white;
}
.topbar-left, .topbar-right{
  font-family: 'PTsans';
  font-size: 20px;
}
.roster-subtitle, .roster-link {
  font-family: 'PTsans';
}
.roster-subtitle {
  font-weight: bold;
}
.roster-text{
  cursor: pointer;
  padding: 3px 10px;
}
.roster-bottom{
  padding: 5px;
  cursor: pointer;
}
.roster-modal{
  position: absolute;
  top: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  left: 10px;
}
.title_border_image .sf-image{
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
}
.roster-modal-content{
  padding: 20px;
  border-radius: 20px;
  padding: 30px;
  height: 100%;
  width: 100%;
  position: relative;
}
.modal_close{
  position: absolute;
  top: 25px;
  right: 30px;
  color: white;
  width: 20px;
  cursor: pointer;
  z-index: 6;
}
.roster-section .sf-custom__grid{
  row-gap: 35px;
}
.roster-modal-text{
  margin-top: 20px;
  font-family: 'PTsans';
  overflow-y: auto;
  max-height: 67%;
}
.roster-modal-button  {
  margin-top: 20px;
  font-size: 21px;
  display: block;
}
.roster-modal-title {
  margin-top: 20px;
  max-width: 65%;
  margin-left: auto;
  margin-right: auto;
  color:#a80000;
  font-family: 'PTsans';
  font-weight: bold;
}

/* faq page */
.sf__accordion-item .sf__accordion-button:after{
  display: none;
}
.faq-section{
  padding-top: 100px;
}
.faq-title-section{
  margin-top: 0px;
}
.faq-section .faq-title-section h1{
  color: #BE031E;
  text-align: center;
  margin: 0 auto;
  line-height: 2;
}
.faq-title-image{
  height: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.faq-title-image .sf-image{
  margin-left: auto;
  margin-right: auto;
}
.faq-title-image img{
  height: auto;
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;
}
.sf__custom-accordion .sf__accordion-item .sf__accordion-button {
  text-align: center;
  background-size:  auto 100%;
  background-position: bottom;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-right: 0px;
}
.sf__accordion-button h1{
  color: #f1a003;
  font-family: 'RockSalt';
  line-height: 2;
}
.sf__custom-accordion .sf__accordion-item .sf__accordion-content{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}
.sf__custom-accordion .sf__accordion-item.open .sf__accordion-content{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: -30px;
  padding-top: 30px;
}
.sf__accordio-blocks {
  position: relative;
  margin-top: -20px;
}
.sf__custom-accordion .sf__accordion-item .sf__accordion-content p{
  max-width: 950px;
  margin: 0 auto;
  font-family: 'PTSans';
  padding: 20px;
}
.sf-menu-wrapper-mobile li{
  text-align: center;
  font-size: 32px;
  font-family: 'RockSalt';
}

.mobile-right-menu{
  text-align: center;
}
.sf__footer-block-content strong{
  font-size: 20px;
  font-family: 'Permarker';
}
.sf__footer-block-content a, .sf__footer-block-content .block-text{
  font-family: 'PTsans';
}
.title-with-images{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.collection-title-left, .collection-title-right{
  width: 100%;
}
.collection-header__title{
  min-width: 400px;
  color: #a80000;
}
.sf-modal__content-inner{
  color: white;
  background: #111;
}
.prod__dynamic_checkout{
  max-width: 300px;
  margin: 0 auto;
}
.sf-modal .sf-product-variant-option-dropdown{
  background: #111;
}
.sf-modal .quick-view__info span{
  font-family: 'PTSans';
}
.sf-modal .prod__title h1{
  color: #f9a720;
  font-family: rocksalt;
  font-size: 20px;
}
.sf-modal .product-prices span{
  color: #f9a720;
  font-family: 'PTSans';
}
.sf-modal .quantity-input__element {
  color: black;
}
.sf-modal .border-color-border{
  border-color: #f9a720;
}
.sf__pcard-content{
  background-color: black;
}
.sf__pcard-content h3 a{
  color: #f9a720;
  font-family: 'RockSalt';
  font-size: 12px;
  text-align: left;
  line-height: 2;
  pointer-events: none;
  min-height: 47px;
}
.quick-view__info .text-white{
  font-family: 'PTSans';
}
.quick-view__info  .prod__option-label{
  font-family: 'PTSans';
}
.sf-modal .quick-view__info .not-change{
  font-size: 24px;
  font-weight: bold;
  padding: 0.525rem 1.25rem;
}
.sf-modal .sf-po__option-button:hover, .sf-modal .sf-po__option-button[data-selected=true]{
  border-color: #F4A917;
}
.default-btn.sf__btn {
  background-color: #f9a720 !important;
  color: #000 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.default-btn.sf__btn  svg{
  width: 30px;
  margin-right: 10px;
}
.sf__pcard-price .product-prices{
  float: left;
  font-family: 'PTSans';
  font-weight: bold;
}
.sf__pcard-price .product-prices span{
  color: #f9a720;
}
.sf__pcard-content{
  display: block;
  padding: 20px 20px 50px 20px;
  position: relative;
}
.sf__pcard-content .sf__pcard-quick-add{
  position: absolute;
  right: 20px;
  bottom: 5px;
}
.sf__pcard-quick-add .sf-pqv__button:hover{
  background: transparent !important;
}
.cart-add-to-cart{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  border: none;
  color: white;
  padding-left: 0px;
  padding-right: 0px;
}
.cart-add-to-cart svg{
  width: 35px;
  fill: white;
  color: white;
}
.cart-add-to-cart span{
  color: white;
  font-family: 'PTSans';
  font-size: 20px;
}
.timer-section{
  display: block;
}
.timer-section img{
  width: 100px;
  margin: 0 auto;
}
.timer-section h3{
  font-family: 'PTSans';
  color: #F4A917;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: -10px;
}
.timer-section .font-light{
  color: #F4A917;
}

.timer-section .text-color-secondary {
  color: #F4A917;
}
.countdown-timer .font-medium{
  font-size: 9px;
}
.section-border-image{
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
}
.section-border-image img{
  width: 100%;
}
.home-section-logo img{
  margin-left: auto;
  margin-right: auto;
}
.ticket-section-price{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px auto;
  column-gap: 20px;
}
.ticket_quantity{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.ticket_quantity input{
  max-width: 100px;
  padding: 0px;
  max-height: 50px;
  text-align: center;
}
.ticket-section-logo img{
  width: 100%;
  height: auto;
}
.home-section-subtitle{
  margin-top: 40px;
  text-align: center;
}
.home-section-subtitle img{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.home-section-subtitle h3{
  font-family: 'PTSans';
  font-weight: bold;
}
.home-section-text{
  text-align: center;
  margin-top: 20px;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.home-section-text h2{
  max-width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
}
.home-footer-image img{
  width: 100%;
}
.home-section-title{
  text-align: center;
  margin-top: 50px;
}
.home-button-section{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: flex-end;
  column-gap: 6px;
  margin-bottom: 10px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.btn-default{
  background: #BE031E;
  color: #F7B82F;
  border: none;
  padding: 10px 40px;
}
.btn-default:hover{
  background: #111;
  color: white;
}
#home-banner-section{
  padding-top: 30px;
}
.home-section-logo img{
  max-width: 130px;
  margin-top: 20px;
}
.home-section-arrow{
  display: none;
}
.timer-content-section{
  text-align: center;
  font-family: 'Rocksalt';
}
.timer {
  font-family: 'Rocksalt';
  padding-top: 5px;
  padding-bottom: 15px;
}
.home-section-title-border{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.icon-cart-white{
  width: 30px;
}
.title-and-tab{
  background-size: auto 100%;
  background-position: bottom;
  position: relative;
  padding-bottom: 70px;
  padding-top: 60px;
  z-index: 1;
}
.roster-section{
  background-size: 100%;
  background-position: top;
  padding-top: 40px;
  margin-top: -100px;
  position: relative;
  z-index: 0;
}
.roster-tape{
  position: absolute;
  z-index: 4;
  transform: translateY(-70%);
  width: 100%;
  text-align: center;
  margin-left: -10px;
}
.roster-tape img{
  max-width: 160px;
  margin-left: auto;
  margin-right: auto;
}
.sf__accordio-blocks{
  padding: 0px 30px;
}
.sf__pcard-quick-add .cart-add-to-cart{
  column-gap: 10px;
  padding-bottom: 0px;
}
.sf__pcard-quick-add .cart-add-to-cart svg{
  width: 20px;
}
.sf-modal__content-inner .sf-slider__controls{
  align-items: flex-end;
  transform: none;
  bottom: 0px;
}
.shopify-payment-button__button.shopify-payment-button__button--unbranded{
  background: #BE031E;
  color: #F7B82F;
  border: none;
  padding: 12px 40px;
  font-size: 25px;
}
.ticket-product .quantity-input__button{
  height: 58px;
  background-color: white;
  font-size: 27px;
}
.ticket-product .quantity-input__button:first-child{
  color: #cf0019;
}
.ticket-product .quantity-input__button:last-child{
  color: #3d8922;
}
.countdown-timer-container  p{
  color: #F7B82F;
  font-size: 9px;
}
.shopify-payment-button__more-options{
  display: none !important;
}
.sf__collection-toolbar{
  display: none;
}
.ticket-banner-section .home-section-text{
  padding-bottom: 60px;
}
.price_section{
  text-align: center;
  font-size: 27px;
  font-weight: 300;
  font-family: 'Permarker';
}
.hotel-title-section p{
  color: white;
}
.hotels{
  display: block;
  margin-top: 40px;
}
.hotel-item{
  background: white;
  padding: 20px;
  width: 100%;
  text-align:center;
  margin-top: 20px;
}
.hotel-item p{
  margin-bottom: 20px;
  font-family: 'PTSans';
  font-weight: bold;
}
.hotel-item .btn-default{
  font-size: 20px;
  font-family: 'Permarker';
  padding: 10px 40px;
}
.hotel-item h3{
  font-family: 'RockSalt';
  line-height: 1.5;
  margin-top: 10px;
}
@media (min-width:640px) {

}
@media (min-width:768px) {
  .hotels{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
  }
  .hotel-item{
    background: white;
    padding: 20px;
    width: 40%;
    margin-top: 0px;
  }
  .faq-title-image .sf-image{
    max-width: 80%;
  }
  .ticket-section-price{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px auto;
    column-gap: 20px;
  }
  .ticket-banner-section .home-section-text{
    padding-bottom: 20px;
  }
  .roster-section {
    background-size: 100%;
    background-position: top;
    padding-top: 100px;
    margin-top: -100px;
    position: relative;
    z-index: 0;
  }
  .sf__accordio-blocks{
    padding: 0px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .sf__custom-accordion .sf__accordion-item .sf__accordion-button {
    text-align: center;
    background-size: 100% 100%;
    background-position: bottom;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-right: 0px;
  }

  .faq-title-image img{
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .tab-titles{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 0;
    max-width: 850px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  
  .get_ticket_section .content__heading {
    margin-top: 40px;
  }
  .get_ticket_section .prose {
    color: black;
    font-size: 18px;
    font-family: 'PTsans';
  }
  .home-section-logo img{
    max-width: 300px;
    margin-top: 50px;
  }
  .home-section-arrow{
    display: block;
  }
  .home-button-section{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: flex-end;
    column-gap: 30px;
  }
  .btn-default{
    background: #BE031E;
    color: #F7B82F;
    border: none;
    padding: 20px 40px;
  }
  .timer-content-section{
    width: 50%;
  }
  .timer{
    width: 50%;
  }
  .tab-section{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
  }

  .title-left-image{
    width: 200px;
    margin-right: 10px;
  }
  .title-right-image{
    width: 200px;
    margin-left: 10px;
  }
  .tab-button{
    padding-top: 40px;
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }
  .roster-section .sf-custom__grid{
    padding-top: 10px;
    padding-bottom: 100px;
  }
}
@media (min-width:1024px) {
 
  .timer-section img{
    width: 123px;
    margin: 0 auto;
  }
  .tab-title{
    padding: 10px 40px;
    color: transparent;
    margin-top: 10px;
    cursor: pointer;
    border: solid #903296;
    color: #903296;
    font-size: 20px;
  }
  #home-banner-section{
    padding-top: 130px;
  }
  .home-section-logo img{
    max-width: 320px;
    margin-top: 50px;
  }
  .timer-section{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 30px;
  }
  .count_section .content__heading {
    font-size: 40px;
  }
  .lineup.text-right{
    text-align: right;
  }
  .ticket.text-left{
    text-align: left;
  }
  .count_section{
    padding: 47px 168px 46px 69px;
  }
  .count_section .prose {
    font-size: 20px;
  }
  .count_section .sf__btn-link{
    font-size: 20px;
  }
}
@media (min-width:1280px) {
  .container-fluid .sf__topbar-inner{
    max-width: 1204px;
    margin-left: auto;
    margin-right: auto;
  }
  #home-banner-section{
    padding-top: 230px;
  }
}
@media (min-width:1536px) {
  .roster-section{
    background-size: 100%;
    background-position: top;
    padding-top: 100px;
    margin-top: -100px;
    position: relative;
    z-index: 0;
  }
  .count_section{
    padding: 47px 168px 46px 169px;
  }
  .lineup a{
    border-radius: 68px;
    border: solid 1px #707070;
    background-color: #3d8922;
    color: white;
    font-size: 1.2em;
  }
  .ticket a{
    border-radius: 68px;
    border: solid 1px #707070;
    background-color: #903296;
    color: white;
    font-size: 1.2em;
  }
}
/* End homepage style */

/* Start footer style */
.footer-image{
  /* background-image: linear-gradient(to top, #030202, #8c5d03 50%, #f1a003); */
}
.footer-image .sf-custom__block--image{
  margin-left: auto;
  margin-right: auto;
}
.footer-image .section-my{
  margin-bottom: 0px;
}
.sf-footer .sf__footer-block-content{
  text-align: center;
}
.footer-menu {
 display: flex;
 justify-content: space-around; 
 flex-wrap: wrap;
}
.sf-footer .sf-footer__block ul li{
  list-style: none;
  flex: 0 0 33.333333%;
}
.footer-html{
  align-items: center;
}
.footer-html img{
  margin-left: 10px;
}

.ticket-section1{
  padding-bottom: 50px;
}
.ticket-section1{
  background-size: 100% 100%;
}
/* End footer style */
.ada-content p{
  margin: 0 auto;
  font-family: 'PTSans';
  padding: 10px;
}
.ada-content p strong{
  font-size: 27px;
  font-weight: 400;
}
@media (max-width:767px){
  .sf-modal__content-inner .modal_image_section{
    display: none;
  }
  .ticket-product  .home-button-section{
    display: block;
  }
  .prod__dynamic_checkout{
    max-width: 230px;
  }
  .home-button-section{
    display: flex;
  }
  .shopify-payment-button__button.shopify-payment-button__button--unbranded{
    padding: 12px 18px;
  }
  .shopify-payment-button__button.shopify-payment-button__button--unbranded{
    margin-top: 10px;
  }
  .ticket-section1{
    padding-bottom: 40px;
  }
  .price_section{
    margin-top: 20px;
  }
  .ticket-section1{
    background-size: 100%;
  }
  .ticket-section-text h2{
    font-size: 19px;
  }
  .home-button-section{
    margin: 50px auto 12px;
  }
  
}
@media (max-width: 400px){
  .home-button-section{
    display: flex;
  }
  .ticket-product  .home-button-section{
    display: block;
  }

}

.sf-footer .sf__footer-bottom{
  display: none;
}
/* ---------------------------- LAYOUT ------------------------- */

.page-container {
  padding-top: 30px;
  padding-bottom: 90px;
}

.d-flex {
  display: flex;
}

.d-flex.align-center {
  align-items: center;
}

.text-regular {
  font-family: 'PTSans';
}

/* ---------------------------- Page Navigation --------------------------- */

.page-navigation {
  list-style: none;
  margin-bottom: -20px;
  position: relative;
}

.page-navigation a {
  background-size: cover !important;
  background-position: bottom !important;
  color: #FFB800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'RockSalt';
  font-size: 40px;
  line-height: 1;
  width: 100%;
  height: 150px;
}

.page-navigation a img {
  max-width: 700px;
  margin-top: 5px;
}

.page-container .main_content {
  padding: 45px;
}

.page-container h4 {
  font-family: 'PTSans';
  margin-top: 10px;
  margin-bottom: 10px;
}

/* -------------------------- Safety Page ------------------------------ */

.list-grid {
  justify-content: space-between;
  margin-top: 20px;
}

.list-grid label {
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.list-grid .list-grid-wrapper {
  min-width: calc(50% - 30px);
  max-width: calc(50% - 30px);
}

/* -------------------------- Getting there page ----------------------- */

.shopify-section.section-rich-content .rich-content-wrapper {
  flex-wrap: wrap;
}

.shopify-section.section-rich-content .block {
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 100%;
  max-width: 100%;
}

.shopify-section.section-rich-content .block_wrapper .block_desc {
  padding-left: 45px;
}

.shopify-section.section-rich-content .half_width {
  min-width: 50%;
  max-width: 50%;
  padding-right: 60px;
}

/* --------------------------- FAQ accordion --------------------------  */

.page-container .sf__accordio-blocks {
  max-width: 100%;
  /* margin-left: -45px; */
  /* margin-right: -45px; */
}

.page-container .sf__accordio-blocks .sf__accordion-content p {
  max-width: unset;
  /* padding-left: 45px; */
  /* padding-right: 45px; */
}

.page-container .sf__accordio-blocks .sf__accordion-button {
  padding-left: 45px;
  padding-right: 45px;
  text-align: left;
}

.page-container .faq-section {
  padding-top: 20px;
  min-height: unset;
}
.tab-section.container .tab-titles{
  margin: 0px;
  max-width: none;
}
.tab-section.container .tab-titles .tab-title{
  margin-top: 0px;
}
.page-container .page-navigation:first-child a{
  color: #cf0019;
}
.ticket-ul{
  list-style: outside;
  font-family: 'PTsans';
  margin-top: 20px;
  font-size: 20px;
  padding-left: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.time-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  column-gap: 5px;
}
#shopify-section-safety-content .d-flex{
  display: flex;
}
#shopify-section-page-faqs-covid .sf__accordion-button h1, #shopify-section-page-faqs-health .sf__accordion-button h1{
  font-family: 'PTsans';
  line-height: 1.2;
  font-size: 30px;
}
@media (max-width: 767px){
  #shopify-section-page-faqs-covid .sf__accordion-button h1, #shopify-section-page-faqs-health .sf__accordion-button h1{
    font-family: 'PTsans';
    line-height: 1.2;
    font-size: 24px;
  }
  .page-container .sf__accordio-blocks .sf__accordion-button{
    padding-left: 10px;
    padding-right: 10px;
  }
  .sf__accordio-blocks{
    padding: 0px 10px;
  }
  .time-flex{
    display: block;
    margin: 0 10px;
  }
  .sf-footer .sf-footer__block ul li a{
    font-size: 13px;
  }
  .ticket-section1 .ticket-section-subtitle h2{
    font-size: 26px;
  }
  .d-flex{
    display: block;
  }
  .block_wrapper .image_wrapper{
    width: 100% !important;
    max-width: 100% !important;
  }
  .shopify-section.section-rich-content .block_wrapper .block_desc{
    padding-left: 0px;
    margin-top: 10px;
  }
  .tab-title{
    font-size: 9px;
    font-weight: bold;
  }
  .page-container .main_content{
    padding: 20px;
  }
  .page-navigation a{
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
  }
  .page-navigation a img {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
  }
  .timer-content-section{
    display: none;
  }
  .timer-section {
    padding-top: 10px;
  }
  .timer-section h3{
    margin-bottom: 10px;
  }
  .home_header_1{
    max-width: 85%;
    margin: 0 auto;
  }
  .page-container{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .shopify-section.section-rich-content .half_width{
    width: 100%;
    max-width: 100%;
    padding: 0px;
  }
  .faq-section[data-section-id="page-faqs-health"] .sf__accordio-blocks{
    padding: 0px;
  }
  .sf__accordion-button h1{
    font-size: 15px;
    line-height: 2;
  }
  .sf-menu-wrapper-mobile{
    z-index: 101;
    position: relative;
  }
  .faq-title-section h1{
    font-size: 1.875rem;
    line-height: 1.4;
  }
  .ticket-ul{
    list-style: outside;
    font-family: 'PTsans';
    margin-top: 20px;
    padding-left: 20px;
    font-size: 15px;
  }
  .sf__pcard-content h3 a{
    font-size: 8px;
    min-height: 0px;
  }
  .sf__product-listing .sf__col-item{
    width: 50%;
  }
  .sf__pcard-content{
    padding: 5px 10px 70px;
  }
  .title-right-image, .title-left-image{
    width: 60px;
    display: none;
  }
  .roster-title{
    font-size: 37px;
  }
}

/* Footer Modals */
.footer_modal_content{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: ptsans;
  text-transform: uppercase;
  column-gap: 20px;
}
.footer_modal_content a{
  text-decoration: underline;
}
.ticket_btn svg{
  width: 37px;
  height: 37px;
  margin-right: 11px;
  fill: black;
}
#ticket_modal{
  max-width: 500px;
  background: #f1a003;
  text-align: center;
  color: #000;
  font-family: PTSans;
  padding: 20px 8px;
  height: 629px;
  background-size: contain;
}
.title-section-1, .title-section-3{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 55px;
}
.signup-title p{
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 40px;
  font-size: 20px;
}
.signup-title img{
  max-width: 175px;
}
.signup-text{
  color: #c23a30;
  font-weight: bold;
  font-size: 47px;
  font-family: PerMarker;
  margin-top: -13px;
}
.title-section-1 img{
  width: 114px;
  margin-left: 10px;
}
.signup-text-3{
  font-weight: bold;
  text-align: right;
  font-size: 21px;
  line-height: 1.2;
}
.title-section-3 img{
  width: 113px;
}
#ticket_modal form{
  margin-top: 40px;
}
#ticket_modal form .field__input{
  box-shadow: 0 0 0 0.1rem #c23a30;
  color: black;
  font-family: RockSalt;
}
#ticket_modal form label{
  color: #c23a30;
  font-family: RockSalt;
}
.newsletter-form__button_1{
    color: #f9b72e;
    border: #c23a30;
    background: #c23a30;
    padding: 13px 15px;
    font-size: 20px;
    margin-top: 40px;
    font-weight: bold;
    cursor: pointer;
}
  .newsletter-form__message{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  #ticket_modal .newsletter-form__message{
    justify-content: center;
  }
@media only screen and (max-width: 749px) {
  .banner_logo{
  	max-width: 250px !important;
  }
  .ticket_setcion{
    display: block;
  }
 
  #ticket_modal{
    max-width: 336px;
    background: #f1a003;
    text-align: center;
    color: #000;
    font-family: PTSans;
    padding: 20px 8px;
    height: 483px;
    background-size: cover;
  }
  .title-section-1, .title-section-3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 37px;
  }
  .signup-title p{
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 4px;
    font-size: 25px;
  }
  .modal img{
    max-width: 175px;
  }
  .signup-title img{
    max-width: 175px;
  }
  .signup-text{
    color: #c23a30;
    font-weight: bold;
    font-size: 32px;
    font-family: PerMarker;
    margin-top: -7px;
  }
  .title-section-1 img{
    width: 63px;
    margin-left: 10px;
  }
  .signup-text-3{
    font-weight: bold;
    text-align: right;
    font-size: 15px;
    line-height: 1.2;
  }
  .title-section-3{
    margin-top: 7px;
  }
  .title-section-3 img{
    width: 63px;
  }
  #ticket_modal .newsletter-form__field-wrapper {
    max-width: 26rem;
  }
  #ticket_modal form{
    margin-top: 25px;
  }
  #ticket_modal form .field__input{
    box-shadow: 0 0 0 0.1rem #c23a30;
    color: black;
    font-family: RockSalt;
    font-size: 13px;
    height: 4rem;
  }
  #ticket_modal form label{
    color: #c23a30;
    font-family: RockSalt;
  }
  .newsletter-form__button_1{
    color: #f9b72e;
    border: #c23a30;
    background: #c23a30;
    padding: 10px 9px;
    margin-top: 15px;
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
  }
}
@media only screen and (max-width: 410px){
  .signup-text{
    font-size: 24px;
  }
  .signup-text-3{
    font-size: 12px;
  }
}

.jquery-modal .modal{
  max-width: 1000px;
  background: #f1a003;
  text-align: center;
  color: #000;
  font-family: 'PTSans';
  padding: 20px 60px;
}
.modal_title{
  font-weight: bold;
  margin-bottom: 0px;
  font-family: 'PTsans';
}
.modal_agree_button{
  background: var(--color-black);
  padding: 1px 43px;
  color: var(--color-yellow);
  font-size: 45px;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  font-family: 'PTSans';
}
.modal img{
  max-width: 200px;
  height: auto;
  margin: 0 auto;
}
.modal_content{
  margin-top: 10px;
  border: solid;
  max-height: 220px;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
}
.modal_content .term_service{
  overflow-y: auto;
  max-height: 180px;
  padding-right: 5px;
}
.modal_content .term_service::-webkit-scrollbar {
width: 1em;
}

.modal_content .term_service::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.modal_content .term_service::-webkit-scrollbar-thumb {
background-color: black;
outline: 1px solid black;
}
.file_link, .download_term{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 19px;
  color: black;
}
.download_term{
  margin-top: 15px;
}
.download_term p{
  margin: 0px;
}
.file_link svg{
  width: 23px;
}
.agree_text{
  font-size: 19px;
  margin-bottom: 15px;
}
.modal_agree_button{
  background: #070606;
  padding: 1px 43px;
  color: #ffb800;
  font-size: 45px;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  font-family: 'PTSans';
}
.jquery-modal .modal a.close-modal{
  top: 12.5px;
  right: 12.5px;
}
@media only screen and (max-width: 749px){
  .download_term{
      display: block;
  }
  .modal_agree_button{
    font-size: 34px;
  }
  .modal_content {
      border: solid;
      max-height: 320px;
      border-radius: 10px;
      padding: 10px 10px;
  }
  .modal_content .term_service {
      overflow-y: auto;
      max-height: 280px;
      text-align: left;
      padding-right: 5px;
  }
  .jquery-modal .modal{
    padding: 20px 15px;
  }
  .modal_title{
    font-size: 30px;
  }

}
@media only screen and (min-width: 750px) {
  
  .tf-v1-popup .tf-v1-iframe-wrapper{
    width: 60% !important;
    height: 50% !important;
  }
}
.booter-bottom{
  padding-bottom: 30px;
}
.sf__footer-block-newsletter .sf-footer__block-inner{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.sf__accordion-item .sf__accordion-button{
  font-family: 'PTsans';
}
.sf-footer form.sf__footer-form-newsletter .sf__newletter__form-input{
  color: black;
  font-family: 'PTsans';
}
.sf__footer-form-newsletter-icon{
  color: black;
}
.sf__footer-form-newsletter .sf__form-submit{
  color: black;
}
.sf__footer-form-newsletter .relative{
  margin-top: -20px;
}
.notification.success{
  font-family: 'PTsan';
}
.shoppay_banner{
  max-width: 400px;
  text-align: center;
  color: white;
  font-family: PTsans;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}
.qp-container{
  font-family: 'PTsans';
}
.zip-pay{
  display: flex;
  justify-content: center;
  color: white;
  font-family: PTsans;
  margin-bottom: 28px;
}
.quick-zip-pay{
  display: flex;
  justify-content: center;
  color: white;
  font-family: PTsans;
  margin-top: 10px;
}
.quick-zip-pay .qp-open-modal-button {
  background: white;
}