.multicolumn-card__info .rte{
  border-bottom: solid 1px var(--color-red);
  padding: 30px;
  font-size: 46px;
  font-weight: 700;
  text-align: center;
  line-height: 1.1;
  font-family: 'PtSans';
  color: var(--color-dark);
}
.multicolumn-card__info  .colum-label{
border-top: solid 1px var(--color-red);
margin-top: 3px!important;
font-family: PerMarker;
text-align: center;
font-size: 60px;
color: var(--color-dark);
line-height: 50px;
padding-bottom: 15px;
}
.multicolumn-card__info  .colum-label .rotate{
transform: rotate(356deg);
}
.multicolumn .title {
margin: 0;
}

.multicolumn.no-heading .title {
display: none;
}
.multicolumn-list__item{
position: relative;
}
.card-tap-image{
position: absolute;
transform: translateY(-50%);
width: 100%;
text-align: center;
}
.card-tap-image img{
max-height: 60px;
width: auto;
}
.spaced-section.spaced-section--full-width{
margin: 0px;
}
@media screen and (max-width: 749px) {
.multicolumn.no-heading.background-secondary {
  padding-top: 5rem;
}
}

@media screen and (min-width: 750px) {
.multicolumn.no-heading:not(.background-secondary) {
  margin-top: 0px;
}
.slider-mobile-gutter{
  padding-top: 150px;
}
.slider-mobile-gutter .grid--3-col-tablet .grid__item{
  padding-left: 10rem;
}
}

.multicolumn.background-secondary .title-wrapper-with-link {
margin-top: 0;
}

@media screen and (max-width: 749px) {
.multicolumn .title-wrapper-with-link {
  margin-bottom: 3rem;
}
}

.multicolumn-card__image-wrapper--third-width {
width: 33%;
}

.multicolumn-card__image-wrapper--half-width {
width: 50%;
}

.multicolumn-list__item.center
.multicolumn-card__image-wrapper:not(.multicolumn-card__image-wrapper--full-width),
.multicolumn-list__item:only-child {
margin-left: auto;
margin-right: auto;
}

.multicolumn .button {
margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
.multicolumn .button {
  margin-top: 4rem;
}
}

.multicolumn-list {
margin-bottom: 0;
padding: 0;
}

.multicolumn-list__item:only-child {
max-width: 72rem;
}

.multicolumn:not(.background-none) .multicolumn-card {
background: var(--color-yellow);
height: 100%;
border: solid 2px var(--color-red);
position: relative;
}

.multicolumn.background-secondary .multicolumn-card {
background: rgb(var(--color-background));
}

.multicolumn.background-secondary {
padding: 4rem 0 5rem;
}

@media screen and (min-width: 750px) {
.multicolumn.background-secondary {
  padding: calc(4rem + var(--page-width-margin)) 0
    calc(5rem + var(--page-width-margin));
}
}

@media screen and (max-width: 749px) {
.multicolumn.background-secondary .slider-buttons {
  margin-bottom: -2rem;
}
}

.multicolumn:not(.background-secondary) {
}

@media screen and (min-width: 750px) {
.multicolumn:not(.background-secondary) {
 
}
}

.multicolumn-list h3 {
line-height: calc(1 + 0.5 / max(1, var(--font-heading-scale)));
}

.multicolumn-list h3,
.multicolumn-list p {
margin: 0;
}

.multicolumn-card-spacing {
position: absolute;
transform: translate(50%, -50%);
width: 50%;
}

.multicolumn-card__info > :nth-child(2) {
margin-top: 1rem;
}

.multicolumn-list__item.center .media--adapt,
.multicolumn-list__item .media--adapt img {
width: auto;
}

.multicolumn-list__item.center .media--adapt img {
left: 50%;
transform: translateX(-50%);
}

@media screen and (max-width: 749px) {
.multicolumn .page-width {
  padding: 0;
}

.multicolumn-list {
  margin: 0;
  width: 100%;
}

.multicolumn-list__item {
  margin: 0 0 1rem;
  padding: 0;
}

.multicolumn-list:not(.slider) {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.multicolumn-list.slider .multicolumn-list__item {
  width: calc(100% - 3rem);
}

.multicolumn-list.slider .multicolumn-list__item + .multicolumn-list__item {
  padding-left: 0.5rem;
}
}

@media screen and (min-width: 750px) {
.multicolumn-list.slider,
.multicolumn-list.grid--4-col-desktop {
  padding: 0;
}

.multicolumn-list__item,
.grid--4-col-desktop .multicolumn-list__item {
  padding-bottom: 0;
}

.grid--2-col-tablet .multicolumn-list__item {
  margin-top: 1rem;
  max-width: 50%;
}

.background-none .grid--2-col-tablet .multicolumn-list__item {
  margin-top: 4rem;
}

.grid--2-col-tablet .multicolumn-list__item:nth-of-type(-n + 2) {
  margin-top: 0;
}
}

@media screen and (min-width: 990px) {
.grid--2-col-tablet.grid--4-col-desktop .multicolumn-list__item {
  max-width: 25%;
}

.grid--2-col-tablet.grid--4-col-desktop
  .multicolumn-list__item:nth-of-type(-n + 4) {
  margin-top: 0;
}
}

.background-none .multicolumn-card-spacing {
padding: 0;
margin: 0;
}

.multicolumn-card__info {
padding-top: 20px;
}

.background-none .multicolumn-card__info {
padding-top: 0;
padding-left: 0;
padding-right: 0;
}

.background-none .slider .multicolumn-card__info {
padding-bottom: 0;
}

.background-none .multicolumn-card__image-wrapper + .multicolumn-card__info {
padding-top: 2.5rem;
}

.background-none .slider .multicolumn-card__info {
padding-left: 0.5rem;
}

.background-none
.slider
.multicolumn-card__image-wrapper
+ .multicolumn-card__info {
padding-left: 1.5rem;
}

.background-none
.multicolumn-list:not(.slider)
.center
.multicolumn-card__info {
padding-left: 2.5rem;
padding-right: 2.5rem;
}

@media screen and (max-width: 749px) {
.background-none .slider .multicolumn-card__info {
  padding-bottom: 1rem;
}

.multicolumn.background-none .slider.slider--mobile {
  margin-bottom: 0rem;
}
}

@media screen and (min-width: 750px) {
.background-none .multicolumn-card__image-wrapper {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.background-none .multicolumn-list .multicolumn-card__info,
.background-none
  .multicolumn-list:not(.slider)
  .center
  .multicolumn-card__info {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
}

.multicolumn-card__info .link {
text-decoration: none;
font-size: inherit;
margin-top: 1.5rem;
}

.multicolumn-card__info .icon-wrap {
margin-left: 0.8rem;
white-space: nowrap;
}
@media screen and (max-width: 1501px) {
.multicolumn-card__info .rte {
  border-bottom: solid 1px var(--color-red);
  padding: 30px;
  font-size: 46px;
  font-weight: 700;
  text-align: center;
  line-height: 1.1;
  font-family: 'PtSans';
  color: var(--color-dark);
}
.multicolumn-card__info .colum-label {
  border-top: solid 1px var(--color-red);
  margin-top: 3px!important;
  font-family: PerMarker;
  text-align: center;
  font-size: 47px;
  color: var(--color-dark);
  line-height: 50px;
  padding-bottom: 15px;
}
.slider-mobile-gutter .grid--3-col-tablet .grid__item {
  padding-left: 5rem;
}
}
@media screen and (max-width: 1301px) {
.slider-mobile-gutter .grid--3-col-tablet .grid__item {
  padding-left: 2rem;
}
.multicolumn-card__info .colum-label {
  border-top: solid 1px var(--color-red);
  margin-top: 3px!important;
  font-family: PerMarker;
  text-align: center;
  font-size: 43px;
  color: var(--color-dark);
  line-height: 50px;
  padding-bottom: 15px;
}
}
@media screen and (max-width: 991px){
.multicolumn-card__info .rte {
  border-bottom: solid 1px var(--color-red);
  padding: 21px;
  font-size: 23px;
  font-weight: 700;
  text-align: center;
  line-height: 25px;
  
  color: var(--color-dark);
}
.multicolumn-card__info .colum-label {
  border-top: solid 1px var(--color-red);
  margin-top: 3px!important;
  font-family: PerMarker;
  text-align: center;
  font-size: 26px;
  color: var(--color-dark);
  line-height: 38px;
  padding-bottom: 15px;
}
}
@media screen and (max-width: 749px){
.multicolumn-card__info .rte {
  border-bottom: solid 1px var(--color-red);
  padding: 21px;
  font-size: 41px;
  font-weight: 700;
  text-align: center;
  line-height: 46px;
  
  color: var(--color-dark);
}
.multicolumn-card__info .colum-label {
  border-top: solid 1px var(--color-red);
  margin-top: 3px!important;
  font-family: PerMarker;
  text-align: center;
  font-size: 53px;
  color: var(--color-dark);
  line-height: 59px;
  padding-bottom: 15px;
}
}