<div class="container page-container text-regular">
    {% render 'tab-section' %}
    {% render 'page-navs', handle: page.handle, flag: 0 %}
    <div class="main_content">
      <div class="page_content">
        {{ page.content }}
      </div>
      {% section 'page-faqs-hotel' %}
    </div>
    {% render 'page-navs', handle: page.handle, flag: 1 %}
  </div>