{% layout none %}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{% assign has_image = false %}
{% if product.images.size > 0 %}
  {% assign has_image = true %}
{% endif %}

<div class="flex flex-col lg:flex-row w-full sf-pqv sf-prod__block items-start" data-view="quick-view">
  {%- assign aspect_ratio = product.featured_image.aspect_ratio | default: 0.75 -%}
  {% if has_image %}
    <div class="w-full lg:w-1/2 modal_image_section{% if aspect_ratio > 1 and product.has_only_default_variant != true %} pb-[50px]{% endif %}">
      <div class="relative overflow-hidden flex items-center justify-center" style="--aspect-ratio: {{ aspect_ratio }}">
          <div class="sf-pqv__media">
            {% if product.images.size <= 1 %}
              {% render 'responsive-image',
                  image: product.featured_image,
                  wrapper_class: "w-full h-full",
                  aspect_ratio: aspect_ratio
              %}
            {% else %}
              <div class="swiper-container flex items-center w-full">
                <div class="swiper-wrapper">
                  {% for image in product.images %}
                    <div class="swiper-slide">
                      {% render 'responsive-image', image: image, image_class: 'object-cover w-full h-full' %}
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="sf-slider__controls absolute z-10 inset-x-0 top-1/2 -translate-y-1/2 flex items-center justify-between px-4">
                <button class="swiper-button-control swiper-button-prev rounded-full sf__btn-icon">
                  {% render 'icon', name: 'prev', size: 'small' %}
                </button>
                <button class="swiper-button-control swiper-button-next rounded-full sf__btn-icon">
                  {% render 'icon', name: 'next', size: 'small' %}
                </button>
              </div>
            {% endif %}
          </div>
      </div>
    </div>
  {% endif %}
  <div class="w-full flex flex-col modal_content_section {% if has_image %} lg:w-1/2 lg:absolute top-0 right-0{% else %}lg:w-7/12{% endif %} h-full">
      <div class="quick-view__info p-4 lg:p-8">
        <div class="flex">
          <div class="prod__title flex justify-between items-center">
            <h1 class="text-2xl md:text-3xl md:leading-[42px] pr-2">{{ product.title }}</h1>
          </div>
          {% render 'product-prices', price_class: 'text-xl' %}
        </div>
        <div class="lg:block mt-[25px] mb-4 text-white">
          {{ product.description }}
        </div>
        <div class="actions-block border-b border-color-border">
          {% render 'product-form',
              section_id: section.id,
              product: product,
              current_variant: current_variant,
              show_quantity_selector: true,
              show_sizeguide: false
          %}
        </div>
      </div>
  </div>
</div>
